Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

refactor ConnectedMap and introduce MapLibreContainer; streamline map instance management, enhance configuration handling, and improve component structure
  src/components/ConnectedMap/ConnectedMap.tsx
  src/components/ConnectedMap/MapLibreContainer.tsx
Due: UI Components

cleanup
  docs/architecture/ADR-005-Implementation-Status.md
  docs/architecture/ADR-005-Validation-Summary.md
  docs/architecture/ADR-006-Migration-Guide.md
  docs/architecture/ADR-007-Enhanced-MapPopover-Content-Provider-Architecture.md
Due: none

refactor tooltip feature; remove unused tooltip components and atoms, streamline integration with map components, and enhance provider registration logic
  docs/architecture/ADR-014-Map-Selection-Concepts.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/components/ConnectedMap/MapLibreContainer.tsx
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/router/routes.tsx
  src/core/shared_state/currentTooltip.ts
  src/features/tooltip/atoms/closeOnLocationChangeAtom.ts
  src/features/tooltip/components/PopupTooltip/PopupTooltip.module.css
  src/features/tooltip/components/PopupTooltip/PopupTooltip.tsx
  src/features/tooltip/index.tsx
  src/views/CommonView.tsx
Due: UI Components, Core Logic, Features

refactor map integration; enhance event handler management for improved performance, streamline map resource cleanup, and introduce utility for waiting on map readiness
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/metrics/app-metrics.ts
  src/core/metrics/map-utils.ts
  src/utils/test/wait.ts
Due: UI Components, Core Logic

fix antimeridian crossing, lazy getfeatures
  docs/investigations/R012-MapPopover-Architecture-Issues-Analysis.md
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/core/map/utils/projectionFunction.ts
Due: Core Logic

pass className props for better styling, remove unused zoom event handlers in BivariateRenderer and ClickableFeaturesRenderer, and update CSS
  src/components/Overlays/Popover.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.module.css
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/features/boundary_selector/components/BoundarySelector.module.css
  src/features/boundary_selector/components/BoundarySelectorContentProvider.tsx
  src/views/Map/Map.module.css
Due: UI Components, Core Logic, Features

Enhance DebugMapPopoverProvider with geometry type icons and improve feature display; refactor adjustLongitudeForMapBounds to accept longitude bounds directly for better clarity.
  src/core/map/popover/DebugMapPopoverProvider.tsx
  src/core/map/utils/projectionFunction.ts
Due: Core Logic

fix Suspense cascade, optimize availableRoutesAtom with caching, fix mountedlayers update cascade
  docs/investigations/R013-MountedLayers-Reatom-Patches-Flow-Analysis.md
  package.json
  pnpm-lock.yaml
  src/components/LoadingSpinner/LoadingSpinner.tsx
  src/core/logical_layers/utils/logicalLayerFabric.ts
  src/core/router/atoms/availableRoutes.ts
  src/core/router/components/Router.tsx
  src/core/store/store.ts
  src/views/CommonView.tsx
  src/views/Map/Map.tsx
Due: UI Components, Core Logic

fix(lockfile): update lockfile
  pnpm-lock.yaml
Due: none

fix(lockfile): update lockfile (#1096)
  pnpm-lock.yaml
Due: none

Deploying to gh-pages from @ konturio/disaster-ninja-fe@40863c41d761fda5b359810b6e046ee5df5cf0fd 🚀
  index.html
Due: none

refactor dependency management in logical layer atoms; update package.json to use @reatom/core version 3.10.1, remove circular dependencies for mount and enable states, and fix build
  docs/investigations/R013-MountedLayers-Reatom-Patches-Flow-Analysis.md
  docs/investigations/R014-LogicalLayerFabric-Architecture-Deep-Analysis.md
  package.json
  pnpm-lock.yaml
  src/core/logical_layers/utils/logicalLayerFabric.ts
  vite.config.ts
Due: Core Logic

revert id
  src/core/logical_layers/utils/logicalLayerFabric.ts
Due: Core Logic

fix(locate_me): 18696 cleanup geolocation watch
  src/features/locate_me/LocateMeButton.tsx
  src/features/locate_me/readme.md
Due: Features

review fixes
  src/components/ConnectedMap/ConnectedMap.tsx
  src/components/ConnectedMap/MapLibreContainer.tsx
Due: UI Components

revert layerfabric
  docs/investigations/R015-Logical-Layer-Atoms-Cascade-Analysis.md
  src/core/logical_layers/utils/logicalLayerFabric.ts
  src/core/store/store.ts
Due: Core Logic

Update glass-theme.css
  src/styles/glass-theme.css
Due: none

fix: 21262 responsive media in markdown pages (#1060)
  src/core/pages/pages.css
Due: Core Logic

Deploying to gh-pages from @ konturio/disaster-ninja-fe@49802085fc7ba9e94925a8c776026bfd1aaf9227 🚀
  assets/BivariateGreetings-FmNToMEW.js
  assets/_virtual_cosmos-imports-BKLVpIEh.css
  assets/_virtual_cosmos-imports-DGGz41tT.js
  assets/index-CayktwSW.js
  index.html
  renderer.html
Due: none

better analysis
  docs/investigations/R015-Logical-Layer-Atoms-Cascade-Analysis.md
Due: none

fix(map): 00000 anchor map container
  src/views/Map/Map.module.css
Due: UI Components

Update constants.ts
  src/features/user_profile/components/SettingsForm/constants.ts
Due: Features

Update TranslationService.ts
  src/core/localization/TranslationService.ts
Due: Core Logic

Update common.json
  src/core/localization/translations/en/common.json
Due: none

reactive cascade fix
  package.json
  pnpm-lock.yaml
  src/core/logical_layers/utils/logicalLayerFabric.ts
Due: Core Logic

review fixes
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/core/map/utils/containerRectManager.ts
Due: Core Logic

feat(profile): add Polish language
  src/core/localization/TranslationService.ts
  src/core/localization/gettext/ar/common.po
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/de/common.po
  src/core/localization/gettext/es/common.po
  src/core/localization/gettext/id/common.po
  src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/pl/common.po
  src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/uk/common.po
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/SettingsForm/constants.ts
Due: Core Logic, Features

update common.pot
  src/core/localization/gettext/template/common.pot
Due: Core Logic

Update src/core/localization/gettext/pl/common.po
  src/core/localization/gettext/pl/common.po
Due: Core Logic

gettext sync
  src/core/localization/gettext/ar/common.po
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/de/common.po
  src/core/localization/gettext/es/common.po
  src/core/localization/gettext/id/common.po
  src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/pl/common.po
  src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/uk/common.po
Due: Core Logic

Update src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/ko/common.po
Due: Core Logic

add polish translations
  src/core/localization/gettext/pl/common.po
Due: Core Logic

refactor popover ids
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/GenericRenderer.ts
Due: Core Logic

fix(llm_analytics): limit header size
  src/core/pages/pages.css
Due: Core Logic

fix(reports): 19207 open josm links via window
  src/features/reports/components/ReportTable/TableCell.tsx
  src/features/reports/readme.md
Due: Features

fix(events_list): 20437 show unlisted event card
  src/features/events_list/atoms/eventListResource.ts
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/components/FullState/FullState.tsx
  src/features/events_list/readme.md
Due: Features

fix(toolbar): 21487 shrink toolbar width to content
  src/features/toolbar/components/ToolbarContent/ToolbarContent.module.css
  src/features/toolbar/readme.md
Due: Features

fix(toolbar): 17452 hide tooltip in expanded state
  docs/investigations/tooltips-popups-current-status-report.md
  e2e/page-objects/toolBar.ts
  src/features/toolbar/components/ToolbarButton/ToolbarButton.tsx
Due: Features

fix(event-episodes): 16725 auto-fit timeline on event switch
  src/features/event_episodes/atoms/autoFitEpisodesTimeline.ts
  src/features/event_episodes/atoms/episodesTimeline.test.ts
  src/features/event_episodes/atoms/episodesTimeline.ts
  src/features/event_episodes/index.tsx
  src/features/event_episodes/model.ts
  src/features/event_episodes/readme.md
Due: Features

fix(breadcrumbs): add shadow when toolbar is absent\n\nRefs: 20418
  src/features/breadcrumbs/BreadcrumbsPanel.module.css
  src/features/breadcrumbs/BreadcrumbsPanel.tsx
  src/views/Map/Map.tsx
Due: UI Components, Features

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
