Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

feat(20907): add glass theme (#991)
  src/components/Panel/index.ts
  src/components/Search/SearchInput/SearchInput.module.css
  src/components/Search/SearchInput/SearchInput.tsx
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.module.css
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.tsx
  src/features/create_layer/components/EditFeaturesPanel/EditFeaturesPanel.tsx
  src/features/create_layer/components/EditLayerPanel/EditLayerPanel.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/search/index.tsx
  src/features/search/styles.module.css
  src/features/toolbar/components/ToolbarButton/ToolbarButton.tsx
  src/main.tsx
  src/styles/glass-theme.css
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Features

feat(20907): fix mobile search
  src/features/search/styles.module.css
Due: Features

sync i18n
  src/core/localization/gettext/ar/common.po
Due: Core Logic

20955 add belarusian and russian languages to profile (#990)
  src/core/localization/TranslationService.ts
  src/core/localization/gettext/ar/common.po
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/de/common.po
  src/core/localization/gettext/es/common.po
  src/core/localization/gettext/id/common.po
  src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/template/common.pot
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/SettingsForm/constants.ts
Due: Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@0233ddbae8b226b8659286f7fa4b780e02b7702f 🚀
  assets/_virtual_cosmos-imports-Bd42tqsS.js
  assets/index-fXccxtXG.js
  renderer.html
Due: none

feat(20907): fix mobile search background (#1001)
  src/features/search/styles.module.css
Due: Features

feat(multivariate): 21063 Use maxZoom based on indicators in Multivariate config
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
Due: Core Logic

feat: enhance deployment workflow to automatically merge pull requests after creation.
  .github/workflows/deploy_stage.yml
Due: none

feat: update deployment workflow to dynamically reference environment in PR merge process
  .github/workflows/deploy_stage.yml
Due: none

feat: enhance deployment workflow to automatically merge pull request… (#1003)
  .github/workflows/deploy_stage.yml
Due: none

fix: fix createTileSource() visibility
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
Due: Core Logic

feat(multivariate): 21063 Use maxZoom based on indicators in Multivariate config (#1002)
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
Due: Core Logic

feat(12805): open panels as bottom sheets on mobile kontur apps (#1000)
  package.json
  pnpm-lock.yaml
  src/components/Panel/styles.module.css
  src/features/events_list/components/EventsPanel/EventsPanel.module.css
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/LayerFeaturesPanel.module.css
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/utils/hooks/useShortPanelState.tsx
  src/views/Map/Map.module.css
  src/views/Map/Map.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.module.css
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Features, Utilities

Revert "chore(deps): bump i18next-conv from 15.1.0 to 15.1.1 (#955)"
  package.json
  pnpm-lock.yaml
Due: none

Revert "chore(deps): bump i18next-conv from 15.1.0 to 15.1.1 (#955)" (#1004)
  package.json
  pnpm-lock.yaml
Due: none

Deploying to gh-pages from @ konturio/disaster-ninja-fe@3b62d41596c5eb2c4fd63202260bb7cdf2d9a696 🚀
  index.html
Due: none

Version 2.43.0
  package.json
Due: none

Version 2.43.0 (#1005)
  package.json
Due: none

Deploying to gh-pages from @ konturio/disaster-ninja-fe@1ab4afef966c3761a48561598aa3109eb4bb4302 🚀
  index.html
Due: none

feat: add workflow author to slack deploy notifications
  .github/workflows/deploy_stage.yml
Due: none

feat: enhance Slack notifications with progress and status reactions
  .github/workflows/deploy_stage.yml
Due: none

feat: restructure deployment workflow to include Slack notifications for start, success, and failure
  .github/workflows/deploy_stage.yml
Due: none

feat: add Slack bot token to deployment workflow for enhanced notifications
  .github/workflows/deploy_stage.yml
Due: none

feat: add Slack message methods for deployment progress updates
  .github/workflows/deploy_stage.yml
Due: none

bugfix(20961): fix mobile pricing plans page
  src/features/subscriptions/components/PaymentPlanCard/PaymentPlanCard.module.css
  src/features/subscriptions/components/PricingContent/PricingContent.module.css
Due: Features

feat: improve Slack message error handling and update success condition for reactions
  .github/workflows/deploy_stage.yml
Due: none

feat: update deployment workflow to ensure success condition for notifications after build and publish
  .github/workflows/deploy_stage.yml
Due: none

feat: disable unfurling of media in Slack deployment messages
  .github/workflows/deploy_stage.yml
Due: none

feat: update deployment workflow to always run notification steps and comment out message sending
  .github/workflows/deploy_stage.yml
Due: none

feat: add error handling for missing Slack channel or timestamp in deployment workflow
  .github/workflows/deploy_stage.yml
Due: none

feat: enhance Slack deployment messages with branch link and update timestamp field
  .github/workflows/deploy_stage.yml
Due: none

feat: update Slack notification workflow to use a fixed channel and remove unused channel output
  .github/workflows/deploy_stage.yml
Due: none

feat: update Slack emoji handling to include success and failure responses with error checks
  .github/workflows/deploy_stage.yml
Due: none

feat: update Slack deployment message to link to branch tree instead of commit
  .github/workflows/deploy_stage.yml
Due: none

feat: update Slack deployment message to use correct image tag output
  .github/workflows/deploy_stage.yml
Due: none

feat: update Slack deployment message formatting and set IMAGE_TAG output
  .github/workflows/deploy_stage.yml
Due: none

feat: improve Slack deployment message formatting for better readability
  .github/workflows/deploy_stage.yml
Due: none

feat: update Slack deployment message to include branch link formatting
  .github/workflows/deploy_stage.yml
Due: none

feat: enhance Slack deployment notifications with structured message formatting and status updates
  .github/workflows/deploy_stage.yml
Due: none

feat: refine Slack deployment message structure and enhance image tag visibility
  .github/workflows/deploy_stage.yml
Due: none
