Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

feat: save baseValue and annexValue expressions as variables
  src/utils/multivariate/multivariateStyle.ts
Due: Utilities

feat(20572): fix second 2 scrolls on search results mobile page
  src/features/search/componets/SearchBar/SearchBar.module.css
Due: Features

feat: show proper MCDA legend for Multivariate layers
  src/components/Layer/index.tsx
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/core/logical_layers/types/legends.ts
  src/features/mcda/atoms/mcdaLayer.ts
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/TransformationsChart/TransformationsChart.tsx
  src/features/multivariate_layer/helpers/multivariateLayerActions.ts
  src/utils/mcda/generateHclGradientColors.test.ts
  src/utils/mcda/generateHclGradientColors.ts
  src/utils/mcda/mcdaLegendsUtils.ts
Due: UI Components, Core Logic, Features, Utilities

feat(20572): fix second 2 scrolls on search results mobile page (#960)
  src/features/search/componets/SearchBar/SearchBar.module.css
Due: Features

feat: show Bivariate legend for Multivariate layer
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

chore: added TODO
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
Due: UI Components, Core Logic

review fixes
  src/core/api/insights.ts
  src/core/resources/eventFeedsResource.ts
Due: Core Logic

fix
  src/core/api_client/apiClient.ts
  src/core/auth/constants.ts
Due: Core Logic

refactor(apiClient): update authentication requirements to simplify logic and improve consistency across API calls and tests
  src/core/api/assets.ts
  src/core/api_client/readme.md
  src/core/api_client/tests/README.md
  src/core/api_client/tests/apiClient.test.ts
  src/core/api_client/tests/authorization.test.ts
  src/core/api_client/tests/factories/auth.factory.ts
  src/core/auth/OidcSimpleClient.test.ts
  src/core/auth/OidcSimpleClient.ts
Due: Core Logic

Version 2.40.1
  package.json
Due: none

Version 2.40.1 (#961)
  package.json
Due: none

refactor(apiClient): simplify request handling and improve URL construction; remove unused authentication response types
  src/core/api_client/apiClient.ts
  src/core/api_client/types.ts
  src/core/api_client/utils.ts
  src/core/auth/OidcSimpleClient.ts
Due: Core Logic

update documentation
  src/core/api_client/readme.md
Due: Core Logic

refactor(apiClient): improve URL handling and request configuration; ensure proper typing and chaining for wretch requests
  src/core/api_client/apiClient.ts
Due: Core Logic

test(apiClient): remove redundant token refresh tests and streamline error handling scenarios in authorization tests
  src/core/api_client/tests/authorization.test.ts
Due: none

refactor(apiClient): streamline authentication logic by removing unnecessary checks for AUTH_REQUIREMENT.NEVER; update tests to reflect new behavior for optional and mandatory authentication scenarios
  src/core/api_client/apiClient.ts
  src/core/api_client/tests/apiClient.test.ts
  src/core/auth/OidcSimpleClient.ts
Due: Core Logic

refactor(apiClient): replace AUTH_REQUIREMENT constants with apiClient.AUTH_REQUIREMENT in API calls for consistency and maintainability
  src/core/api/assets.ts
  src/core/api/boundaries.ts
  src/core/api/features.ts
  src/core/api/insights.ts
  src/core/api/layers.ts
  src/core/api/mcda.ts
  src/core/api/search.ts
  src/core/api/subscription.ts
  src/core/api/users.ts
  src/core/api_client/apiClient.ts
  src/core/config/loaders/appConfigLoader.ts
  src/core/metrics/app-metrics.ts
  src/core/resources/bivariateStatisticsResource/index.ts
  src/core/resources/eventFeedsResource.ts
  src/core/shared_state/currentEventResource.ts
  src/features/advanced_analytics_panel/atoms/advancedAnalyticsWorldResource.ts
  src/features/bivariate_color_manager/atoms/bivariateColorManagerResource.ts
  src/features/create_layer/atoms/currentEditedLayerFeatures.ts
  src/features/create_layer/atoms/editableLayerController.ts
  src/features/create_layer/atoms/editableLayersDetailsResource.ts
  src/features/create_layer/atoms/editableLayersListResource.ts
  src/features/event_episodes/atoms/episodesResource.ts
  src/features/events_list/atoms/eventListResource.ts
  src/features/layers_in_area/atoms/areaLayersDetailsResource/areaLayersDetailsResourceAtom.ts
  src/features/live_sensor/SensorsSnapshotsSender.ts
  src/features/reports/atoms/reportResource.ts
  src/features/reports/atoms/reportsAtom.ts
Due: Core Logic, Features

chore: rename fields: "base" -> "score", "annex" -> "base", swap their position in bivariate style
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/mockStyles.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
  src/features/multivariate_layer/helpers/multivariateLayerActions.ts
  src/utils/bivariate/getMaxZoomLevel.ts
  src/utils/multivariate/multivariateStyle.ts
Due: UI Components, Core Logic, Features, Utilities

feat: show axis labels
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

feat: add step overrides to config
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/utils/multivariate/constants.ts
  src/utils/multivariate/multivariateStyle.ts
Due: UI Components, Core Logic, Utilities

fix: fix incorrectly assigned classes
  src/utils/multivariate/multivariateStyle.ts
Due: Utilities

chore: rename tileLabel field to text
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
Due: Core Logic

chore: simplify type
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
Due: Core Logic

chore: extract Hexagon from bivariate popup as separate component
  src/components/Hexagon/Hexagon.module.css
  src/components/Hexagon/Hexagon.tsx
  src/components/MapHexTooltip/MapHexTooltip.module.css
  src/components/MapHexTooltip/MapHexTooltip.tsx
Due: UI Components

feat: show hex class on Multibivariate popup
  src/core/logical_layers/renderers/MCDARenderer/popup.ts
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
Due: Core Logic

fix: fix opening popup when the hex is obstructed by other layers
  src/core/logical_layers/renderers/ClickableTilesRenderer/ClickableTilesRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
Due: Core Logic

fix(20649): Always show numbers in Bivariate hex popup
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
Due: Core Logic

chore: make values prop in MapHexTooltipProps non-optional
  src/components/MapHexTooltip/MapHexTooltip.tsx
Due: UI Components

fix(20649): Always show numbers in Bivariate hex popup (#964)
  src/components/MapHexTooltip/MapHexTooltip.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
Due: UI Components, Core Logic

test: fixes of login logics, screenshots updates
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-pro-darwin.png
  e2e/login.spec.ts
  e2e/page-objects/helperBase.ts
  e2e/page-objects/mcdaPopup.ts
  e2e/page-objects/pricingPage.ts
Due: none

feat(20432): select ref area by user location
  src/core/focused_geometry/types.ts
  src/core/localization/translations/en/common.json
  src/core/shared_state/referenceArea.ts
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.module.css
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.tsx
  src/utils/common/userLocation.ts
Due: Core Logic, Features, Utilities

test: updated more screenshots and made mcda input more like user
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-pro-linux.png
  e2e/page-objects/mcdaPopup.ts
Due: none

Update login tests for new logics (#965)
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-pro-linux.png
  e2e/login.spec.ts
  e2e/page-objects/helperBase.ts
  e2e/page-objects/mcdaPopup.ts
  e2e/page-objects/pricingPage.ts
Due: none

fix: fix error message in Bivariate renderer
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
Due: Core Logic

feat: support backend-side layers with 'multivariate' type
  src/core/logical_layers/utils/convert.ts
  src/core/logical_layers/utils/getLayerRenderer.ts
Due: Core Logic

fix: open multivariate files as style, not config
  src/features/multivariate_layer/helpers/multivariateLayerActions.ts
  src/features/multivariate_layer/index.ts
Due: Features

feat(20433): translations refactor
  src/core/localization/translations/en/common.json
  src/features/reports/components/search/Searchbar.tsx
Due: Features

feat(20433): search input refactor
  src/components/Search/SearchBar/SearchBar.module.css
  src/components/Search/SearchBar/SearchBar.tsx
  src/components/Search/SearchInput/SearchInput.module.css
  src/components/Search/SearchInput/SearchInput.tsx
Due: UI Components

refactor: Improve column context and feature card components
  docs/columnContext-improvements.md
  docs/list-panel-architecture.md
  src/components/Icon/index.tsx
  src/core/store/columnContext.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/eventToUniCard.ts
  src/features/layer_features_panel/atoms/helpers/acaps.ts
  src/features/layer_features_panel/components/CardElements/ActionButtons.tsx
  src/features/layer_features_panel/components/CardElements/index.ts
Due: UI Components, Core Logic, Features

authrequirement review
  src/core/api/insights.ts
  src/core/api/mcda.ts
  src/core/api/search.ts
  src/core/resources/bivariateStatisticsResource/index.ts
  src/core/resources/eventFeedsResource.ts
  src/features/advanced_analytics_panel/atoms/advancedAnalyticsWorldResource.ts
  src/features/layers_in_area/atoms/areaLayersDetailsResource/areaLayersDetailsResourceAtom.ts
  vite.config.ts
Due: Core Logic, Features
