Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

feat(21712): show "Normalized value" in hex popups for normalized/transformed layers
  src/core/localization/translations/en/common.json
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.tsx
Due: Core Logic

fix: typo
  src/core/localization/translations/en/common.json
Due: none

fix: hide OSM editor field when feature disabled
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Features

feat(oam-auth): refactor OAM authentication configuration and update related components
  src/core/config/__mocks__/_configMock.ts
  src/core/config/loaders/stageConfigLoader.ts
  src/core/config/types.ts
  src/features/oam-auth/components/OAMAuthRequired.tsx
  src/features/oam-auth/components/OAMAuthWrapper.tsx
  src/features/oam-auth/readme.md
Due: Core Logic, Features

feat: add cross-frame oauth auth provider
  src/core/app/types.ts
  src/core/auth/crossFrameOAuth.module.css
  src/core/auth/crossFrameOAuth.tsx
  src/core/config/__mocks__/_configMock.ts
  src/core/config/types.ts
  src/core/localization/translations/en/common.json
  src/core/router/routes.tsx
  src/features/oam-auth/components/OAMAuthRequired.tsx
  src/features/oam-auth/components/OAMAuthWrapper.tsx
  src/features/oam-auth/readme.md
Due: Core Logic, Features

fix report change detection (#1050)
  src/features/reports/components/ReportInfo/ReportInfo.tsx
Due: Features

feat(oam-auth): refactor OAM authentication configuration and update related components
  configs/config.default.json
  src/core/config/__mocks__/_configMock.ts
  src/core/config/loaders/stageConfigLoader.ts
  src/core/config/types.ts
  src/features/oam-auth/components/OAMAuthRequired.tsx
  src/features/oam-auth/components/OAMAuthWrapper.tsx
  src/features/oam-auth/readme.md
Due: Core Logic, Features

feat(multivariate): 21207 Extrusion dimension in multivariate layers (#1065)
  src/components/ConnectedMap/map-libre-adapter/index.tsx
  src/core/localization/translations/en/common.json
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createExtrusionLayerSpecification.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/constants.ts
  src/features/mcda/components/MCDALayerEditor/MCDARangeControls/MCDARangeControls.tsx
  src/features/multivariate_layer/components/CustomStepsInput/CustomStepsInput.tsx
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.module.css
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.module.css
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
  src/features/multivariate_layer/constants.ts
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
  src/utils/form/inputFilters.ts
Due: UI Components, Core Logic, Features, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@7bdb420b3e31b7c910377c31073b30f744bcd891 🚀
  assets/BivariateGreetings-DqvFFkRI.js
  assets/_virtual_cosmos-imports-DZSx5gQ5.js
  assets/index-DkJ4yCwX.js
  renderer.html
Due: none

refactor labels generation for PopupMCDA
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.tsx
Due: Core Logic

feat(oam-auth): handle oam auth with oam auth wrapper (#1063)
  src/core/app/types.ts
  src/core/config/__mocks__/_configMock.ts
  src/core/config/types.ts
  src/core/localization/translations/en/common.json
  src/core/router/routes.tsx
  src/features/oam-auth/components/OAMAuthRequired.module.css
  src/features/oam-auth/components/OAMAuthRequired.tsx
  src/features/oam-auth/components/OAMAuthWrapper.tsx
  src/features/oam-auth/readme.md
Due: Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@25f81e8090eae03b6e9ac6d5c4c5fd83d0ff8189 🚀
  assets/BivariateGreetings-D4Watxm2.js
  assets/_virtual_cosmos-imports-ZRhmtozm.js
  assets/index-CLLZzaYh.js
  renderer.html
Due: none

Version 2.49.0
  package.json
Due: none

Version 2.49.0 (#1069)
  package.json
Due: none

Deploying to gh-pages from @ konturio/disaster-ninja-fe@e274c31e65948751826b10c4a164c00aba83e6a3 🚀
  assets/BivariateGreetings-Sgw5yzzz.js
  assets/_virtual_cosmos-imports-xw0aAjQ0.js
  assets/index-Dl8IMfWx.js
  renderer.html
Due: none

feat(21025): fix comments
  src/core/api/layers.ts
  src/core/toolbar/index.ts
  src/features/create_layer/CustomLayerDrawToolsWidget.tsx
  src/features/create_layer/atoms/currentEditedLayerFeatures.ts
  src/features/create_layer/atoms/editableLayerController.ts
  src/features/create_layer/constants.ts
  src/features/create_layer/drawToolsControl.ts
Due: Core Logic, Features

feat(21648): Redirect to Map after succesful login
  src/core/auth/OidcSimpleClient.ts
Due: Core Logic

fix: check map availability
  src/core/auth/OidcSimpleClient.ts
Due: Core Logic

feat(AI): Create AGENTS.md
  AGENTS.md
Due: none

fix(router): 19964 prevent pricing redirect on profile reload
  e2e/reloadWithUser.spec.ts
  src/core/router/components/Router.tsx
Due: Core Logic

fix(router): 21648 refine login redirects
  src/core/auth/OidcSimpleClient.ts
  src/core/router/components/Router.tsx
  src/core/router/readme.md
  src/core/url_store/dataInURLEncoder.test.ts
  src/core/url_store/encoder.ts
  src/features/user_profile/readme.md
Due: Core Logic, Features

feat(popup): 21712 show "Normalized value" in hex popups for normalized/transformed layers (#1066)
  src/core/localization/translations/en/common.json
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.tsx
Due: Core Logic

Deploying to gh-pages from @ konturio/disaster-ninja-fe@09e5bf6a57b57fe4686ca7977bfbb6ff452624d8 🚀
  assets/BivariateGreetings-DGRC5lY-.js
  assets/_virtual_cosmos-imports-Ci4LVf1L.js
  assets/index-Cw_V3qfB.js
  renderer.html
Due: none

Map Popover system implementation
  src/components/Overlays/Popover.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapClickHandler.ts
  src/core/map/hooks/useMapPopoverInteraction.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverController.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/MapPopoverServiceAdapter.ts
  src/core/map/popover/PopoverPositionCalculator.ts
  src/core/map/types.ts
Due: UI Components, Core Logic

fix(21755): Fix OSM editor field visibility
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Features

fix: redirect to / after successful login
  src/core/auth/OidcSimpleClient.ts
Due: Core Logic

chore: remove unused imports
  src/core/auth/OidcSimpleClient.ts
Due: Core Logic

chore: update comment
  src/core/auth/OidcSimpleClient.ts
Due: Core Logic

fix(Layers panel): 21754 Fix enabling/disabling different layers with the same name
  src/components/Layer/index.tsx
  src/components/LayerControl/LayerControl.tsx
Due: UI Components

fix(router): 21648 adjust redirect comment
  src/core/router/components/Router.tsx
  src/core/router/readme.md
  src/core/router/routes.tsx
  src/core/router/types.ts
  src/core/url_store/dataInURLEncoder.test.ts
  src/features/user_profile/readme.md
Due: Core Logic, Features

feat(server): add caching headers and tests
  server/main.go
  server/main_test.go
Due: none

test(server): none verify cache headers
  server/main_test.go
Due: none

test(server): Fibery#none check file write errors
  server/README.md
  server/main_test.go
Due: none

rearch and add adr
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  docs/investigations/renderer-tooltips-popups-report.md
  src/components/Overlays/Popover.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapPopoverInteraction.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverController.ts
  src/core/map/popover/MapPopoverPositionCalculator.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/MapPopoverServiceAdapter.ts
  src/core/map/types.ts
Due: UI Components, Core Logic

Phase 1
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  src/core/map/hooks/useMapPopoverInteraction.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/core/map/types.ts
Due: Core Logic

MapPopoverContentRegistry
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  src/core/map/MapPopover.md
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverContentRegistry.ts
Due: Core Logic

fix(router): 21648 use constant login redirect order
  src/core/router/components/Router.tsx
  src/core/router/readme.md
  src/core/router/routes.tsx
  src/core/router/types.ts
  src/features/user_profile/readme.md
Due: Core Logic, Features

integrate into global map
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/globalMapPopoverRegistry.ts
Due: UI Components, Core Logic

debug fixes
  cosmos.config.json
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/components/Uni/__mocks__/fixture.module.css
  src/core/map/popover/MapPopover.fixture.tsx
Due: none

test(bivariate): #0000 replace snapshot tests
  docs/investigations/maplibre-migration.md
  docs/investigations/renderer-tooltips-popups-report.md
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/MCDARenderer/MCDARenderer.tsx
  src/core/logical_layers/renderers/MCDARenderer/index.ts
  src/features/bivariate_manager/readme.md
  src/utils/bivariate/bivariateToMultivariate.test.ts
  src/utils/bivariate/bivariateToMultivariate.ts
Due: Core Logic, Features, Utilities
