Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

feat(layers panel): 22412 make axis group mutually exclusive. Fix "openByDefault" flag for groups and categories (#1244)
  src/core/localization/translations/en/common.json
  src/core/logical_layers/constants.ts
  src/features/layers_panel/components/Category/Category.tsx
  src/features/layers_panel/components/Group/Group.tsx
Due: Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@215ae5046baac7a1d4ee3d28e4da90217938405e 🚀
  assets/_virtual_cosmos-imports-DEFV83nQ.js
  assets/index-CWx9UZ5B.js
  renderer.html
Due: none

fix(subscriptions): localize plan labels (#1220)
  src/core/localization/translations/en/common.json
  src/features/subscriptions/components/PaymentPlanCard/PaymentPlanCard.tsx
  src/features/subscriptions/components/Price/Price.tsx
  src/features/subscriptions/components/PricingContent/PricingContent.tsx
Due: Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@0531bf92df1280f2647f4a7a766fbed8f1be2f01 🚀
  assets/_virtual_cosmos-imports-Tz4hBLW6.js
  assets/index-D3xGtwwu.js
  renderer.html
Due: none

fix flags usage, remove deprecated
  docs/architecture/ADR-005-Map-Interaction-System-Consolidation.md
  docs/architecture/Feature-Flags.md
  package.json
  pnpm-lock.yaml
  src/core/router/components/Router.tsx
  src/core/url_store/atoms/urlStore.ts
  src/features/events_list/components/FeedSelector/index.tsx
Due: Core Logic, Features

Version 2.55.0
  package.json
Due: none

Version 2.55.0 (#1245)
  package.json
Due: none

fix(toolbar): 21890 enable mouse wheel horizontal scroll
  src/features/toolbar/components/ToolbarContent/ToolbarContent.test.tsx
  src/features/toolbar/components/ToolbarContent/ToolbarContent.tsx
Due: Features

chore(deps): update @floating-ui/react to version 0.27.15 and related dependencies in package.json and pnpm-lock.yaml
  docs/architecture/ADR-015-Dialog-System-Architecture.md
  docs/investigations/MapPopover-SOLID-Violations-Report.md
  docs/investigations/architectural-debt-analysis.md
  docs/investigations/map-popover-tracker-spec.md
  docs/investigations/renderer-tooltips-popups-report.md
  docs/investigations/tooltips-popups-current-status-report.md
  docs/reatom/reatom2-core-guide.md
  package.json
  pnpm-lock.yaml
  src/utils/atoms/v3tov2.ts
Due: Utilities

Create Backstory.md
  docs/Backstory.md
Due: none

Create General Info – Disaster Ninja.md
  docs/General Info – Disaster Ninja.md
Due: none

Create How to prepare new reports.md
  docs/How to prepare new reports.md
Due: none

Create How to apply new color theme to DN.md
  docs/How to apply new color theme to DN.md
Due: none

Deploying to gh-pages from @ konturio/disaster-ninja-fe@1fbb4fbc44a80df1bd7cc6b2ca226170c2788df4 🚀
  assets/_virtual_cosmos-imports-B7P41ttb.js
  assets/_virtual_cosmos-imports-PaK9Yaqt.css
  assets/index-cEbYcdNR.js
  renderer.html
Due: none

Create Disaster Ninja URL Scheme.md
  docs/Disaster Ninja URL Scheme.md
Due: none

Deploying to gh-pages from @ konturio/disaster-ninja-fe@30caf7d20d2c5a5852ddc253bc9cccb8d629f518 🚀
  assets/_virtual_cosmos-imports-DXvvuHQg.css
  assets/_virtual_cosmos-imports-Tz4hBLW6.js
  assets/index-D3xGtwwu.js
  renderer.html
Due: none

Create FE debug tools.md
  docs/FE debug tools.md
Due: none

Create Feature flag in User Profile Service.md
  docs/Feature flag in User Profile Service.md
Due: none

Create GIS Solution List Links.md
  docs/GIS Solution List Links.md
Due: none

Create Sentiment color management.md
  docs/Sentiment color management.md
Due: none

Create Color interpolation scheme.md
  docs/Color interpolation scheme.md
Due: none

Create Bivariate matrix calculation.md
  docs/Bivariate matrix calculation.md
Due: none

Create FE Localization guide.md
  docs/FE Localization guide.md
Due: none

fix: only force min-max normalization for mcda layer style with sentiments paint
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/index.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
Due: Core Logic

fix non-normalized text layers in MVA getting inverted
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/index.ts
Due: Core Logic

fix typo
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
Due: Core Logic

fix(mcda): Fix forced normalization in mcda (#1247)
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/index.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
Due: Core Logic

feat(search): 22291 select area when location chosen (#1194)
  src/features/search/atoms/highlightedGeometry.ts
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/constants.ts
  src/features/search/index.tsx
  src/features/search/initSearchHighlightLayer.ts
  src/features/search/readme.md
  src/features/search/renderers/SearchHighlightRenderer.ts
  src/features/search/searchAtoms.ts
  src/features/search/searchLocationAtoms.ts
Due: Features

Delete src/features/toolbar/components/ToolbarContent/ToolbarContent.test.tsx
  src/features/toolbar/components/ToolbarContent/ToolbarContent.test.tsx
Due: none

fix(toolbar): enable mouse wheel horizontal scroll (#1246)
  src/features/toolbar/components/ToolbarContent/ToolbarContent.tsx
Due: Features

fix(legend): replace outline circles with lines (#1231)
  src/components/SimpleLegend/SimpleLegend.test.tsx
  src/components/SimpleLegend/SimpleLegend.tsx
  src/components/SimpleLegend/icons/CircleIcon.test.tsx
  src/components/SimpleLegend/icons/CircleIcon.tsx
  src/core/logical_layers/types/legends.ts
Due: UI Components, Core Logic

Revert "feat(search): 22291 select area when location chosen (#1194)"
  src/features/search/atoms/highlightedGeometry.ts
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/constants.ts
  src/features/search/index.tsx
  src/features/search/initSearchHighlightLayer.ts
  src/features/search/readme.md
  src/features/search/renderers/SearchHighlightRenderer.ts
  src/features/search/searchAtoms.ts
  src/features/search/searchLocationAtoms.ts
Due: Features

Revert "feat(search): 22291 select area when location chosen (#1194)" (#1248)
  src/features/search/atoms/highlightedGeometry.ts
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/constants.ts
  src/features/search/index.tsx
  src/features/search/initSearchHighlightLayer.ts
  src/features/search/readme.md
  src/features/search/renderers/SearchHighlightRenderer.ts
  src/features/search/searchAtoms.ts
  src/features/search/searchLocationAtoms.ts
Due: Features

Version 2.56.0
  package.json
  pnpm-lock.yaml
Due: none

Version 2.56.0 (#1249)
  package.json
  pnpm-lock.yaml
Due: none

Deploying to gh-pages from @ konturio/disaster-ninja-fe@e0eb93ce752feabf47208721dd75ce6ba68a8a4c 🚀
  assets/_virtual_cosmos-imports-CVvrolG6.js
  assets/_virtual_cosmos-imports-DXvvuHQg.css
  assets/_virtual_cosmos-imports-xH5YC0kI.css
  assets/index-BkmpI-QZ.js
  renderer.html
Due: none

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__test__/**, **/__tests__/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__test__/**, **/__tests__/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__test__/**, **/__tests__/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__test__/**, **/__tests__/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
