Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

Update common.po
  src/core/localization/gettext/ru/common.po
Due: Core Logic

fix: remove redundant auto flag from PR merge command in deploy_dev.yml
  .github/workflows/deploy_dev.yml
Due: none

fix: remove redundant auto flag from PR merge command in deploy_dev.yml (#998)
  .github/workflows/deploy_dev.yml
Due: none

fix(20732): fix toolbar horizontal scroll padding (#994)
  src/features/toolbar/components/ToolbarContent/ToolbarContent.module.css
Due: Features

Update common.po
  src/core/localization/gettext/be/common.po
Due: Core Logic

feat(12805): open panels as bottom sheet panels
  package.json
  pnpm-lock.yaml
  src/components/Panel/styles.module.css
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/LayerFeaturesPanel.module.css
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.module.css
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Features

feat(12805): open panels as bottom sheet panels
  src/features/events_list/components/EventsPanel/EventsPanel.module.css
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Features

feat(20907): change event card hover
  src/features/events_list/components/EventCard/EventCard.module.css
Due: Features

feat(20907): fix search menu/banner have wrong stack context (invisible) when in panel with backdrop-filer: blur
  src/features/search/index.tsx
  src/features/search/styles.module.css
  src/styles/glass-theme.css
Due: Features

Update src/core/localization/gettext/be/common.po
  src/core/localization/gettext/be/common.po
Due: Core Logic

Update src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/ru/common.po
Due: Core Logic

feat: enhance deployment workflow to support multiple environments and update image tag handling
  .github/workflows/deploy_dev.yml
Due: none

chore: rename deployment workflow from 'Deploy to Environment' to 'Deploy to Stage'
  .github/workflows/deploy_dev.yml
Due: none

feat(20907): css variables values override
  src/features/events_list/components/EventCard/EventCard.module.css
  src/styles/glass-theme.css
Due: Features

Update common.pot
  src/core/localization/gettext/template/common.pot
Due: Core Logic

Update common.json
  src/core/localization/translations/en/common.json
Due: none

sync i18n
  src/core/localization/gettext/ar/common.po
  src/core/localization/gettext/de/common.po
  src/core/localization/gettext/es/common.po
  src/core/localization/gettext/id/common.po
  src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/uk/common.po
Due: Core Logic

Update src/core/localization/gettext/uk/common.po
  src/core/localization/gettext/uk/common.po
Due: Core Logic

Update common.po
  src/core/localization/gettext/uk/common.po
Due: Core Logic

feat: rename deploy to dev workflow file
  .github/workflows/deploy_stage.yml
Due: none

feat: enhance deployment workflow to support multiple environments and update image tag handling (#999)
  .github/workflows/deploy_stage.yml
Due: none

feat(17510): change mobile panel header
  src/components/Panel/styles.module.css
  src/features/events_list/components/EventsPanel/EventsPanel.module.css
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/LayerFeaturesPanel.module.css
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/utils/hooks/useShortPanelState.tsx
  src/views/Map/Map.module.css
  src/views/Map/Map.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.module.css
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Features, Utilities

feat(12805): add closing on click
  src/features/events_list/components/EventsPanel/EventsPanel.module.css
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/LayerFeaturesPanel.module.css
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.module.css
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Features

Update common.po
  src/core/localization/gettext/ar/common.po
Due: Core Logic

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
