Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

doc style
  src/core/map/MapPopover.md
Due: Core Logic

review fixes
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  docs/investigations/ConnectedMap-architecture.md
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopoverPositionCalculator.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/utils/maplibreCoordinateUtils.ts
Due: Core Logic

remove outdated code
  src/components/ConnectedMap/map-libre-adapter/index.tsx
Due: UI Components

fix
  src/features/boundary_selector/atoms/boundaryActions.ts
  src/features/boundary_selector/atoms/boundaryRegistryAtom.ts
Due: Features

Refactor boundary selector to use mappopover system
  docs/investigations/boundary-selector-mapopopover-migration.md
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/features/boundary_selector/atoms/boundaryMarkerAtom.ts
  src/features/boundary_selector/atoms/boundaryRegistryAtom.ts
  src/features/boundary_selector/atoms/clickCoordinatesAtom.ts
  src/features/boundary_selector/components/BoundarySelectorContentProvider.tsx
  src/features/boundary_selector/components/getSelectorWithOptions.tsx
  src/features/boundary_selector/components/styles.module.css
  src/features/boundary_selector/control.ts
  src/features/boundary_selector/index.tsx
  src/features/boundary_selector/utils/createDropdownAsMarker.ts
Due: Core Logic, Features

fix
  src/features/boundary_selector/atoms/boundaryResourceAtom.ts
Due: Features

simplify selector code
  src/features/boundary_selector/atoms/boundaryActions.ts
  src/features/boundary_selector/atoms/boundaryResourceAtom.ts
  src/features/boundary_selector/components/BoundarySelectorContentProvider.tsx
Due: Features

misc fixes
  src/core/draw_tools/renderers/DrawModeRenderer.ts
  src/core/shared_state/mapListeners.ts
Due: Core Logic

adr5
  docs/architecture/ADR-005-Implementation-Status.md
  docs/architecture/ADR-005-Validation-Summary.md
  docs/investigations/R006-map-event-management.md
Due: none

fixes, new adr
  docs/architecture/ADR-005-Map-Interaction-System-Consolidation.md
  docs/architecture/ADR-007-Enhanced-MapPopover-Content-Provider-Architecture.md
  src/core/logical_layers/renderers/BivariateRenderer/BivariatePopoverProviders.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesPopoverProvider.tsx
  src/core/logical_layers/renderers/GenericRenderer.ts
  src/core/logical_layers/renderers/activeContributorsLayers.ts
  src/core/logical_layers/renderers/helpers/activeAndHoverFeatureStates.ts
Due: Core Logic

adr updates
  docs/architecture/ADR-007-Enhanced-MapPopover-Content-Provider-Architecture.md
Due: none

fix(url_store): 21381 convert coordinates with absolute value < 0.001 to 0.000 (#1092)
  src/core/url_store/dataInURLEncoder.test.ts
  src/core/url_store/encoder.ts
Due: Core Logic

fix(router): 21648 Redirect to Map by default after login (#1077)
  src/core/auth/OidcSimpleClient.ts
  src/core/router/components/Router.tsx
  src/core/router/constants.ts
  src/core/router/readme.md
  src/features/user_profile/readme.md
Due: Core Logic, Features

Version 2.50.1
  package.json
Due: none

Version 2.50.1 (#1093)
  package.json
Due: none

test: fixed e2e tests, added new, unblocked fixed, reviewed code, updated playwright
  e2e/login.spec.ts
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-webkit-pro-darwin.png
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-webkit-pro-linux.png
  e2e/page-objects/helperBase.ts
  e2e/page-objects/mapPage.ts
  e2e/page-objects/navigationMenu.ts
  e2e/page-objects/privacyPage.ts
  e2e/privacy.spec.ts
  e2e/privacyWithPro.spec.ts
  e2e/privacyWithUser.spec.ts
  e2e/registration.spec.ts
  e2e/reload.spec.ts
  e2e/reloadWithPro.spec.ts
  e2e/reloadWithUser.spec.ts
  e2e/testsData/links-privacy.json
  e2e/testsData/projects-config.json
  e2e/toolBarTexts.spec.ts
  e2e/toolBarTextsWithUser.spec.ts
  package.json
Due: none

review fixes
  docs/architecture/ADR-006-Migration-Guide.md
  docs/investigations/R007-map-type-standardization.md
  docs/investigations/R008-antimeridian-popover-positioning.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/components/Overlays/MarkdownContent.tsx
  src/components/Overlays/Popover.tsx
  src/components/Uni/__mocks__/fixture.module.css
  src/core/draw_tools/renderers/DrawModeRenderer.ts
  src/core/logical_layers/renderers/BivariateRenderer/BivariatePopoverProviders.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesPopoverProvider.tsx
  src/core/map/hooks/useApplicationMap.ts
  src/core/map/hooks/useMapInstance.ts
  src/core/map/hooks/useMapLayers.ts
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/hooks/useMapPositionTracking.ts
  src/core/map/index.ts
  src/core/map/plugins/MapPlugin.ts
  src/core/map/plugins/MapPopoverPlugin.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/globalMapPopoverRegistry.ts
  src/core/map/providers/MapLibreProvider.ts
  src/core/map/types.ts
  src/core/map/utils/coordinateValidation.ts
  src/core/map/utils/maplibreCoordinateUtils.ts
  src/features/boundary_selector/atoms/boundaryActions.ts
  src/features/boundary_selector/components/BoundarySelectorContentProvider.tsx
Due: UI Components, Core Logic, Features

review fixes
  src/components/Overlays/MarkdownContent.tsx
  src/core/map/hooks/useApplicationMap.ts
Due: UI Components, Core Logic

test: fixed e2e tests, added new, unblocked fixed, reviewed code, updated playwright (#1095)
  e2e/login.spec.ts
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-webkit-pro-darwin.png
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-webkit-pro-linux.png
  e2e/page-objects/helperBase.ts
  e2e/page-objects/mapPage.ts
  e2e/page-objects/navigationMenu.ts
  e2e/page-objects/privacyPage.ts
  e2e/privacy.spec.ts
  e2e/privacyWithPro.spec.ts
  e2e/privacyWithUser.spec.ts
  e2e/registration.spec.ts
  e2e/reload.spec.ts
  e2e/reloadWithPro.spec.ts
  e2e/reloadWithUser.spec.ts
  e2e/testsData/links-privacy.json
  e2e/testsData/projects-config.json
  e2e/toolBarTexts.spec.ts
  e2e/toolBarTextsWithUser.spec.ts
  package.json
Due: none

event fixes and cleanup
  docs/investigations/R006-map-event-management.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/shared_state/mapListeners.ts
  src/core/types/index.ts
  src/features/boundary_selector/constants.ts
  src/utils/map/markers.ts
Due: UI Components, Core Logic, Features, Utilities

review fixes
  src/components/ConnectedMap/ConnectedMap.tsx
  src/components/Overlays/MarkdownContent.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useApplicationMap.ts
  src/core/map/hooks/useMapLayers.ts
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/hooks/useMapPositionTracking.ts
Due: UI Components, Core Logic

fixes
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/index.ts
Due: UI Components, Core Logic

simplify map usage
  docs/architecture/ADR-007-Pragmatic-Map-Loading-Architecture.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/hooks/useApplicationMap.ts
  src/core/map/hooks/useMapEffect.ts
  src/core/map/hooks/useMapEvents.ts
  src/core/map/hooks/useMapInstance.ts
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/hooks/useMapPositionTracking.ts
  src/core/map/index.ts
  src/core/map/plugins/MapPopoverPlugin.ts
  src/core/map/providers/IMapProvider.ts
  src/core/map/providers/MapLibreProvider.ts
  src/core/map/types.ts
Due: UI Components, Core Logic

investigation
  docs/investigations/R009-MapPopover-Position-Tracking-Architecture-Analysis.md
  src/components/ConnectedMap/ConnectedMap.tsx
Due: UI Components

fix: refine layer features panel layouts
  src/features/layer_features_panel/components/LayerFeaturesPanel/FullState.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/LayerFeaturesPanel.module.css
  src/features/layer_features_panel/components/LayerFeaturesPanel/ShortState.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layer_features_panel/layouts/acaps.ts
  src/features/layer_features_panel/layouts/formats.ts
  src/features/layer_features_panel/layouts/index.ts
  src/features/layer_features_panel/readme.md
  src/features/layer_features_panel/types/layerFeature.ts
Due: Features

refactor map integration and event handling; streamline atom usage and remove unused code
  docs/architecture/ADR-008-MapPopover-Priority-Event-Integration.md
  docs/investigations/R010-mappopover-implementation.md
  docs/investigations/R011-coordinate-tracking-rearchitecture.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/shared_state/currentMapPosition.ts
  src/core/shared_state/mapListeners.ts
Due: UI Components, Core Logic

optimize coordinate handling, and improve performance with memoization
  docs/architecture/ADR-013-Coordinate-Tracking-Rearchitecture.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/utils/containerRectManager.ts
  src/core/map/utils/maplibreCoordinateUtils.ts
  src/core/map/utils/projectionFunction.ts
Due: UI Components, Core Logic

feat(layer_features): 21634 copy uni layouts for feature cards from codex-generated PR. Add temporary dividers for easier development
  src/components/Uni/Components/UniComponents.fixture.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/FullState.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/LayerFeaturesPanel.module.css
  src/features/layer_features_panel/components/LayerFeaturesPanel/ShortState.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layer_features_panel/layouts/acaps.ts
  src/features/layer_features_panel/layouts/formats.ts
  src/features/layer_features_panel/layouts/hotProjects.ts
  src/features/layer_features_panel/layouts/layouts.ts
  src/features/layer_features_panel/layouts/oam.ts
Due: Features

refactor: move UniLayoutRenderer inside LayerFeaturesCard
  src/features/layer_features_panel/components/LayerFeaturesCard/LayerFeaturesCard.module.css
  src/features/layer_features_panel/components/LayerFeaturesCard/index.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/FullState.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/LayerFeaturesPanel.module.css
  src/features/layer_features_panel/components/LayerFeaturesPanel/ShortState.tsx
Due: Features

feat: Format values in id and priority badges for HOT projects
  src/components/Uni/Components/Badge.tsx
  src/core/localization/translations/en/common.json
  src/features/layer_features_panel/layouts/formats.ts
  src/features/layer_features_panel/layouts/hotProjects.ts
Due: UI Components, Features

feat: add urlTemplate prop to Url component
  src/components/Uni/Components/Url.tsx
  src/features/layer_features_panel/layouts/hotProjects.ts
Due: UI Components, Features

fix left padding on layer feature card
  src/features/layer_features_panel/components/LayerFeaturesCard/LayerFeaturesCard.module.css
  src/features/layer_features_panel/components/LayerFeaturesCard/index.tsx
Due: Features

fix time format in hot projects template
  src/components/Uni/formatsRegistry.ts
  src/features/layer_features_panel/layouts/hotProjects.ts
Due: UI Components, Features

fix: make capitalize util function work on upper-case text
  src/utils/common/strings.ts
Due: Utilities

feat: add formatting to Mapping Types field
  src/components/Uni/fieldsRegistry.ts
  src/components/Uni/formatsRegistry.ts
  src/features/layer_features_panel/layouts/formats.ts
Due: UI Components, Features

Map Popover system implementation
  src/components/Overlays/Popover.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapClickHandler.ts
  src/core/map/hooks/useMapPopoverInteraction.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverController.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/MapPopoverServiceAdapter.ts
  src/core/map/popover/PopoverPositionCalculator.ts
  src/core/map/types.ts
Due: UI Components, Core Logic

rearch and add adr
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  docs/investigations/renderer-tooltips-popups-report.md
  src/components/Overlays/Popover.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapPopoverInteraction.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverController.ts
  src/core/map/popover/MapPopoverPositionCalculator.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/MapPopoverServiceAdapter.ts
  src/core/map/types.ts
Due: UI Components, Core Logic

Phase 1
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  src/core/map/hooks/useMapPopoverInteraction.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/core/map/types.ts
Due: Core Logic

debug fixes
  cosmos.config.json
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/components/Uni/__mocks__/fixture.module.css
  src/core/map/popover/MapPopover.fixture.tsx
Due: none

MapPopoverContentRegistry
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  src/core/map/MapPopover.md
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverContentRegistry.ts
Due: Core Logic

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
