Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

isolate feature flag panel components in Suspenses; ensure consistent SortedEventListAtom shape in sortedEventListAtom.
  src/features/events_list/atoms/sortedEventList.ts
  src/views/Map/Map.tsx
Due: UI Components, Features

test: add tests for checkIfCondition
  src/components/Uni/Layout/types.ts
  src/components/Uni/helpers/checkIfCondition.test.ts
  src/components/Uni/helpers/checkIfCondition.ts
Due: UI Components

fix(locate_me): 18696 cleanup geolocation
  src/features/locate_me/LocateMeButton.tsx
Due: Features

feat(locate_me): 18696 show spinner while locating (#1085)
  src/features/locate_me/LocateMeButton.tsx
  src/features/locate_me/index.tsx
  src/features/locate_me/readme.md
Due: Features

fix(intercom): DN2-17967 address review feedback
  src/core/app/authHooks.ts
  src/core/metrics/externalMetrics/yandexMetrics.ts
  src/features/intercom/index.test.ts
  src/features/intercom/index.ts
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Core Logic, Features

fix(intercom): DN2-17967 document manual cookie removal
  src/features/intercom/index.ts
  src/features/intercom/readme.md
Due: Features

fix(mcda): 22053 simplify code
  src/features/mcda/components/MCDALayerEditor/index.tsx
  src/features/mcda/readme.md
  src/features/mcda/utils/removeLayerFromConfig.test.ts
  src/features/mcda/utils/removeLayerFromConfig.ts
Due: Features

feat(mcda): 22053 Add Delete layer button in MCDA layer editor (#1136)
  src/features/mcda/components/MCDALayerEditor/index.tsx
Due: Features

feat: add Block container component
  src/components/Uni/Components/Block.module.css
  src/components/Uni/Components/Block.tsx
Due: UI Components

feat: add Title level support
  src/components/Uni/Components/Base.module.css
  src/components/Uni/Components/Base.tsx
  src/components/Uni/Components/UniComponents.fixture.tsx
Due: UI Components

feat: ACAPS risks list layout
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/components/Uni/componentsRegistry.ts
  src/core/api/__mocks__/_acapsSampleData.js
  src/features/layer_features_panel/layouts/acaps.ts
Due: UI Components, Features

feat: add format prop to Base (Text, Title)
  src/components/Uni/Components/Base.tsx
  src/components/Uni/formatsRegistry.ts
  src/core/api/__mocks__/_acapsSampleData.js
  src/features/layer_features_panel/layouts/acaps.ts
Due: UI Components, Features

feat: add useFormattedValue hook
  src/components/Uni/Components/Badge.tsx
  src/components/Uni/Components/Base.tsx
  src/components/Uni/hooks/useFormattedValue.ts
  src/features/layer_features_panel/layouts/acaps.ts
Due: UI Components, Features

fix Title rendering. Fix UniComponents fixture
  src/components/Uni/Components/Base.module.css
  src/components/Uni/Components/Base.tsx
  src/components/Uni/Components/UniComponents.fixture.tsx
  src/components/Uni/Components/UniComponents.module.css
  src/core/api/__mocks__/_acapsSampleData.js
Due: UI Components

feat: add format prop to CardHeader
  src/components/Uni/Components/CardHeader.tsx
Due: UI Components

ACAPS seasonal events layout
  src/features/layer_features_panel/layouts/acaps.ts
Due: Features

delete mock hot layout
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/components/Uni/__mocks__/_hotLayout.js
Due: none

ACAPS information landscape layout
  src/features/layer_features_panel/layouts/hotProjects.ts
Due: Features

ACAPS Protection risks monitor layout
  src/core/api/__mocks__/_acapsSampleData.js
  src/features/layer_features_panel/layouts/acaps.ts
Due: Features

Download link for OAM layout
  src/components/Uni/Components/Url.module.css
  src/components/Uni/Components/Url.tsx
  src/features/layer_features_panel/layouts/oam.ts
Due: UI Components, Features

fix(map): handle missing tile urls for multivariate
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
Due: Core Logic

chore(codecov): 00000 enforce non-regressive coverage
  codecov.yml
Due: none

review fixes
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/shared_state/mapListeners.ts
  vite.config.ts
Due: Core Logic

Deploying to gh-pages from @ konturio/disaster-ninja-fe@b70975707d82bf8d0ab28223d74040603322a66c 🚀
  assets/BivariateGreetings-Dd-Pxk7Q.js
  assets/_virtual_cosmos-imports-BKLVpIEh.css
  assets/_virtual_cosmos-imports-BXSrozca.js
  assets/_virtual_cosmos-imports-C8WZjQh8.css
  assets/_virtual_cosmos-imports-DGGz41tT.js
  assets/index-BeAUti_Y.js
  cosmos.fixtures.json
  index.html
  renderer.html
Due: none

Update src/core/pages/pages.css
  src/core/pages/pages.css
Due: Core Logic

fix(llm_analytics): 18918 AI Insights h1/h2 font size (#1101)
  src/core/pages/pages.css
Due: Core Logic

Deploying to gh-pages from @ konturio/disaster-ninja-fe@e9d095d55c2f413a8cecad202e2c8abab80b6fa3 🚀
  assets/BivariateGreetings-CbodzPuY.js
  assets/_virtual_cosmos-imports-CNcpB4qj.css
  assets/_virtual_cosmos-imports-Dv1pG95R.js
  assets/index-CCn1mURn.js
  renderer.html
Due: none

Refactor and fix applying string template to Url
  src/components/Uni/Components/Url.tsx
  src/components/Uni/helpers/applyValueToTemplate.ts
Due: UI Components

Add Image component for OAM
  src/components/Uni/Components/Image.module.css
  src/components/Uni/Components/Image.tsx
  src/components/Uni/componentsRegistry.ts
  src/features/layer_features_panel/layouts/oam.ts
Due: UI Components, Features

code fixes for 18586
  src/core/localization/gettext/template/common.pot
  src/core/localization/translations/en/common.json
  src/core/toolbar/readme.md
  src/core/toolbar/types.ts
  src/features/mcda/index.ts
  src/features/toolbar/components/ToolbarButton/ToolbarButton.tsx
Due: Core Logic, Features

remove additional line from readme
  src/core/toolbar/readme.md
Due: Core Logic

feat(toolbar): 18586 custom MCDA tooltips (#1125)
  e2e/testsData/toolbar-buttons.json
  src/core/localization/translations/en/common.json
  src/core/toolbar/types.ts
  src/features/create_layer/CustomLayerDrawToolsWidget.tsx
  src/features/mcda/index.ts
  src/features/toolbar/components/ShortToolbarButton/ShortToolbarButton.tsx
  src/features/toolbar/components/ToolbarButton/ToolbarButton.tsx
  src/features/toolbar/components/ToolbarControl/ToolbarControl.tsx
  src/widgets/FocusedGeometryEditor/DrawToolsWidget.tsx
Due: UI Components, Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@2437402b6ecfef563bb09504bc686d45d20953f1 🚀
  assets/BivariateGreetings-D0oSlFvK.js
  assets/_virtual_cosmos-imports-Cc3UYTrX.js
  assets/index-SGXhHdbZ.js
  renderer.html
Due: none

chore(codecov): 00000 enforce non-regressive coverage (#1140)
  codecov.yml
Due: none

Version 2.51.0
  package.json
Due: none

Version 2.51.0 (#1141)
  package.json
Due: none

docs(readme): 14387 add contributing guidelines
  README.md
Due: none

Move layer features formats into separate folder
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layer_features_panel/formats/layerFeaturesFormats.ts
Due: Features

remove unused date_time format
  src/features/layer_features_panel/formats/layerFeaturesFormats.ts
Due: Features

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
