Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

feat: move creation of text layer specification into separate function
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/formatFeatureText.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
Due: Core Logic

chore: axis -> mcda
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
Due: Core Logic

feat: add rounding. Remove propertyName
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
Due: Core Logic

chore: decimals -> precision
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
Due: Core Logic

fix: don't mount text layer if value expression is undefined
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
Due: Core Logic

chore: rename fields
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
Due: Core Logic

Version 2.46.0
  package.json
Due: none

Version 2.46.0 (#1043)
  package.json
Due: none

feat: support multiline output
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
Due: Core Logic

feat: Add Labels (text) dimension to MVA creation form
  src/core/localization/translations/en/common.json
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Core Logic, Features

fix: Fix editing MCDA layers in text dimension
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

feat: add units support to format string
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/formatFeatureText.ts
Due: Core Logic

refactor: value -> values
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
Due: Core Logic

feat: use units for MCDA layers mode in text dimension
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Core Logic, Features

feat(20921): use uniLayout for current event
  src/features/events_list/components/EventCard/Analytics/Analytics.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/components/EventsPanel/eventLayouts.ts
  src/features/presentation_mode/CurrentEvent/CurrentEvent.tsx
Due: Features

feat(20921): refactor
  src/boot.ts
  src/components/CurrentEvent/CurrentEvent.tsx
  src/components/LayersCopyrights/LayersCopyrights.module.css
  src/components/LayersCopyrights/LayersCopyrights.tsx
  src/components/LayersCopyrights/useLayersCopyrights.ts
  src/core/config/index.ts
  src/core/config/types.ts
  src/core/url_store/types.ts
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.module.css
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.tsx
  src/features/legend_panel/components/LegendsList/LegendsList.tsx
  src/features/legend_panel/components/PanelContent/PanelContent.tsx
  src/features/presentation_mode/CurrentEvent/CurrentEvent.module.css
  src/global.css
  src/styles/presentation-mode.css
  src/views/Map/Layouts/Presentation/Presentation.tsx
  src/views/Map/Map.tsx
Due: UI Components, Core Logic, Features

feat(20921): add app features
  src/core/app/types.ts
  src/views/Map/Layouts/Presentation/Presentation.tsx
Due: UI Components, Core Logic

feat(20921): fix type
  src/core/url_store/types.ts
Due: Core Logic

feat(20921): fixes
  src/components/MapTitle/MapTitle.module.css
  src/components/MapTitle/MapTitle.tsx
  src/features/events_list/components/EventCard/EventCard.tsx
  src/features/legend_panel/components/PanelContent/PanelContent.module.css
  src/features/legend_panel/components/PanelContent/PanelContent.tsx
  src/features/presentation_mode/LegendsPanel/LegendsPanel.tsx
  src/views/Map/Layouts/Presentation/Presentation.tsx
Due: UI Components, Features

feat(21323): pr fixes
  src/components/LayersCopyrights/LayersCopyrights.tsx
  src/core/logical_layers/utils/useLayersCopyrights.ts
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/side_bar/components/SideBar/ToggleButton.tsx
  src/styles/presentation-mode.css
  src/views/Map/Layouts/Presentation/CurrentEvent.tsx
  src/views/Map/Layouts/Presentation/Presentation.tsx
Due: UI Components, Core Logic, Features

feat(21323): pr fixes
  src/components/MapTitle/MapTitle.module.css
  src/components/MapTitle/MapTitle.tsx
  src/features/side_bar/components/AppLogo/AppLogo.tsx
  src/styles/presentation-mode.css
Due: UI Components, Features

- Refactored tooltip components to replace PopupTooltip with InfoPopover and simplified tooltip handling in various components. - Removed unused PopupTooltipTrigger and related styles.
  docs/investigations/bivariate-matrix-architecture.md
  docs/investigations/maplibre-migration.md
  docs/investigations/tooltips-popups-current-status-report.md
  package.json
  pnpm-lock.yaml
  src/components/BivariateLegend/BivariateLegend.fixture.tsx
  src/components/BivariateLegend/CornerTooltipWrapper.tsx
  src/components/Floating/Floating.module.css
  src/components/Floating/SimpleRefTooltip.tsx
  src/components/LayerInfo/LayerInfo.tsx
  src/components/Overlays/InfoPopover.tsx
  src/components/Overlays/Overlays.fixture.tsx
  src/components/Overlays/Overlays.module.css
  src/components/Overlays/Popover.tsx
  src/components/Overlays/Tooltip.tsx
  src/components/Overlays/index.ts
  src/components/PopupTooltipTrigger/PopupTooltipTrigger.module.css
  src/components/PopupTooltipTrigger/PopupTooltipTrigger.tsx
  src/components/PopupTooltipTrigger/index.ts
  src/features/bivariate_color_manager/components/LegendWithMapContainer/LegendWithMapContainer.tsx
  src/features/bivariate_color_manager/components/SentimentsCombinationsList/CombinationsSublist.tsx
  src/features/bivariate_manager/components/BivariateMatrixContainer/BivariateMatrixContainer.tsx
  src/features/bivariate_manager/components/BivariatePanel/BivariatePanel.tsx
  src/features/bivariate_manager/components/ConnectedBivariateMatrix/ConnectedBivariateMatrix.tsx
  src/features/bivariate_manager/fixtures/BivariateMatrixControl.fixture.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameterRow/MCDALayerParameterRow.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
  src/features/side_bar/components/SideBar/ToggleButton.tsx
  tsconfig.json
Due: UI Components, Features

test: fixing e2e tests
  e2e/auth.setup.ts
  e2e/authAsPro.setup.ts
  e2e/locationWithPro.spec.ts
  e2e/locationWithUser.spec.ts
  e2e/login.spec.ts
  e2e/mcdaWithPro.spec.ts
  e2e/openOsmUpdateProfileWithPro.spec.ts
  e2e/openOsmWithUser.spec.ts
  e2e/page-objects/helperBase.ts
  e2e/page-objects/mapPage.ts
  e2e/page-objects/toolBar.ts
  e2e/privacy.spec.ts
  e2e/privacyWithPro.spec.ts
  e2e/privacyWithUser.spec.ts
  e2e/registration.spec.ts
  e2e/reloadWithPro.spec.ts
  e2e/reloadWithUser.spec.ts
  e2e/toolBarTextsWithPro.spec.ts
  e2e/toolBarTextsWithUser.spec.ts
Due: none

test: blocked tests with issues
  e2e/populationPopup.spec.ts
  e2e/populationPopupWithPro.spec.ts
  e2e/reload.spec.ts
  e2e/reloadWithPro.spec.ts
  e2e/reloadWithUser.spec.ts
Due: none

test: fix links expectations
  e2e/testsData/links-privacy.json
Due: none

Fix e2e tests (#1044)
  e2e/auth.setup.ts
  e2e/authAsPro.setup.ts
  e2e/locationWithPro.spec.ts
  e2e/locationWithUser.spec.ts
  e2e/login.spec.ts
  e2e/mcdaWithPro.spec.ts
  e2e/openOsmUpdateProfileWithPro.spec.ts
  e2e/openOsmWithUser.spec.ts
  e2e/page-objects/helperBase.ts
  e2e/page-objects/mapPage.ts
  e2e/page-objects/toolBar.ts
  e2e/populationPopup.spec.ts
  e2e/populationPopupWithPro.spec.ts
  e2e/privacy.spec.ts
  e2e/privacyWithPro.spec.ts
  e2e/privacyWithUser.spec.ts
  e2e/registration.spec.ts
  e2e/reload.spec.ts
  e2e/reloadWithPro.spec.ts
  e2e/reloadWithUser.spec.ts
  e2e/testsData/links-privacy.json
  e2e/toolBarTextsWithPro.spec.ts
  e2e/toolBarTextsWithUser.spec.ts
Due: none

misc- consolidated breaking changes from v4 and v5 for clarity
  docs/investigations/maplibre-migration.md
Due: none

refactor: simplify LayerInfo and InfoPopover components
  src/components/Layer/useControlElements.tsx
  src/components/LayerInfo/LayerInfo.tsx
  src/components/Overlays/InfoPopover.tsx
  src/components/Overlays/Overlays.module.css
  src/components/Overlays/Popover.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameterRow/MCDALayerParameterRow.module.css
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameterRow/MCDALayerParameterRow.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
Due: UI Components, Features

props and css fixes
  docs/investigations/renderer-tooltips-popups-report.md
  src/components/FoldingWrap/FoldingWrap.module.css
  src/components/Overlays/InfoPopover.tsx
Due: UI Components

feat(20921): uncomment code
  src/features/side_bar/components/SideBar/ToggleButton.tsx
Due: Features

feat(20921): create mvp presentation widgets (#1025)
  src/boot.ts
  src/components/Layer/index.tsx
  src/components/LayersCopyrights/LayersCopyrights.module.css
  src/components/LayersCopyrights/LayersCopyrights.tsx
  src/components/MapTitle/MapTitle.module.css
  src/components/MapTitle/MapTitle.tsx
  src/core/app/types.ts
  src/core/config/index.ts
  src/core/config/types.ts
  src/core/logical_layers/utils/useLayersCopyrights.ts
  src/core/url_store/types.ts
  src/features/events_list/components/EventCard/Analytics/Analytics.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/components/EventsPanel/eventLayouts.ts
  src/features/legend_panel/components/LegendsList/LegendsList.tsx
  src/features/legend_panel/components/PanelContent/PanelContent.tsx
  src/features/side_bar/components/AppLogo/AppLogo.tsx
  src/global.css
  src/styles/presentation-mode.css
  src/views/Map/Layouts/Presentation/CurrentEvent.tsx
  src/views/Map/Layouts/Presentation/Presentation.module.css
  src/views/Map/Layouts/Presentation/Presentation.tsx
  src/views/Map/Map.tsx
Due: UI Components, Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@1b4c1a4bb3d12bd454cc256fce948e29be04589b 🚀
  assets/BivariateGreetings-QP5IcWaD.js
  assets/_virtual_cosmos-imports-Vi6DJNhH.js
  assets/index-v1-MnN7S.js
  renderer.html
Due: none

fix: fix moveLayerToDimension in form
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
  src/utils/mcda/createMCDALayersFromBivariateAxes.ts
Due: Features, Utilities

fix: use index instead of id to edit/delete/remove MCDA layers from dimensions
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
Due: Features

chore: i18n legend
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

fix read-only error
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

feat: add Labels dimension to MultivariateLayerEditor
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
Due: Features

feat: checkbox for text mode
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.module.css
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

chore: extract default text precision into a constant
  src/features/multivariate_layer/constants.ts
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

fix Layer Features panel header for OAM
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layer_features_panel/constants.ts
Due: Features

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
