Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

fix: small fixes
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.module.css
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

fix: increase minimal height of the dialog
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.module.css
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

fix: fix custom steps input margins
  src/features/multivariate_layer/components/CustomStepsInput/CustomStepsInput.module.css
Due: Features

fix: fix config validation
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

review fixes
  src/components/Uni/Components/Badge.module.css
  src/components/Uni/Components/Badge.tsx
  src/components/Uni/Components/Card.module.css
  src/components/Uni/Components/CardHeader.module.css
  src/components/Uni/Components/Field.module.css
  src/components/Uni/Components/Field.tsx
  src/components/Uni/Components/Url.module.css
  src/components/Uni/Components/Url.tsx
  src/components/Uni/Layout/LayoutProvider.tsx
  src/components/Uni/Layout/LayoutRenderer.tsx
  src/components/Uni/__mocks__/fixture.module.css
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/utils/template/stringTemplate.ts
Due: UI Components, Features, Utilities

tweaks and cleanup based on review
  src/components/Uni/Components/Badge.tsx
  src/components/Uni/Components/Bar.tsx
  src/components/Uni/Components/Base.tsx
  src/components/Uni/Components/Card.tsx
  src/components/Uni/Components/CardHeader.tsx
  src/components/Uni/Components/Field.tsx
  src/components/Uni/Components/MappingProgress.tsx
  src/components/Uni/Components/Row.tsx
  src/components/Uni/Components/Severity.tsx
  src/components/Uni/Components/Url.tsx
  src/components/Uni/Layout/LayoutContext.tsx
  src/components/Uni/Layout/LayoutProvider.tsx
  src/components/Uni/Layout/LayoutRenderer.tsx
  src/features/events_list/components/FeedSelector/FeedSelector.tsx
Due: UI Components, Features

feat(21382): remove trial button
  src/features/subscriptions/components/PaymentPlanCard/PaymentPlanCard.module.css
  src/features/subscriptions/components/PaymentPlanCard/PaymentPlanCard.tsx
Due: Features

feat(21382): remove trial button (#1022)
  src/features/subscriptions/components/PaymentPlanCard/PaymentPlanCard.module.css
  src/features/subscriptions/components/PaymentPlanCard/PaymentPlanCard.tsx
Due: Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@4d2bb2cadf16d9de5dad94d5d62e2df20f562d9d 🚀
  assets/_virtual_cosmos-imports-0szLGDQb.js
  assets/_virtual_cosmos-imports-BdTlIQsk.css
  assets/index-CH7LBekY.js
  renderer.html
Due: none

fix 20388: remove redundant usage of MAX/MIN zoom variables during MVA creation
  src/features/multivariate_layer/helpers/multivariateLayerActions.ts
Due: Features

refactor: 20388 extract duplicated tiles url and tiles source into constants
  src/core/bivariate/constants.ts
  src/features/mcda/atoms/mcdaLayer.ts
  src/features/multivariate_layer/helpers/multivariateLayerActions.ts
  src/utils/bivariate/bivariateColorThemeUtils.ts
Due: Core Logic, Features, Utilities

feat(20921): updated layout
  src/components/Layer/index.tsx
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.module.css
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.tsx
  src/features/events_list/components/EventCard/Analytics/Analytics.tsx
  src/features/events_list/components/EventCard/EventCard.tsx
  src/features/legend_panel/components/LegendsList/LegendsList.tsx
  src/features/legend_panel/components/PanelContent/PanelContent.module.css
  src/features/legend_panel/components/PanelContent/PanelContent.tsx
  src/features/presentation_mode/CurrentEvent/CurrentEvent.module.css
  src/features/presentation_mode/CurrentEvent/CurrentEvent.tsx
  src/features/presentation_mode/LayersCoopyrights/LayersCopyrights.module.css
  src/features/presentation_mode/LayersCoopyrights/LayersCopyrights.tsx
  src/features/presentation_mode/LayersCoopyrights/LayersCopyrightsAtom.ts
  src/features/presentation_mode/LegendsPanel/LegendsPanel.tsx
  src/features/presentation_mode/MapTitle/MapTitle.module.css
  src/features/presentation_mode/MapTitle/MapTitle.tsx
  src/views/Map/Layouts/Layout.tsx
  src/views/Map/Layouts/Presentation/Presentation.module.css
  src/views/Map/Layouts/Presentation/Presentation.tsx
  src/views/Map/Map.tsx
  src/widgets/Presentation/Coopyrights/Copyrights.tsx
Due: UI Components, Features

feat(20921): updated layout
  src/features/legend_panel/components/LegendsList/LegendsList.tsx
Due: Features

fix: move default bivariate tiles URL and source into functions
  src/core/bivariate/constants.ts
  src/core/bivariate/getDefaultBivariateTileSource.ts
  src/core/bivariate/getDefaultBivariateTilesUrl.ts
  src/features/mcda/atoms/mcdaLayer.ts
  src/features/multivariate_layer/helpers/multivariateLayerActions.ts
  src/utils/bivariate/bivariateColorThemeUtils.ts
Due: Core Logic, Features, Utilities

chore: remove unused imports
  src/core/bivariate/constants.ts
Due: Core Logic

refactor(MVA, MCDA): 20388 remove code duplication in multivariate and mcda layer source creation (#1024)
  src/core/bivariate/getDefaultBivariateTileSource.ts
  src/core/bivariate/getDefaultBivariateTilesUrl.ts
  src/features/mcda/atoms/mcdaLayer.ts
  src/features/multivariate_layer/helpers/multivariateLayerActions.ts
  src/utils/bivariate/bivariateColorThemeUtils.ts
Due: Core Logic, Features, Utilities

Refactor LayoutDebugger to use UniLayoutContext and LayoutRenderer
  src/components/Uni/Layout/LayoutRenderer.tsx
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
Due: UI Components, Features

feat(21382): rename trial button -> demo button
  src/features/subscriptions/__mocks__/_subscriptionsConfig.ts
  src/features/subscriptions/components/PaymentPlanCard/PaymentPlanCard.tsx
Due: Features

Add prototype of ai-generated documentation
  README.md
  docs/01_application_environment_setup.md
  docs/02_vite_configuration.md
  docs/03_react_application_entry_point.md
  docs/04_internationalization__i18n__system.md
  docs/05_playwright_configuration.md
  docs/06_reatom_state_management.md
  docs/07_atoms.md
  docs/08_state_management_with_atoms.md
  docs/09_geojson_helpers.md
  docs/10_map_and_marker_management.md
  docs/11_map_interactivity.md
  docs/12_map_interaction_manager.md
  docs/13_layer_control_system.md
  docs/14_layer_management.md
  docs/15_map_layers_order_manager.md
  docs/16_mcda_sorting.md
  docs/17_multi_criteria_decision_analysis__mcda__sorting.md
  docs/18_mcda__multi_criteria_decision_analysis_.md
  docs/19_mcda_configuration.md
  docs/20_bivariate_and_multivariate_style_generators.md
  docs/21_bivariate_color_manager.md
  docs/22_tooltip_trigger_mechanism.md
  docs/23_tooltip_display_system.md
  docs/24_tooltip_service.md
  docs/25_legend_rendering_for_data_representation.md
  docs/26_legends_panel.md
  docs/27_map_css_to_mapbox_converter.md
  docs/28_search_feature.md
  docs/29_aggregated_search.md
  toc.md
Due: none

Move toc file to docs folder
  docs/toc.md
Due: none

feat(21382): update tests
  e2e/login.spec.ts
  e2e/registration.spec.ts
Due: none

refactor: remove redundant showDeleteButton parameter
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
Due: Features

chore: fix import
  src/features/mcda/utils/openMcdaFile.ts
Due: Features

fix: fix horizontal scroll on mobiles
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.module.css
Due: Features

fix: better paddings
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.module.css
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.module.css
Due: Features

chore: fix typo: occurence -> occurrence
  src/features/mcda/components/MCDAForm/index.tsx
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/utils/common/__snapshots__/sorting.test.ts.snap
  src/utils/common/sorting.test.ts
  src/utils/common/sorting.ts
Due: Features, Utilities

fix: better sizing for custom steps
  src/features/multivariate_layer/components/CustomStepsInput/CustomStepsInput.module.css
Due: Features

fix: fix jumping row title in custom steps
  src/features/multivariate_layer/components/CustomStepsInput/CustomStepsInput.module.css
Due: Features

fix: error margin
  src/features/multivariate_layer/components/CustomStepsInput/CustomStepsInput.module.css
Due: Features

refactor: remove useless try-catch block
  src/core/localization/translations/en/common.json
  src/utils/mcda/createMCDALayersFromBivariateAxes.ts
Due: Utilities

chore: fix test snapshot
  src/utils/common/__snapshots__/sorting.test.ts.snap
Due: Utilities

feat(Multivariate dialog): 21214 simplified multivariate analysis dialog (#1018)
  src/components/Layer/EditControl/EditControl.tsx
  src/core/bivariate/atoms/availableBivariateAxesAtom.ts
  src/core/localization/translations/en/common.json
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/constants.ts
  src/core/logical_layers/utils/applyNewLayerStyle.ts
  src/core/logical_layers/utils/logicalLayerFabric.ts
  src/core/toolbar/index.ts
  src/features/mcda/components/MCDAForm/index.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.module.css
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
  src/features/mcda/components/MCDALayerEditor/MCDARangeControls/MCDARangeControls.tsx
  src/features/mcda/components/MCDALayerEditor/index.tsx
  src/features/mcda/index.ts
  src/features/mcda/mcdaConfig.tsx
  src/features/mcda/utils/openMcdaFile.ts
  src/features/multivariate_layer/components/CustomStepsInput/CustomStepsInput.module.css
  src/features/multivariate_layer/components/CustomStepsInput/CustomStepsInput.tsx
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.module.css
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.module.css
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
  src/features/multivariate_layer/constants.ts
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
  src/features/multivariate_layer/helpers/createStepsForMCDADimension.ts
  src/features/multivariate_layer/helpers/generateMultivariateId.ts
  src/features/multivariate_layer/helpers/openMultivariateModal.ts
  src/features/multivariate_layer/index.ts
  src/utils/common/__snapshots__/sorting.test.ts.snap
  src/utils/common/sorting.test.ts
  src/utils/common/sorting.ts
  src/utils/mcda/createMCDALayersFromBivariateAxes.ts
  src/utils/mcda/generateMCDAId.ts
  src/utils/mcda/generateSigmaRange.ts
  src/utils/mcda/padEmojiStringToLength.ts
  src/utils/multivariate/constants.ts
Due: UI Components, Core Logic, Features, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@761063197328f6f085eb13f3cbd5a0de1209416e 🚀
  assets/_virtual_cosmos-imports-DWN5Pgo8.js
  assets/index-BTCD5rpJ.js
  renderer.html
Due: none

Revert "chore(20661): remove Strength (Opacity) functionality from Multivariate layers"
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
Due: Core Logic, Features

refactor: rename strength to opacity
  src/core/localization/translations/en/common.json
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Core Logic, Features

feat(21382): rename trial button -> demo button (#1027)
  e2e/login.spec.ts
  e2e/registration.spec.ts
  src/features/subscriptions/__mocks__/_subscriptionsConfig.ts
  src/features/subscriptions/components/PaymentPlanCard/PaymentPlanCard.tsx
Due: Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@8ce927f65955da9e300a8324c117311958347438 🚀
  assets/_virtual_cosmos-imports-DVv2GKG9.js
  assets/_virtual_cosmos-imports-DWN5Pgo8.js
  assets/_virtual_cosmos-imports-nPWcSWwn.css
  assets/index-Bdfyswek.js
  renderer.html
Due: none

feat(20921): deduplicate copyrights
  src/features/presentation_mode/LayersCoopyrights/LayersCopyrightsAtom.ts
  src/features/presentation_mode/MapTitle/MapTitle.tsx
Due: Features

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
