Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

reorg
  src/core/api_client/tests/authorization.test.ts
Due: none

refactor
  package.json
  pnpm-lock.yaml
  src/core/api_client/tests/_clientTestsContext.ts
  src/core/api_client/tests/authorization.test.ts
  src/core/api_client/tests/factories/client.factory.ts
  src/core/api_client/tests/factories/mock.factory.ts
  src/core/api_client/tests/factories/token.factory.ts
  src/core/api_client/tests/utils/base64.ts
  src/core/api_client/tests/utils/localStorage.mock.ts
  src/utils/storage/index.ts
  src/utils/test/api-test-utils.ts
  src/utils/test/index.ts
  src/utils/test/mocks/storage.mock.ts
  src/utils/test/types.ts
Due: Utilities

types
  src/core/api_client/tests/factories/token.factory.ts
Due: none

fix warn
  src/core/api_client/tests/authorization.test.ts
Due: none

reorg
  src/core/api_client/tests/authorization.test.ts
  src/core/api_client/tests/errorsHandling.test.ts
Due: none

fix
  src/core/api_client/errors.ts
Due: Core Logic

Refactor ApiClient and error handling; enhance token management and validation
  src/core/api_client/apiClient.ts
  src/core/api_client/errors.ts
  src/core/api_client/tests/_clientTestsContext.ts
  src/core/api_client/tests/apiClient.test.ts
  src/core/api_client/tests/authorization.test.ts
  src/core/api_client/tests/errorsHandling.test.ts
  src/core/api_client/tests/factories/auth.factory.ts
  src/core/api_client/tests/factories/mock.factory.ts
  src/core/api_client/types.ts
  src/core/auth/OidcSimpleClient.ts
Due: Core Logic

Version 2.39.0
  package.json
Due: none

Version 2.39.0 (#943)
  package.json
Due: none

feat(20263): change scrollspy library
  package.json
  pnpm-lock.yaml
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
  src/features/user_profile/components/SettingsForm/SettingsNavigation/SettingsNavigation.tsx
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingSection.module.css
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingsSection.tsx
Due: Features

fix(18332): fix privacy page horizontal scroll
  src/core/pages/pages.css
Due: Core Logic

feat(20263): pr fixes
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingSection.module.css
Due: Features

feat(20263): implement new onboarding profile (#930)
  package.json
  pnpm-lock.yaml
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.module.css
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.tsx
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
  src/features/user_profile/components/SettingsForm/SettingsNavigation/SettingsNavigation.module.css
  src/features/user_profile/components/SettingsForm/SettingsNavigation/SettingsNavigation.tsx
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingSection.module.css
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingsSection.tsx
  src/features/user_profile/components/SettingsForm/constants.ts
  src/views/Profile/Profile.module.css
Due: UI Components, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@c997954b3463fa5f0aa83c3538c47bb1966d8891 🚀
  assets/_virtual_cosmos-imports-B5cNk4vJ.js
  assets/index-Cf-sQT-4.js
  renderer.html
Due: none

fix(18332): fix privacy page horizontal scroll (#944)
  src/core/pages/pages.css
Due: Core Logic

Deploying to gh-pages from @ konturio/disaster-ninja-fe@c4b6bb0b7372263b9af3eed6b7a2e3e541220082 🚀
  assets/_virtual_cosmos-imports-BHnJwtxC.css
  assets/_virtual_cosmos-imports-ngEi7gMw.js
  assets/index-cLOwCBOr.js
  renderer.html
Due: none

chore: fix legend-related type errors
  src/components/Layer/EditControl/EditControl.tsx
  src/core/logical_layers/types/legends.ts
  src/features/mcda/index.ts
Due: UI Components, Core Logic, Features

chore: fix type errors, use MapLibre types
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/types.ts
  src/utils/bivariate/bivariate_style/styleGen.ts
Due: Core Logic, Utilities

feat: add MULTIVARIATE_ANALYSIS feature flag
  src/core/app/types.ts
  src/views/Map/Map.tsx
Due: UI Components, Core Logic

fix: better key in MultivariateLayerEditor
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
Due: Features

feat: add additional (text, extrusion) layers cleanup to MultivariateRenderer
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
Due: Core Logic

chore: better key in PopupMCDA
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.tsx
Due: Core Logic

feat: added test ids for mcda elements and started mcda test
  e2e/mcdaWithPro.spec.ts
  e2e/page-objects/mcdaPopup.ts
  e2e/page-objects/pageManager.ts
  src/features/mcda/components/MCDAForm/index.tsx
Due: Features

test: added legend analysis step
  e2e/mcdaWithPro.spec.ts
  e2e/page-objects/legendPanel.ts
  e2e/page-objects/pageManager.ts
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components

test: added search step in mcda test
  e2e/mcdaWithPro.spec.ts
  e2e/page-objects/mapPage.ts
Due: none

test: added screenshots comparison logics
  e2e/mcdaWithPro.spec.ts
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-chromium-pro-darwin.png
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-webkit-pro-darwin.png
Due: none

test: added mcda creation logics and checks
  e2e/mcdaWithPro.spec.ts
  e2e/page-objects/mapPage.ts
  e2e/page-objects/mcdaPopup.ts
Due: none

[FE] Automate basic not changeable MCDA flow (#932)
  e2e/mcdaWithPro.spec.ts
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-chromium-pro-darwin.png
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-webkit-pro-darwin.png
  e2e/page-objects/legendPanel.ts
  e2e/page-objects/mapPage.ts
  e2e/page-objects/mcdaPopup.ts
  e2e/page-objects/pageManager.ts
  src/features/mcda/components/MCDAForm/index.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Features

Refactor retry mechanism in API client; update error handling and types
  src/core/api/insights.ts
  src/core/api_client/apiClient.ts
  src/core/api_client/tests/factories/mock.factory.ts
  src/core/api_client/tests/retryBehavior.test.ts
  src/core/api_client/tests/types.ts
  src/core/api_client/types.ts
  src/core/auth/OidcSimpleClient.ts
  src/core/resources/bivariateStatisticsResource/index.ts
  src/features/live_sensor/SensorsSnapshotsSender.ts
Due: Core Logic, Features

Refactor retry behavior tests in ApiClient; streamline promise handling and update assertions
  src/core/api_client/tests/retryBehavior.test.ts
Due: none

fix(tests): 20157 fe migrate tests from deprecated vi fetch to supported fetch mocking library (#941)
  .dependency-cruiser.cjs
  package.json
  pnpm-lock.yaml
  src/core/api/insights.ts
  src/core/api_client/apiClient.ts
  src/core/api_client/errors.ts
  src/core/api_client/tests/_clientTestsContext.ts
  src/core/api_client/tests/_servicesMocks.ts
  src/core/api_client/tests/_tokenUtils.ts
  src/core/api_client/tests/apiClient.test.ts
  src/core/api_client/tests/authorization.test.ts
  src/core/api_client/tests/errorsHandling.test.ts
  src/core/api_client/tests/factories/auth.factory.ts
  src/core/api_client/tests/factories/client.factory.ts
  src/core/api_client/tests/factories/mock.factory.ts
  src/core/api_client/tests/factories/token.factory.ts
  src/core/api_client/tests/retryBehavior.test.ts
  src/core/api_client/tests/types.ts
  src/core/api_client/types.ts
  src/core/auth/OidcSimpleClient.ts
  src/core/resources/bivariateStatisticsResource/index.ts
  src/features/live_sensor/SensorsSnapshotsSender.ts
  src/utils/storage/index.ts
Due: Core Logic, Features, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@ee16a80deecf4301f4fcd43ddd448913b351c42b 🚀
  assets/_virtual_cosmos-imports-BJCy2PGb.js
  assets/index-CAb4X_hr.js
  renderer.html
Due: none

upd deps and improved chunking
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: none

eslint 9
  .eslintignore
  .eslintrc.identical.keys.cjs
  .eslintrc.json
  eslint.config.mjs
  eslintrc.identical.keys.mjs
  package.json
  pnpm-lock.yaml
Due: none

tweaks and lint fixes
  eslint.config.mjs
  src/core/api_client/apiClient.ts
  src/core/api_client/apiClientError.ts
  src/core/api_client/types.ts
  src/core/auth/OidcSimpleClient.ts
Due: Core Logic

cleanups
  src/core/api_client/utils.ts
  src/core/auth/OidcSimpleClient.ts
  src/core/metrics/app-metrics.ts
Due: Core Logic

tweaks
  .gitignore
Due: none

tweaks
  package.json
  src/utils/storage/index.ts
Due: Utilities

refactor(tests): enhance API client authentication tests with improved mocking and error handling
  src/core/api_client/tests/authorization.test.ts
  src/core/api_client/tests/factories/mock.factory.ts
  src/core/api_client/tests/factories/token.factory.ts
  src/core/auth/OidcSimpleClient.test.ts
  src/core/auth/OidcSimpleClient.ts
Due: Core Logic

fix
  src/core/api_client/tests/factories/token.factory.ts
Due: none
