Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@a43093a46a43f6b4e35452c9208d6da4ddbc69d8 🚀
  assets/BivariateGreetings-BsRutlIW.js
  assets/_virtual_cosmos-imports-BQk28SrM.css
  assets/_virtual_cosmos-imports-XSpefh1c.js
  assets/index-CpzfG3GJ.js
  renderer.html
Due: none

feat(19622): handle mcda search
  src/core/localization/translations/en/common.json
  src/features/search/componets/MCDASearch/MCDASearchResult.tsx
  src/features/search/componets/SearchBar/SearchBar.module.css
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/componets/SearchInput/SearchInput.tsx
  src/features/search/hooks/useSearchBar.ts
  src/features/search/searchAtoms.ts
  src/features/search/searchLocationAtoms.ts
  src/features/search/searchMcdaAtoms.ts
Due: Features

feat(19622): typo fix
  src/core/localization/translations/en/common.json
Due: none

feat(19622): refactor
  src/features/search/searchAtoms.ts
  src/features/search/searchMcdaAtoms.ts
Due: Features

test: update golden screenshots
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-1-chromium-darwin.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-1-chromium-linux.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-chromium-darwin.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-chromium-linux.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-OpenAerialMap-and-get-zoomed-to-my-location-1-chromium-darwin.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-OpenAerialMap-and-get-zoomed-to-my-location-1-chromium-linux.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-OpenAerialMap-and-get-zoomed-to-my-location-prod-1-chromium-darwin.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-OpenAerialMap-and-get-zoomed-to-my-location-prod-1-chromium-linux.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-darwin.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-linux.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-darwin.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-webkit-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-webkit-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-webkit-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-webkit-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-webkit-pro-linux.png
  e2e/page-objects/mapPage.ts
  playwright.config.ts
Due: none

test: update golden screenshots (#889)
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-1-chromium-darwin.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-1-chromium-linux.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-chromium-darwin.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-chromium-linux.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-OpenAerialMap-and-get-zoomed-to-my-location-1-chromium-darwin.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-OpenAerialMap-and-get-zoomed-to-my-location-1-chromium-linux.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-OpenAerialMap-and-get-zoomed-to-my-location-prod-1-chromium-darwin.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-OpenAerialMap-and-get-zoomed-to-my-location-prod-1-chromium-linux.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-darwin.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-linux.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-darwin.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-webkit-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-webkit-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-webkit-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-webkit-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-webkit-pro-linux.png
  e2e/page-objects/mapPage.ts
  playwright.config.ts
Due: none

chore(keepalive): 20155 Add comments about keepalive-for-react v3 not working with Strict Mode
  .env.development
  src/core/router/components/Router.tsx
Due: Core Logic

fix(keepalive): 20155 Disable Strict Mode in development mode by default
  .env.development
Due: none

chore(keepalive): 20155 Fix issue with eepalive-for-react v3 not working with Strict Mode (#896)
  .env.development
  src/core/router/components/Router.tsx
Due: Core Logic

fix(map navigation): 18438 Fix navigation to URL coordinates on startup
  src/core/shared_state/currentMapPosition.ts
Due: Core Logic

chore: Add todo
  src/core/shared_state/currentMapPosition.ts
Due: Core Logic

refactor(18017): fix axes plural form typo
  src/features/bivariate_color_manager/atoms/bivariateColorManagerResource.ts
  src/features/mcda/atoms/availableBivariateAxesAtom.ts
  src/features/mcda/components/MCDAForm/index.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
  src/features/mcda/mcdaConfig.tsx
  src/utils/bivariate/bivariateColorThemeUtils.ts
  src/utils/bivariate/helpers/parsers/createBivariateAxesHashMap.ts
  src/utils/bivariate/helpers/parsers/createBivariateAxisesHashMap.ts
  src/utils/bivariate/helpers/parsers/createCorrelationsHashMap.ts
  src/utils/bivariate/helpers/parsers/parseStat.ts
Due: Features, Utilities

refactor(18017): fix axes plural form typo
  src/features/bivariate_color_manager/atoms/bivariateColorManagerResource.ts
Due: Features

refactor(18017): fix axes plural form typo (#897)
  src/features/bivariate_color_manager/atoms/bivariateColorManagerResource.ts
  src/features/mcda/atoms/availableBivariateAxesAtom.ts
  src/features/mcda/components/MCDAForm/index.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
  src/features/mcda/mcdaConfig.tsx
  src/utils/bivariate/bivariateColorThemeUtils.ts
  src/utils/bivariate/helpers/parsers/createBivariateAxesHashMap.ts
  src/utils/bivariate/helpers/parsers/createBivariateAxisesHashMap.ts
  src/utils/bivariate/helpers/parsers/createCorrelationsHashMap.ts
  src/utils/bivariate/helpers/parsers/parseStat.ts
Due: Features, Utilities

test: added filling linkedin n phone during sign up
  e2e/page-objects/keycloakPage.ts
  e2e/registration.spec.ts
Due: none

test: added better test data
  e2e/registration.spec.ts
Due: none

Fix registration test after new fields added to keycloak registration (#898)
  e2e/page-objects/keycloakPage.ts
  e2e/registration.spec.ts
Due: none

refactor(17994): refactor selecting the language for formatting the Date
  src/boot.ts
  src/features/events_list/components/EventCard/EventCard.tsx
  src/features/layer_features_panel/atoms/helpers/hotProjects_outlines.ts
  src/features/mcda/mcdaConfig.tsx
Due: Features

refactor(17994): refactor pr comments
  src/core/localization/translations/en/common.json
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/componets/SearchInput/SearchInput.tsx
  src/features/search/searchAtoms.ts
Due: Features

refactor(19622): refactor pr comments
  src/core/localization/translations/en/common.json
  src/features/search/searchAtoms.ts
Due: Features

feat(19622): handle mcda search (#895)
  src/core/localization/translations/en/common.json
  src/features/search/componets/MCDASearch/MCDASearchResult.tsx
  src/features/search/componets/SearchBar/SearchBar.module.css
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/componets/SearchInput/SearchInput.tsx
  src/features/search/hooks/useSearchBar.ts
  src/features/search/searchAtoms.ts
  src/features/search/searchLocationAtoms.ts
  src/features/search/searchMcdaAtoms.ts
Due: Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@7a8fc618ab18ac994e7fb6b7e5e5960723995d35 🚀
  assets/BivariateGreetings-srIRMOh8.js
  assets/_virtual_cosmos-imports-w3_asTbA.js
  assets/index-gZEGR2ce.js
  renderer.html
Due: none

refactor(17994): refactor pr comments
  src/boot.ts
Due: none

refactor(17994): refactor selecting the language for formatting the Date (#899)
  src/boot.ts
  src/features/events_list/components/EventCard/EventCard.tsx
  src/features/layer_features_panel/atoms/helpers/hotProjects_outlines.ts
Due: Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@1ff0fc64939d7d979ecaf0e45dcf90c13b14838a 🚀
  assets/BivariateGreetings-CtTKVE5B.js
  assets/_virtual_cosmos-imports-BDgNXjx5.js
  assets/index-B32mz1r_.js
  renderer.html
Due: none

refactor(19622): refactor search
  src/core/localization/translations/en/common.json
  src/features/search/componets/SearchBar/SearchBar.module.css
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/searchAtoms.ts
  src/features/search/searchLocationAtoms.ts
  src/features/search/searchMcdaAtoms.ts
Due: Features

refactor(19622): add some check for mcda analysis generated from search
  src/features/mcda/utils/openMcdaFile.ts
  src/features/search/searchMcdaAtoms.ts
Due: Features

refactor(19622): rename atom
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/searchAtoms.ts
  src/features/search/searchMcdaAtoms.ts
Due: Features

refactor(17438): fix error when there is no source when reset layer
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
Due: Core Logic

19622 dn fe handle mcda suggestion (#901)
  src/core/localization/translations/en/common.json
  src/features/mcda/utils/openMcdaFile.ts
  src/features/search/componets/SearchBar/SearchBar.module.css
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/searchAtoms.ts
  src/features/search/searchLocationAtoms.ts
  src/features/search/searchMcdaAtoms.ts
Due: Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@e5b299fc3c5971e68b523cb6ff80ffb0f78f46a7 🚀
  assets/BivariateGreetings-D7qEQRnV.js
  assets/_virtual_cosmos-imports-BPbTC8tO.js
  assets/index-ByP4w1DV.js
  renderer.html
Due: none

chore(18438): simplify used types
  src/core/shared_state/currentMapPosition.ts
Due: Core Logic

chore: variable name: cam -> viewport
  src/core/shared_state/currentMapPosition.ts
Due: Core Logic

chore: viewport -> camera
  src/core/shared_state/currentMapPosition.ts
Due: Core Logic

chore: move function outside the atom
  src/core/shared_state/currentMapPosition.ts
Due: Core Logic

feat(LLM analytics): 19963 updated LLM analytics help section
  src/core/localization/translations/en/common.json
  src/features/llm_analytics/components/LLMAnalyticsContainer/LLMAnalyticsContainer.tsx
  src/features/llm_analytics/components/LLMAnalyticsEmptyState/LLMAnalyticsEmptyState.tsx
  src/features/llm_analytics/components/LLMAnalyticsPlaceholder/LLMAnalyticsPlaceholder.module.css
  src/features/llm_analytics/components/LLMAnalyticsPlaceholder/LLMAnalyticsPlaceholder.tsx
Due: Features

chore: fix typo
  src/core/localization/translations/en/common.json
Due: none

chore: smaller bottom margin for LLMAnalyticsEmptyState
  src/features/llm_analytics/components/LLMAnalyticsEmptyState/LLMAnalyticsEmptyState.module.css
Due: Features

refactor(17438): remove useless onMapZoomHandlers
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
Due: Core Logic

chore: fix SVG style
  src/features/llm_analytics/components/LLMAnalyticsPlaceholder/LLMAnalyticsPlaceholder.module.css
Due: Features

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
