Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

bugfix(17438): fix error when there is no source when reset layer (#902)
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
Due: Core Logic

Deploying to gh-pages from @ konturio/disaster-ninja-fe@e79f1ae2b7d853b9bda6103b0c057e70d3ecf007 🚀
  assets/BivariateGreetings-BJFXTWb8.js
  assets/_virtual_cosmos-imports-B3XV0Faz.js
  assets/index-DAugcclM.js
  renderer.html
Due: none

fix: fix link to User Guide
  src/features/llm_analytics/components/LLMAnalyticsPlaceholder/LLMAnalyticsPlaceholder.tsx
Due: Features

chore: rename translation key llm_analytics.guide -> llm_analytics.placeholder
  src/core/localization/translations/en/common.json
  src/features/llm_analytics/components/LLMAnalyticsPlaceholder/LLMAnalyticsPlaceholder.tsx
Due: Features

chore: remove unneeded div
  src/features/llm_analytics/components/LLMAnalyticsEmptyState/LLMAnalyticsEmptyState.module.css
  src/features/llm_analytics/components/LLMAnalyticsPlaceholder/LLMAnalyticsPlaceholder.tsx
Due: Features

fix(map navigation): 18438 Speed up navigation to a point on the map (#891)
  src/components/ConnectedMap/ConnectedMap.tsx
  src/components/ConnectedMap/useMapPositionSmoothSync.ts
  src/components/ConnectedMap/useMapPositionSync.ts
  src/core/shared_state/currentMapPosition.ts
  src/features/bivariate_color_manager/components/BivariateSampleMap/BivariateSampleMap.tsx
Due: UI Components, Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@cc4fd393ee9a5bfcf514c0bb498ad4abb252a57e 🚀
  assets/BivariateGreetings-CIwJud6N.js
  assets/_virtual_cosmos-imports-BvSjvHoX.js
  assets/index-BAm614qT.js
  index.html
  renderer.html
Due: none

feat(AI Analytics): 19963 Update AI analytics placeholder (#903)
  src/core/localization/translations/en/common.json
  src/features/llm_analytics/components/LLMAnalyticsContainer/LLMAnalyticsContainer.tsx
  src/features/llm_analytics/components/LLMAnalyticsEmptyState/LLMAnalyticsEmptyState.module.css
  src/features/llm_analytics/components/LLMAnalyticsEmptyState/LLMAnalyticsEmptyState.tsx
  src/features/llm_analytics/components/LLMAnalyticsPlaceholder/LLMAnalyticsPlaceholder.module.css
  src/features/llm_analytics/components/LLMAnalyticsPlaceholder/LLMAnalyticsPlaceholder.tsx
Due: Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@f89a0e8a6bfb0cc04207684bc32a95c18bebd17a 🚀
  assets/BivariateGreetings-DIXhSsOg.js
  assets/_virtual_cosmos-imports-CDMYy2vB.js
  assets/index-zrcNMKnl.js
  index.html
  renderer.html
Due: none

test: added fixes of floating open osm tests
  e2e/openOsm.spec.ts
  e2e/openOsmUpdateProfileWithPro.spec.ts
  e2e/openOsmWithUser.spec.ts
  e2e/page-objects/toolBar.ts
Due: none

test: added bio and full name saving, fixed issues
  e2e/openOsm.spec.ts
  e2e/openOsmUpdateProfileWithPro.spec.ts
  e2e/openOsmWithUser.spec.ts
  e2e/page-objects/helperBase.ts
  e2e/page-objects/mapPage.ts
  e2e/page-objects/profilePage.ts
  e2e/page-objects/toolBar.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: none

Automate check that changes in the profile of the user (data) happen (#900)
  e2e/openOsm.spec.ts
  e2e/openOsmUpdateProfileWithPro.spec.ts
  e2e/openOsmWithUser.spec.ts
  e2e/page-objects/helperBase.ts
  e2e/page-objects/mapPage.ts
  e2e/page-objects/profilePage.ts
  e2e/page-objects/toolBar.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: none

Version 2.36.0
  package.json
Due: none

Version 2.36.0 (#906)
  package.json
Due: none

fix(area layers): 20056 fix area layers not updating after Selected Area is deleted using layer panel
  src/features/layers_in_area/atoms/areaLayersDetailsResource/areaLayersDetailsParamsAtom.ts
Due: Features

fix(selected area): 20056 set focusedGeometryAtom state to null if edited geometry has an empty feature array
  src/core/draw_tools/index.ts
  src/widgets/FocusedGeometryEditor/index.ts
Due: UI Components, Core Logic

feat(tiles): 20269 set fallback max zoom for bivariate tiles to 14
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/BivariateRenderer/constants.ts
  src/features/mcda/atoms/mcdaLayer.ts
Due: Core Logic, Features

css md refactor and cleanup
  package.json
  pnpm-lock.yaml
  src/components/Layout/Article/Article.module.css
  src/components/Layout/Article/Article.tsx
  src/core/pages/MarkdownContent.tsx
  src/core/pages/MarkdownLink.tsx
  src/core/pages/MarkdownMedia.tsx
  src/core/pages/PagesDocument.fixture.tsx
  src/core/pages/PagesDocument.tsx
  src/core/pages/StructuredMarkdownRender.fixture.tsx
  src/core/pages/__mocks__/_.css
  src/core/pages/__mocks__/_.md
  src/core/pages/__mocks__/_about.md
  src/core/pages/__mocks__/_landing.css
  src/core/pages/customization.md
  src/core/pages/hypermedia.tsx
  src/core/pages/index.tsx
  src/core/pages/linkUtils.ts
  src/core/pages/readme.md
  src/core/pages/structuredMarkdown.test.tsx
  src/core/pages/structuredMarkdown.tsx
  src/core/router/routes.tsx
  src/features/llm_analytics/components/LLMAnalyticsContainer/LLMAnalyticsContainer.tsx
  src/features/subscriptions/Plans.fixture.tsx
  src/features/subscriptions/components/PricingContent/PricingContent.tsx
  src/global.css
  src/styles/global-map.css
  src/styles/global-pages.css
  src/styles/reset.css
  src/views/About/About.tsx
  vite.config.ts
Due: UI Components, Core Logic, Features

fixes, apphandler
  src/core/pages/MarkdownLink.tsx
  src/styles/reset.css
Due: Core Logic

deps update, test fix
  package.json
  pnpm-lock.yaml
  src/core/pages/structuredMarkdown.test.tsx
Due: none

feat(tiles): 20269 set fallback max zoom for bivariate tiles to 14 (#908)
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/BivariateRenderer/constants.ts
  src/features/mcda/atoms/mcdaLayer.ts
Due: Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@8cbe0ec393ab044ab3c6f61f75d8604990a6a133 🚀
  assets/BivariateGreetings-CaSMkTl5.js
  assets/_virtual_cosmos-imports-C3AjgcgM.js
  assets/index-B-MX7OBl.js
  renderer.html
Due: none

feat(geoJSON): improved isGeoJSONEmpty function
  src/utils/geoJSON/helpers.test.ts
  src/utils/geoJSON/helpers.ts
Due: Utilities

chore: createBivariateGraphQLQuery.isGeometryEmty() -> isFocusedGeometryEmpty()
  src/core/bivariate/createBivariateGraphQLQuery.ts
  src/core/resources/bivariateStatisticsResource/index.ts
  src/features/bivariate_manager/components/BivariateMatrixContainer/BivariateMatrixContainer.tsx
Due: Core Logic, Features

chore: use isGeoJSONEmpty() in draw_tools
  src/core/draw_tools/index.ts
Due: Core Logic

chore: simplify isGeoJSONEmpty()
  src/utils/geoJSON/helpers.ts
Due: Utilities

chore: remove unnecessary conditional chaining from isGeoJSONEmpty()
  src/utils/geoJSON/helpers.ts
Due: Utilities

chore: simplify isFocusedGeometryEmpty()
  src/core/bivariate/createBivariateGraphQLQuery.ts
Due: Core Logic

chore: replace isFocusedGeometry() usage with isGeoJSONEmpty()
  src/core/bivariate/createBivariateGraphQLQuery.test.ts
  src/core/bivariate/createBivariateGraphQLQuery.ts
  src/core/resources/bivariateStatisticsResource/index.ts
  src/features/bivariate_manager/components/BivariateMatrixContainer/BivariateMatrixContainer.tsx
Due: Core Logic, Features

chore: add return type to isGeoJSONEmpty()
  src/utils/geoJSON/helpers.ts
Due: Utilities

refactor: use isGeoJSONEmpty in focused geometry atom instead of draw tools
  src/core/draw_tools/index.ts
  src/widgets/FocusedGeometryEditor/index.ts
Due: UI Components, Core Logic

chore: remove unused import
  src/core/draw_tools/index.ts
Due: Core Logic

chore(currentMapPosition): 20160 move currentMapPositionAtom implementation inside a v3 atom. Use v2 atom as interface
  src/core/shared_state/currentMapPosition.ts
Due: Core Logic

refactor: 20160 use v3 setCurrentMapBbox action
  src/core/shared_state/currentMapPosition.ts
  src/core/url_store/atoms/urlStore.ts
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.ts
  src/features/events_list/atoms/currentEventBbox.ts
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/search/searchLocationAtoms.ts
  src/utils/atoms/v3tov2.ts
Due: Core Logic, Features, Utilities

chore: update OSM edit button to use v3 position atom
  src/features/osm_edit_link/index.tsx
Due: Features

chore: update breadcrumbs to use subscription to v3 atom
  src/features/breadcrumbs/atoms/initSubscriptionToPositionChange.ts
Due: Features

chore: update locate_me
  src/features/locate_me/index.tsx
Due: Features

chore: update geometry_uploader
  src/features/geometry_uploader/index.tsx
Due: Features

chore: update currentEventAutoFocus
  src/features/current_event/atoms/currentEventAutoFocus.ts
Due: Features

chore: update boundaryMarkerAtom
  src/features/boundary_selector/atoms/boundaryMarkerAtom.ts
Due: Features
