Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

add startedAt
  src/components/ErrorMessage/ErrorMessage.module.css
  src/core/types/index.ts
  src/features/events_list/components/EventCard/EventCard.fixture.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
Due: UI Components, Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@a1b0668278e2b8ff073fb3eea0f0b5dae19250f8 🚀
  assets/BivariateGreetings-BVllUWRR.js
  assets/_virtual_cosmos-imports-CO-WxKeU.js
  assets/_virtual_cosmos-imports-CdFRYEa9.js
  assets/_virtual_cosmos-imports-D53in0U3.css
  assets/index-D947Q_k0.js
  cosmos.fixtures.json
  index.html
  renderer.html
Due: none

feat(multivariate): 20145 basic LayerEditor and Legend placeholders for Multivariate layers
  src/components/Layer/index.tsx
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/core/logical_layers/types/editors.ts
  src/core/logical_layers/types/legends.ts
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.module.css
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
  src/features/multivariate_layer/helpers/multivariateLayerActions.ts
Due: UI Components, Core Logic, Features

fix(20278): Hide sort buttons on EventsPanel
  src/features/events_list/components/FullState/FullState.tsx
Due: Features

fix(20278): fix using EVENTS_LIST feature for applying initial sort
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
Due: Features

feat(20278): add startedAt info to EventCard
  src/core/localization/translations/en/common.json
  src/features/events_list/components/EventCard/EventCard.module.css
  src/features/events_list/components/EventCard/EventCard.tsx
Due: Features

chore: fix css value
  src/features/events_list/components/EventCard/EventCard.module.css
Due: Features

fix(20278): handle potential incorrect time data in EventCard
  src/features/events_list/components/EventCard/EventCard.tsx
Due: Features

refactor(20278): move sorting the event list into an atom
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/helpers/sorting.ts
Due: Features

fix(20278): rewrite autoSelectEvent atom to use sorted events list
  src/features/events_list/atoms/autoSelectEvent.ts
  src/features/events_list/index.tsx
Due: Features

fix(20278): remove redundant sorting from EventsPanel
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
Due: Features

chore: add failsafe condition for incorrect start date during sorting
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/helpers/sorting.ts
Due: Features

chore: rename autoSelectEventV3 -> autoSelectEvent
  src/features/events_list/atoms/autoSelectEvent.ts
  src/features/events_list/index.tsx
Due: Features

fix(20221): only use numerators to get maxZoom level
  src/features/bivariate_color_manager/atoms/bivariateColorManagerSamleMap.ts
  src/utils/bivariate/bivariateColorThemeUtils.ts
  src/utils/bivariate/getMaxZoomLevel.ts
Due: Features, Utilities

test: update tests
  src/utils/bivariate/getMaxZoomLevel.test.ts
Due: none

chore: remove unnecessary action from currentMapPositionAtom
  src/components/ConnectedMap/useMapPositionSync.ts
  src/core/shared_state/currentMapPosition.ts
Due: UI Components, Core Logic

fix(20278): Move "Filter by map view" button back onto separate line
  src/features/events_list/components/EventListSettingsRow/EventListSettingsRow.module.css
  src/features/events_list/components/FullState/FullState.tsx
Due: Features

fix(Events sorting): 20278 fixes for sorting events by date. Added "startedAt" field to EventCard (#927)
  src/core/localization/translations/en/common.json
  src/features/events_list/atoms/autoSelectEvent.ts
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/components/EventCard/EventCard.module.css
  src/features/events_list/components/EventCard/EventCard.tsx
  src/features/events_list/components/EventListSettingsRow/EventListSettingsRow.module.css
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/components/FullState/FullState.tsx
  src/features/events_list/helpers/sorting.ts
  src/features/events_list/index.tsx
Due: Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@b6c8a9c328f397aa567d94a966972a4d3cb6b374 🚀
  assets/_virtual_cosmos-imports-BCXtRa0k.css
  assets/_virtual_cosmos-imports-C9eSywQH.js
  assets/index-TZSYrXDL.js
  renderer.html
Due: none

feat(events): 20213 basic MCDA sorting implementation for events list
  src/core/types/index.ts
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/components/EventCard/EventCard.fixture.tsx
  src/features/events_list/constants.ts
  src/features/events_list/helpers/eventsMcdaSort.ts
  src/utils/mcda_sort/sortByMCDAScore.ts
Due: Core Logic, Features, Utilities

feat(deps): update the deps
  package.json
  pnpm-lock.yaml
Due: none

feat(20263): init commmit
  package.json
  pnpm-lock.yaml
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.module.css
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.tsx
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
  src/features/user_profile/components/SettingsForm/SettingsFormV2.module.css
  src/features/user_profile/components/SettingsForm/SettingsNavigation/SettingsNavigation.module.css
  src/features/user_profile/components/SettingsForm/SettingsNavigation/SettingsNavigation.tsx
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingSection.module.css
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingsSection.tsx
  src/features/user_profile/components/SettingsForm/common.ts
  src/global.css
  src/views/Profile/Profile.module.css
Due: UI Components, Features

feat(20263): configure logout button placement
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Features

feat(20213): Updated sort types. Refactoring. Support for MCDA sort config from app config
  src/core/config/types.ts
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/helpers/eventsMcdaSort.ts
  src/features/events_list/helpers/singlePropertySort.ts
  src/features/events_list/helpers/sorting.ts
  src/utils/mcda_sort/sortByMCDAScore.ts
Due: Core Logic, Features, Utilities

chore: move eventSortingConfigAtom into separate file
  src/core/config/types.ts
  src/features/events_list/atoms/eventSortingConfig.ts
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
Due: Core Logic, Features

doc(20213): Add Sorting information to EVENTS_LIST feature
  src/features/events_list/readme.md
Due: Features

fix(helperBase): disable cookie banner check for localhost
  e2e/page-objects/helperBase.ts
Due: none

feat(deps): update the deps (#928)
  e2e/page-objects/helperBase.ts
  package.json
  pnpm-lock.yaml
Due: none

Deploying to gh-pages from @ konturio/disaster-ninja-fe@b4d17626d3f1e474f3f3f3027959ab5711b2976d 🚀
  assets/_virtual_cosmos-imports-BlEScCCf.js
  assets/_virtual_cosmos-imports-Z80cRvs0.css
  assets/index-CJHKoxXG.js
  playground.bundle.js
  playground.bundle.js.map
  renderer.html
Due: none

feat: add more event type sorting scores
  src/features/events_list/constants.ts
Due: Features

chore: remove mocks
  src/features/events_list/atoms/eventSortingConfig.ts
  src/features/events_list/helpers/eventsMcdaSort.ts
Due: Features

chore: fix formatting in readme
  src/features/events_list/readme.md
Due: Features

fix(maxzoom): 20221 Fix case with bivariate presets
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/utils/bivariate/bivariateColorThemeUtils.ts
Due: Core Logic, Utilities

chore: use aliases in imports
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
  src/utils/bivariate/getMaxZoomLevel.ts
Due: Core Logic, Utilities

fix(maxzoom): set FALLBACK_BIVARIATE_MAX_ZOOM to 9
  src/core/logical_layers/renderers/BivariateRenderer/constants.ts
Due: Core Logic

feat(20221): Apply maxzoom for Bivariate and MCDA layers based on Indicators maxZoom property (#923)
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/BivariateRenderer/constants.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/calculateLayerPipeline.test.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/calculations.test.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.test.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/types.ts
  src/features/bivariate_color_manager/atoms/bivariateColorManagerSamleMap.ts
  src/features/mcda/atoms/mcdaLayer.ts
  src/utils/bivariate/bivariateColorThemeUtils.ts
  src/utils/bivariate/getMaxZoomLevel.test.ts
  src/utils/bivariate/getMaxZoomLevel.ts
  src/utils/bivariate/types/stat.types.ts
Due: Core Logic, Features, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@1e96362f7a5168acf4d77689bedfaad971175a52 🚀
  assets/_virtual_cosmos-imports-Dg_FPHi8.js
  assets/index-DkzWALl6.js
  renderer.html
Due: none

chore: refactors
  src/core/shared_state/currentMapPosition.ts
  src/core/url_store/atoms/urlStore.ts
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.ts
Due: Core Logic, Features

feat(20160): update currentMapPositionAtom to reatom v3 (#910)
  src/components/ConnectedMap/map-libre-adapter/index.tsx
  src/components/ConnectedMap/useMapPositionSync.ts
  src/core/shared_state/currentMapPosition.ts
  src/core/shared_state/index.ts
  src/core/url_store/atoms/urlStore.ts
  src/features/boundary_selector/atoms/boundaryMarkerAtom.ts
  src/features/breadcrumbs/BreadcrumbsPanel.tsx
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.ts
  src/features/breadcrumbs/atoms/initSubscriptionToPositionChange.ts
  src/features/breadcrumbs/helpers/breadcrumbsHelpers.ts
  src/features/breadcrumbs/hooks/useBreadcrumbsItems.ts
  src/features/current_event/atoms/currentEventAutoFocus.ts
  src/features/events_list/atoms/currentEventBbox.ts
  src/features/geometry_uploader/index.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/locate_me/index.tsx
  src/features/osm_edit_link/index.tsx
  src/features/search/searchLocationAtoms.ts
  src/utils/atoms/v3tov2.ts
Due: UI Components, Core Logic, Features, Utilities
