Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

Delete src/core/localization/gettextbe/common.po
  src/core/localization/gettextbe/common.po
Due: Core Logic

Create common.po in Belarusian
  src/core/localization/gettext/be/common.po
Due: Core Logic

Create common.po in Russian
  src/core/localization/gettext/ru/common.po
Due: Core Logic

Delete src/core/localization/translations/be/common.json
  src/core/localization/translations/be/common.json
Due: none

Delete src/core/localization/translations/ru/common.json
  src/core/localization/translations/ru/common.json
Due: none

Update constants.ts - add Belarusian and Russian
  src/features/user_profile/components/SettingsForm/constants.ts
Due: Features

update common.pot
  src/core/localization/gettext/template/common.pot
Due: Core Logic

feat(20907): add glass theme
  src/components/Search/SearchInput/SearchInput.module.css
  src/components/Search/SearchInput/SearchInput.tsx
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.tsx
  src/features/create_layer/components/EditFeaturesPanel/EditFeaturesPanel.tsx
  src/features/create_layer/components/EditLayerPanel/EditLayerPanel.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/search/index.tsx
  src/main.tsx
  src/styles/glass-theme.css
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Features

feat(20907): fix background color
  src/styles/glass-theme.css
Due: none

feat(20907): fix scrollbar background color
  src/styles/glass-theme.css
Due: none

feat: add Slack notification for deployment updates
  .github/workflows/deploy_dev.yml
Due: none

feat: add error handling for missing PR in deployment workflow and update Slack webhook URL
  .github/workflows/deploy_dev.yml
Due: none

feat(20907): change background color, rev=move hovering
  src/components/Panel/index.ts
  src/components/Search/SearchInput/SearchInput.tsx
  src/features/toolbar/components/ToolbarButton/ToolbarButton.tsx
  src/styles/glass-theme.css
Due: UI Components, Features

feat(20956): add condition to call for subscription in intercom
  src/features/intercom/index.ts
Due: Features

feat: update deployment workflow to use CD_GITHUB_TOKEN for GitHub actions
  .github/workflows/deploy_dev.yml
Due: none

Added CD_GITHUB_TOKEN
  .github/workflows/deploy_dev.yml
Due: none

feat(20907): temp improvements
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.module.css
  src/features/events_list/components/EventCard/EventCard.module.css
  src/styles/glass-theme.css
Due: Features

feat(20907): temp improvements
  src/styles/glass-theme.css
Due: none

add strings translated to Belarusian and Russian
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/ru/common.po
  src/core/localization/translations/en/common.json
Due: Core Logic

update common.po for Belarusian
  src/core/localization/gettext/be/common.po
Due: Core Logic

fix(20732): fix toolbar horizontal scroll padding
  src/features/toolbar/components/ToolbarContent/ToolbarContent.module.css
Due: Features

feat: update create-pull-request action to v7 and add auto-merge step (#989)
  .github/workflows/build.yml
  .github/workflows/deploy_dev.yml
Due: none

Added CD_GITHUB_TOKEN (#995)
  .github/workflows/deploy_dev.yml
Due: none

Update src/core/localization/gettext/be/common.po
  src/core/localization/gettext/be/common.po
Due: Core Logic

update common.po for languages
  src/core/localization/gettext/ar/common.po
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/de/common.po
  src/core/localization/gettext/es/common.po
  src/core/localization/gettext/id/common.po
  src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/uk/common.po
Due: Core Logic

fix translation
  src/core/localization/gettext/be/common.po
Due: Core Logic

update translations
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/ru/common.po
Due: Core Logic

update translation
  src/core/localization/gettext/ru/common.po
Due: Core Logic

Update common.po
  src/core/localization/gettext/be/common.po
Due: Core Logic

Update common.po
  src/core/localization/gettext/ru/common.po
Due: Core Logic

Update common.po
  src/core/localization/gettext/uk/common.po
Due: Core Logic
