Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'
  - '**/__test__/**'
  - '**/__tests__/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

fix(sentry): PROD-DISASTER-NINJA-FE-1C ignore yandex metrics spans
  src/App.tsx
Due: none

Update index.ts
  src/features/live_sensor/index.ts
Due: Features

fix(sentry): PROD-DISASTER-NINJA-FE-1C filter yandex spans by hostname
  src/App.tsx
Due: none

fix(osm-edit-link): correct JOSM link construction
  src/features/osm_edit_link/openOsmLink.ts
  src/features/osm_edit_link/readme.md
Due: Features

fix(ci): 21190 refine docker cache scope and multi-stage build
  .dockerignore
  .github/workflows/build.yml
  Dockerfile
Due: none

fix(osm-edit-link): correct JOSM link construction (#1165)
  src/features/osm_edit_link/openOsmLink.ts
  src/features/osm_edit_link/readme.md
Due: Features

fix(docker): 21190 shrink binary and run non-root
  .dockerignore
  Dockerfile
Due: none

Locate me button
  src/features/create_layer/control.ts
  src/features/locate_me/LocateMeButton.tsx
  src/features/locate_me/index.tsx
  src/features/map_ruler/index.tsx
  src/features/osm_edit_link/index.tsx
Due: Features

Revert "correct button names in English"
  src/core/localization/gettext/template/common.pot
Due: Core Logic

Update live sensor button dynamically
  src/features/boundary_selector/control.ts
  src/features/live_sensor/index.ts
Due: Features

Revert geometry_uploader.title. Remove unused boundary_selector and focus_geometry strings
  src/core/localization/translations/en/common.json
Due: none

Remove dynamic update for live sensors button
  src/features/live_sensor/index.ts
Due: Features

fix: 22253 align toolbar tooltips (#1160)
  src/core/localization/translations/en/common.json
  src/features/boundary_selector/control.ts
  src/features/create_layer/control.ts
  src/features/geometry_uploader/index.tsx
  src/features/locate_me/LocateMeButton.tsx
  src/features/locate_me/index.tsx
  src/features/map_ruler/index.tsx
  src/features/osm_edit_link/index.tsx
Due: Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@f84b29c10a999daf5aed773fd59838a759034dda 🚀
  assets/_virtual_cosmos-imports-DSlzMq0N.js
  assets/index-BCznxZr-.js
  renderer.html
Due: none

chore: remove comment
  src/core/metrics/externalMetrics/matomoMetrics.ts
Due: Core Logic

feat(metrics): 22156 basic Matomo Tag Manager setup (#1157)
  configs/config.default.json
  src/core/config/loaders/stageConfigLoader.ts
  src/core/config/types.ts
  src/core/metrics/externalMetrics/matomoMetrics.ts
  src/core/metrics/index.ts
  src/core/metrics/types.ts
Due: Core Logic

Fix logic of grouping MCDA axes inside Opacity and Extrusion legends
  src/components/MultivariateLegend/ExtrusionStepsLegend.tsx
  src/components/MultivariateLegend/OpacityStepsLegend.tsx
  src/components/MultivariateLegend/helpers/getMCDALayersDirectionsForLegend.ts
Due: UI Components

feat(MVA): 21210 Multivariate analysis legend (#1151)
  package.json
  pnpm-lock.yaml
  src/components/MultivariateLegend/ExtrusionStepsLegend.tsx
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/MultivariateLegend/MultivariateLegendStep.module.css
  src/components/MultivariateLegend/MultivariateLegendStep.tsx
  src/components/MultivariateLegend/OpacityStepsLegend.tsx
  src/components/MultivariateLegend/helpers/getMCDALayersDirectionsForLegend.ts
  src/components/SimpleLegend/icons/CircleIcon.tsx
  src/components/SimpleLegend/icons/HexIcon.tsx
  src/components/SimpleLegend/icons/SquareIcon.tsx
  src/core/localization/translations/en/common.json
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/index.ts
  src/utils/mcda/getDirectAndReversedMCDALayers.ts
Due: UI Components, Core Logic, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@0f02213945a32b78613ea6b248ac49d0d2ec2766 🚀
  assets/_virtual_cosmos-imports-BFoTH4zo.js
  assets/_virtual_cosmos-imports-BSkNNBD9.css
  assets/index-uYQx1qGZ.js
  renderer.html
Due: none

remove unused style
  src/components/SimpleLegend/SimpleLegend.module.css
Due: UI Components

Align SimpleLegendStep content to the top, to better support long item names
  src/components/SimpleLegend/SimpleLegend.module.css
  src/components/SimpleLegend/SimpleLegend.tsx
Due: UI Components

Change default circle icon stroke width in SimpleLegend
  src/components/SimpleLegend/icons/CircleIcon.tsx
Due: UI Components

feat: rework MultivariateLegend to include all present dimensions
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

feat: allow MVA without score dimension
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

Slightly different margin top on normal sized icons
  src/components/SimpleLegend/SimpleLegend.module.css
Due: UI Components

Add multiline text support to SimpleLegendStep
  src/components/SimpleLegend/SimpleLegend.module.css
  src/components/SimpleLegend/SimpleLegend.tsx
Due: UI Components

Allow passing stepIconSize to SimpleLegendStep
  src/components/SimpleLegend/SimpleLegend.tsx
  src/core/logical_layers/types/legends.ts
Due: UI Components, Core Logic

Remove stepIconSize props. Revert CircleIcon stroke width
  src/components/SimpleLegend/SimpleLegend.tsx
  src/components/SimpleLegend/icons/CircleIcon.tsx
Due: UI Components

Refactor in SimpleLegend
  src/components/SimpleLegend/SimpleLegend.tsx
  src/core/logical_layers/types/legends.ts
Due: UI Components, Core Logic

feat: OpacityStepsLegend
  src/components/OpacityStepsLegend/OpacityStepsLegend.tsx
Due: UI Components

Add text icon to Text dimension legend
  src/components/MultivariateLegend/icons/3d_legend_high.svg
  src/components/MultivariateLegend/icons/3d_legend_low.svg
  src/components/MultivariateLegend/icons/3d_legend_med.svg
  src/components/MultivariateLegend/icons/text_legend_icon.svg
Due: UI Components

Extract getDirectAndReversedMCDALayers into function
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/OpacityStepsLegend/OpacityStepsLegend.tsx
Due: UI Components

Add OpacityStepsLegend and ExtrusionStepsLegend
  src/components/MultivariateLegend/DimensionStep.module.css
  src/components/MultivariateLegend/DimensionStep.tsx
  src/components/MultivariateLegend/ExtrusionLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/OpacityStepsLegend/OpacityStepsLegend.tsx
Due: UI Components

Use icons from ui-kit
  src/components/MultivariateLegend/icons/3d_legend_high.svg
  src/components/MultivariateLegend/icons/3d_legend_low.svg
  src/components/MultivariateLegend/icons/3d_legend_med.svg
  src/components/MultivariateLegend/icons/text_legend_icon.svg
Due: UI Components

rename DimensionStep -> MultivariateLegendStep
  src/components/MultivariateLegend/DimensionStep.module.css
  src/components/MultivariateLegend/DimensionStep.tsx
Due: UI Components

Add todo to change MultivariateLayerConfig
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
Due: Core Logic

Don't apply undefined filter to layers. Create transparent fill if no color or opacity/extrusion dimensions are avaliable
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
  src/core/logical_layers/renderers/stylesConfigs/constants.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/createMonochromeFillSpec.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Core Logic, Features

feat: Allow creating layers with only Text dimension
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

Revert changes in SimpleLegend
  src/components/SimpleLegend/SimpleLegend.module.css
  src/components/SimpleLegend/SimpleLegend.tsx
  src/core/logical_layers/types/legends.ts
Due: UI Components, Core Logic
