Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

feat(event_episodes): 16890 close timeline for single episode
  src/features/event_episodes/atoms/autoCloseEpisodesPanel.ts
  src/features/event_episodes/index.tsx
  src/features/event_episodes/model.ts
  src/features/event_episodes/readme.md
Due: Features

fix(links): 17603 add protocol to link without scheme
  src/components/LinkRenderer/LinkRenderer.test.tsx
  src/components/LinkRenderer/LinkRenderer.tsx
  src/components/LinkRenderer/README.md
Due: UI Components

fix(locate-me): cancel event autofocus when locating
  e2e/location.spec.ts
  e2e/locationWithPro.spec.ts
  e2e/locationWithUser.spec.ts
  src/features/locate_me/index.tsx
  src/features/locate_me/readme.md
Due: Features

fix(legend): 21473 respect fill-opacity in simple legend icons
  src/components/SimpleLegend/icons/CircleIcon.tsx
  src/components/SimpleLegend/icons/HexIcon.tsx
  src/components/SimpleLegend/icons/SquareIcon.tsx
  src/core/types/index.ts
  src/features/legend_panel/readme.md
Due: UI Components, Core Logic, Features

fix(state): 18076 apply user default feed
  src/core/config/__mocks__/_configMock.ts
  src/core/config/index.ts
  src/core/shared_state/currentEventFeed.test.ts
  src/core/shared_state/currentEventFeed.ts
  src/core/shared_state/eventFeeds.ts
  src/features/events_list/components/FeedSelector/FeedSelector.tsx
  src/features/events_list/readme.md
Due: Core Logic, Features

fix(current-event): 18555 reset focused geometry on event deselect
  src/core/shared_state/currentEvent.ts
  src/features/current_event/atoms/currentEventGeometry.ts
  src/features/current_event/readme.md
Due: Core Logic, Features

fix(user-profile): 17546 ensure default profile settings
  src/core/shared_state/currentUser.ts
  src/features/user_profile/atoms/userProfile.ts
  src/features/user_profile/readme.md
Due: Core Logic, Features

Refactor MapPopover and Position Tracker for improved clarity and performance; streamline position update logic, enhance error handling, and remove unnecessary RAF scheduling references.
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
Due: Core Logic

replace pages MarkdownContent with StructuredMarkdownContent
  src/core/pages/PagesDocument.tsx
  src/core/pages/StructuredMarkdownContent.tsx
  src/core/pages/index.tsx
Due: Core Logic

docs(mva): 21304 document multivariate config
  README.md
  docs/mva-config-interface.md
Due: none

feat(ui): 12594 remove panel resizing
  docs/investigations/columnContext-improvements.md
  docs/investigations/panels-report.md
  src/core/store/columnContext.tsx
  src/features/advanced_analytics_panel/index.tsx
  src/features/analytics_panel/index.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layers_panel/index.tsx
  src/utils/hooks/useResizer.tsx
  src/views/Map/SmartColumn/SmartColumn.module.css
  src/views/Map/SmartColumn/SmartColumn.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Core Logic, Features, Utilities

feat(ui): 18136 persist panel and layer states
  docs/investigations/panels-report.md
  src/core/logical_layers/atoms/enabledLayers.ts
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layers_panel/readme.md
  src/features/search/index.tsx
  src/utils/hooks/useShortPanelState.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/readme.md
Due: UI Components, Core Logic, Features, Utilities

fix(mcda): 18758 sort dropdown search results alphabetically
  src/features/mcda/components/MCDAForm/index.tsx
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

feat(layers): 12568 auto enable selected area layer
  src/features/focused_geometry_layer/index.ts
  src/features/focused_geometry_layer/readme.md
  src/features/focused_geometry_layer/tests/enableOnGeometry.test.ts
Due: Features

feat(mcda): place mcda layers on top
  src/core/logical_layers/atoms/layersHierarchy.ts
  src/core/logical_layers/atoms/layersTree/sortTree.test.ts
  src/core/logical_layers/atoms/layersTree/sortTree.ts
  src/core/logical_layers/types/settings.ts
  src/features/mcda/atoms/mcdaLayer.ts
  src/features/mcda/readme.md
Due: Core Logic, Features

fix(layers): 15478 remember collapsed group state
  src/features/layers_panel/atoms/openState.ts
  src/features/layers_panel/components/Category/Category.tsx
  src/features/layers_panel/components/Group/Group.tsx
  src/features/layers_panel/readme.md
Due: Features

chore(features): 11105 remove redundant feature flags
  configs/config.default.json
  src/core/app/types.ts
  src/core/config/__mocks__/_configMock.ts
  src/views/Map/Map.tsx
Due: UI Components, Core Logic

feat(focused-geometry-editor): 13364 zoom to area on edit
  src/widgets/FocusedGeometryEditor/index.ts
  src/widgets/FocusedGeometryEditor/readme.md
Due: UI Components

feat(toolbar): 12045 add hide panels control
  src/core/localization/translations/en/common.json
  src/core/toolbar/index.ts
  src/features/hide_panels_button/constants.ts
  src/features/hide_panels_button/index.ts
  src/features/hide_panels_button/readme.md
  src/global.css
Due: Core Logic, Features

docs(toolbar): 18586 clarify hint usage
  e2e/testsData/toolbar-buttons.json
  src/core/localization/gettext/template/common.pot
  src/core/localization/translations/en/common.json
  src/core/toolbar/readme.md
  src/core/toolbar/types.ts
  src/features/create_layer/CustomLayerDrawToolsWidget.tsx
  src/features/mcda/index.ts
  src/features/toolbar/components/ShortToolbarButton/ShortToolbarButton.tsx
  src/features/toolbar/components/ToolbarButton/ToolbarButton.tsx
  src/features/toolbar/components/ToolbarControl/ToolbarControl.tsx
  src/widgets/FocusedGeometryEditor/DrawToolsWidget.tsx
Due: UI Components, Core Logic, Features

feat(toolbar): 17353 disable GeoJSON upload while tools active
  src/features/geometry_uploader/index.tsx
  src/features/mcda/index.ts
Due: Features

feat(toolbar): 12700 add zoom buttons
  e2e/testsData/toolbar-buttons.json
  src/core/localization/gettext/template/common.pot
  src/core/localization/translations/en/common.json
  src/core/toolbar/index.ts
  src/features/zoom_buttons/constants.ts
  src/features/zoom_buttons/index.tsx
  src/features/zoom_buttons/readme.md
  src/views/Map/Map.tsx
Due: UI Components, Core Logic, Features

feat(toolbar): 13320 add zoom to selected area button
  src/core/app/types.ts
  src/core/localization/gettext/ar/common.po
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/de/common.po
  src/core/localization/gettext/es/common.po
  src/core/localization/gettext/id/common.po
  src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/template/common.pot
  src/core/localization/gettext/uk/common.po
  src/core/localization/translations/en/common.json
  src/core/toolbar/index.ts
  src/features/zoom_to/constants.ts
  src/features/zoom_to/index.tsx
  src/features/zoom_to/readme.md
  src/views/Map/Map.tsx
Due: UI Components, Core Logic, Features

feat(toolbar): #12702 add reset north control
  src/core/app/types.ts
  src/core/localization/gettext/ar/common.po
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/de/common.po
  src/core/localization/gettext/es/common.po
  src/core/localization/gettext/id/common.po
  src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/template/common.pot
  src/core/localization/gettext/uk/common.po
  src/core/localization/translations/en/common.json
  src/core/toolbar/index.ts
  src/features/reset_north/constants.ts
  src/features/reset_north/index.tsx
  src/features/reset_north/readme.md
  src/views/Map/Map.tsx
Due: UI Components, Core Logic, Features

feat(layer_features_panel): 18001 show archived label
  src/features/layer_features_panel/atoms/helpers/hotProjects_outlines.ts
  src/features/layer_features_panel/readme.md
Due: Features

feat(focused_geometry_layer): 12523 include event info in layer name
  src/core/focused_geometry/utils.ts
  src/features/focused_geometry_layer/index.ts
  src/features/focused_geometry_layer/readme.md
Due: Core Logic, Features

fix(user_profile): 17738 disable select with single option
  src/features/user_profile/components/SettingsForm/SelectFeeds.tsx
  src/features/user_profile/readme.md
Due: Features

fix(draw): 16285 prevent errors when finishing without pointer move
  src/core/draw_tools/customDrawModes/CustomDrawPolygonMode.ts
  src/core/draw_tools/modes/drawLine.ts
  src/core/draw_tools/modes/drawPolygon.ts
Due: Core Logic

feat(toolbar): #17353 disable GeoJSON upload during certain tools
  src/features/geometry_uploader/index.tsx
  src/features/geometry_uploader/readme.md
Due: Features

feat(layers-panel): 17151 disable deselect button when nothing to clear
  src/features/layers_panel/atoms/mountedLayersByGroup.ts
  src/features/layers_panel/components/Category/Category.tsx
  src/features/layers_panel/components/DeselectControl/DeselectControl.module.css
  src/features/layers_panel/components/DeselectControl/DeselectControl.tsx
  src/features/layers_panel/components/Group/Group.tsx
  src/features/layers_panel/readme.md
Due: Features

chore: better formatting in UniComponents fixture
  src/components/Uni/Components/UniComponents.fixture.tsx
  src/components/Uni/Components/UniComponents.module.css
Due: UI Components

feat: PropertiesTable component
  src/components/Uni/Components/PropertiesTable.module.css
  src/components/Uni/Components/PropertiesTable.tsx
  src/components/Uni/Components/UniComponents.fixture.tsx
  src/components/Uni/__mocks__/_hotLayout.js
  src/components/Uni/componentsRegistry.ts
Due: UI Components

Update glass-theme.css (#1097)
  src/styles/glass-theme.css
Due: none

feat: update new HOT projects layout to use PropertiesTable
  src/features/layer_features_panel/layouts/hotProjects.ts
Due: Features

feat: bigger distance from table to other components
  src/components/Uni/Components/PropertiesTable.module.css
Due: UI Components

feat(mcda): allow deleting analysis layers
  src/features/mcda/components/MCDALayerEditor/index.tsx
  src/features/mcda/readme.md
  src/features/mcda/utils/removeLayerFromConfig.test.ts
  src/features/mcda/utils/removeLayerFromConfig.ts
Due: Features

feat(analytics): export panel data to csv
  src/core/localization/translations/en/common.json
  src/features/analytics_panel/components/DownloadCSVControl/DownloadCSVControl.module.css
  src/features/analytics_panel/components/DownloadCSVControl/DownloadCSVControl.tsx
  src/features/analytics_panel/components/PanelContent/PanelContent.module.css
  src/features/analytics_panel/components/PanelContent/PanelContent.tsx
  src/features/analytics_panel/readme.md
  src/features/analytics_panel/utils/toCsv.test.ts
  src/features/analytics_panel/utils/toCsv.ts
  src/utils/file/download.ts
Due: Features, Utilities

fix fieldsRegistry fixture by adding array type
  src/components/Uni/FieldsRegistry.fixture.tsx
  src/components/Uni/fieldsRegistry.ts
Due: UI Components

feat: add ifCondition parameter for UniLayoutRenderer
  src/components/Uni/Layout/UniLayout.md
  src/components/Uni/Layout/UniLayoutRenderer.tsx
  src/components/Uni/Layout/types.ts
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/components/Uni/__mocks__/_conditionalLayout.js
  src/components/Uni/helpers/checkIfCondition.ts
Due: UI Components

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
