Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

Version 2.48.0
  package.json
Due: none

Version 2.48.0 (#1056)
  package.json
Due: none

Deploying to gh-pages from @ konturio/disaster-ninja-fe@08f59fa99b00b655a5794103bb07ff521fc9fad2 🚀
  index.html
Due: none

doc(layer features): 21662 Update readme for layer_features_panel
  src/features/layer_features_panel/readme.md
Due: Features

Refactor Layer Features panel to UniLayout
  src/components/Uni/Components/Image.module.css
  src/components/Uni/Components/Image.tsx
  src/components/Uni/componentsRegistry.ts
  src/features/layer_features_panel/atoms/helpers/acaps.ts
  src/features/layer_features_panel/atoms/helpers/hotProjects_outlines.ts
  src/features/layer_features_panel/atoms/helpers/openaerialmap.ts
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
  src/features/layer_features_panel/components/CardElements/ActionButtons.module.css
  src/features/layer_features_panel/components/CardElements/ActionButtons.tsx
  src/features/layer_features_panel/components/CardElements/CardImage.tsx
  src/features/layer_features_panel/components/CardElements/CardText.module.css
  src/features/layer_features_panel/components/CardElements/CardText.tsx
  src/features/layer_features_panel/components/CardElements/Label.module.css
  src/features/layer_features_panel/components/CardElements/Label.tsx
  src/features/layer_features_panel/components/CardElements/Progress.module.css
  src/features/layer_features_panel/components/CardElements/Progress.tsx
  src/features/layer_features_panel/components/CardElements/Table.module.css
  src/features/layer_features_panel/components/CardElements/Table.tsx
  src/features/layer_features_panel/components/CardElements/Title.module.css
  src/features/layer_features_panel/components/CardElements/Title.tsx
  src/features/layer_features_panel/components/CardElements/index.ts
  src/features/layer_features_panel/components/LayerFeaturesCard/LayerFeaturesCard.module.css
  src/features/layer_features_panel/components/LayerFeaturesCard/index.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/FullState.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/ShortState.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layer_features_panel/layouts/acaps.ts
  src/features/layer_features_panel/layouts/formats.ts
  src/features/layer_features_panel/layouts/hotProjects.ts
  src/features/layer_features_panel/layouts/index.ts
  src/features/layer_features_panel/layouts/oam.ts
  src/features/layer_features_panel/readme.md
Due: UI Components, Features

Add error handling for stage config fetch
  src/core/config/loaders/stageConfigLoader.ts
Due: Core Logic

fix: responsive media in markdown pages
  src/core/pages/pages.css
Due: Core Logic

feat(auth): add google login
  src/core/localization/translations/en/common.json
  src/core/metrics/externalMetrics/googleEventsList.ts
  src/features/user_profile/components/LoginForm/LoginForm.tsx
Due: Core Logic, Features

chore: fix typo
  src/features/layer_features_panel/readme.md
Due: Features

doc(layer features): 21662 Update readme for layer_features_panel (#1057)
  src/features/layer_features_panel/readme.md
Due: Features

docs: improve README grammar
  README.md
Due: none

Apply suggestions from code review
  README.md
Due: none

fix: better height multiplier for Extrusion
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createExtrusionLayerSpecification.ts
Due: Core Logic

feat(oam-auth): handle oam auth with oam auth wrapper
  src/core/router/routes.tsx
  src/features/oam-auth/components/OAMAuthRequired.module.css
  src/features/oam-auth/components/OAMAuthRequired.tsx
  src/features/oam-auth/components/OAMAuthWrapper.tsx
Due: Core Logic, Features

feat: add Extrusion to MVA creation form
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

feat: add maxHeight property to Extrusion dimension
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createExtrusionLayerSpecification.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.module.css
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.module.css
  src/features/multivariate_layer/constants.ts
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Core Logic, Features

refactor: move input filter constants out of MCDA feature
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/constants.ts
  src/features/mcda/components/MCDALayerEditor/MCDARangeControls/MCDARangeControls.tsx
  src/features/multivariate_layer/components/CustomStepsInput/CustomStepsInput.tsx
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/utils/form/inputFilters.ts
Due: Features, Utilities

fix: INPUT_FILTER_POSITIVE_NUMBER for maxHeight
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

refactor: extrusionTop -> height
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createExtrusionLayerSpecification.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Core Logic, Features

Improve README documentation (#1062)
  README.md
Due: none

feat(oam-auth): add OAM authentication configuration and localization support
  configs/config.default.json
  src/core/app/types.ts
  src/core/config/__mocks__/_configMock.ts
  src/core/config/loaders/stageConfigLoader.ts
  src/core/config/types.ts
  src/core/localization/translations/en/common.json
  src/core/router/routes.tsx
  src/features/oam-auth/components/OAMAuthRequired.tsx
  src/features/oam-auth/components/OAMAuthWrapper.tsx
Due: Core Logic, Features

feat(oam-auth): update OAM authentication URL and add detailed feature documentation
  src/core/config/__mocks__/_configMock.ts
  src/features/oam-auth/readme.md
Due: Features

fix(config): update OAM_AUTH_URL to use HTTPS for improved security
  configs/config.default.json
Due: none

fix(routes): update default required routes for OAM authentication
  src/core/router/routes.tsx
Due: Core Logic

feat(multivariate): 21208 Text (label) dimension in Multivariate layers (#1047)
  src/core/localization/translations/en/common.json
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/formatFeatureText.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.module.css
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
  src/features/multivariate_layer/constants.ts
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
  src/utils/mcda/createMCDALayersFromBivariateAxes.ts
Due: Core Logic, Features, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@48f5d3a070208d5f8caf1aa744e70cefdf390836 🚀
  assets/BivariateGreetings-BnbjqWPV.js
  assets/_virtual_cosmos-imports-BmbmVr99.js
  assets/index-lwq_2XkX.js
  renderer.html
Due: none

feat(multivariate): 21207 recover Extrusion dimension functionality
  src/components/ConnectedMap/map-libre-adapter/index.tsx
  src/core/localization/translations/en/common.json
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createExtrusionLayerSpecification.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
Due: UI Components, Core Logic, Features

fix: don't add Extrusion to config when it has no layers
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

feat: Apply static opacity to 3D layer
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createExtrusionLayerSpecification.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
Due: Core Logic

fix: assign extrusion table in mva popup properly
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
Due: Core Logic

feat: improve number filter regexps
  src/utils/form/inputFilters.ts
Due: Utilities

feat: add validation for Static Opacity
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

chore: remove commented line
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

chore: add comments
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createExtrusionLayerSpecification.ts
Due: Core Logic

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
