Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: ui, core, features, utils

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 10%
        threshold: 1%
        informational: false
      ui:
        target: 8%
        paths:
          - "src/components/**"
          - "src/widgets/**"
          - "src/views/**"
      core:
        target: 25%
        paths:
          - "src/core/**"
      features:
        target: 15%
        paths:
          - "src/features/**"
      utils:
        target: 20%
        paths:
          - "src/utils/**"

    patch:
      default:
        target: 20%
        threshold: 2%
      ui:
        target: 15%
        paths:
          - "src/components/**"
          - "src/widgets/**"
          - "src/views/**"
      core:
        target: 35%
        paths:
          - "src/core/**"
      features:
        target: 25%
        paths:
          - "src/features/**"
      utils:
        target: 30%
        paths:
          - "src/utils/**"

flags:
  ui:
    paths:
      - src/components
      - src/widgets
      - src/views
  core:
    paths:
      - src/core
  features:
    paths:
      - src/features
  utils:
    paths:
      - src/utils

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  show_carryforward_flags: true

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'
  
  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'
  
  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'
  
  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'
  
  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

cov test
  .github/workflows/build.yml
  codecov.yml
  src/features/live_sensor/tests/SensorRecorder.test.ts
Due: none

dont lock cov yet
  codecov.yml
Due: none

chore(ci): i18n processing updates, codecov fixes (#885)
  .eslintrc.identical.keys.cjs
  .github/workflows/build.yml
  .husky/pre-push
  README.md
  codecov.yml
  i18next-scanner.config.cjs
  package.json
  pnpm-lock.yaml
  src/features/live_sensor/tests/SensorRecorder.test.ts
Due: none

Deploying to gh-pages from @ konturio/disaster-ninja-fe@daa499adb8747daf20b0f3cbdd78734101a6c915 🚀
  assets/BivariateGreetings-Dwme-BQu.js
  assets/_virtual_cosmos-imports-CYsPBn8q.js
  assets/index-D_w0_r9J.js
  renderer.html
Due: none

improve md customization, fix css processing
  package.json
  pnpm-lock.yaml
  postcss.config.ts
  src/components/Layout/Article/Article.module.css
  src/core/pages/PagesDocument.fixture.tsx
  src/core/pages/StructuredMarkdownRender.fixture.tsx
  src/core/pages/__mocks__/_about.md
  src/core/pages/__mocks__/_user_guide.md
  src/core/pages/index.tsx
  src/core/pages/readme.md
  src/core/pages/structuredMarkdown.test.tsx
  src/core/pages/structuredMarkdown.tsx
  src/core/router/routes.tsx
  src/features/llm_analytics/components/LLMAnalyticsContainer/LLMAnalyticsContainer.tsx
  src/features/llm_analytics/components/LLMAnalyticsEmptyState/LLMAnalyticsEmptyState.tsx
  src/global.css
  src/views/About/About.tsx
Due: ui, core, features

deps up
  package.json
  pnpm-lock.yaml
Due: none

fixes
  .stylelintrc.json
  cosmos.vite.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  postcss.config.ts
  src/components/Layout/Article/Article.module.css
  src/components/Layout/Article/Article.tsx
  src/global-pages.css
  src/global.css
  src/main.tsx
  vite.config.ts
Due: ui

deps upd
  package.json
  pnpm-lock.yaml
Due: none

ts fix
  src/core/router/routes.tsx
Due: core

fix codecov
  .github/workflows/build.yml
  codecov.yml
Due: none

fix cov, add bundle analysis
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: none

cov fix
  codecov.yml
Due: none

cov upd
  .github/workflows/build.yml
  codecov.yml
  vite.config.ts
Due: none

debug
  vite.config.ts
Due: none

fix
  vite.config.ts
Due: none

fix
  .github/workflows/build.yml
  vite.config.ts
Due: none

fix
  codecov.yml
  vite.config.ts
Due: none

fix
  .github/workflows/build.yml
Due: none

feat(Layer Features panel) 20087 Add requiresEnabledLayer parameter to the feature config. Remove hardcoded array
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
  src/features/layer_features_panel/constants.ts
  src/features/layer_features_panel/types/layerFeaturesPanel.ts
Due: features

chore: change currentFeatureIdAtom from <number | undefined> to <number | null>
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
  src/features/layer_features_panel/components/LayerFeaturesPanel/FullState.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
Due: features

fix env
  .github/workflows/build.yml
  vite.config.ts
Due: none

fix(map position): 18438 Don't initiate extra navigation on moveend. Only use useMapPositionSmoothSync to track moveend events
  src/components/ConnectedMap/useMapPositionSmoothSync.ts
  src/core/shared_state/currentMapPosition.ts
Due: ui, core

tweaks
  .github/workflows/build.yml
  codecov.yml
  vite.config.ts
Due: none

fix(map navigation): replace old code for position checks in currentMapPosition atom
  src/core/shared_state/currentMapPosition.ts
Due: core

chore: rename useMapPositionSmoothSync hook to useMapPositionSync
  src/components/ConnectedMap/ConnectedMap.tsx
  src/components/ConnectedMap/useMapPositionSmoothSync.ts
  src/core/shared_state/currentMapPosition.ts
  src/features/bivariate_color_manager/components/BivariateSampleMap/BivariateSampleMap.tsx
Due: ui, core, features

chore: update useMapPositionSync hook filename
  src/components/ConnectedMap/ConnectedMap.tsx
  src/components/ConnectedMap/useMapPositionSync.ts
  src/features/bivariate_color_manager/components/BivariateSampleMap/BivariateSampleMap.tsx
Due: ui, features

css tweaks
  src/components/Layout/Article/Article.module.css
  src/global.css
  src/styles/global-map.css
  src/styles/global-pages.css
  src/styles/reset.css
  vite.config.ts
Due: ui

fix: use setter function provided by useAtom hook
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
Due: features

fix(Layer features): 20006, 19171 update layerFeaturesCollectionAtom to reatom3. Fix duplicated /search requests (#886)
  src/core/api/layers.ts
  src/core/localization/translations/en/common.json
  src/features/layer_features_panel/atoms/helpers/acaps.ts
  src/features/layer_features_panel/atoms/helpers/hotProjects_outlines.ts
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
  src/features/layer_features_panel/atoms/mocks/acaps_mock.ts
  src/features/layer_features_panel/components/LayerFeaturesPanel/FullState.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/ShortState.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layer_features_panel/constants.ts
  src/features/layer_features_panel/readme.md
  src/features/layer_features_panel/types/layerFeaturesPanel.ts
Due: core, features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@72269c80e4645eae8bbfdbef8a8a1eb6a31b8e70 🚀
  assets/BivariateGreetings-HGI0UAcD.js
  assets/_virtual_cosmos-imports-CRqDnA0E.js
  assets/index-DkT9CtYd.js
  renderer.html
Due: none

Version 2.35.0
  package.json
Due: none

Version 2.35.0 (#892)
  package.json
Due: none

chore(documentation): 19955 Update readme for layer_features_panel
  src/features/layer_features_panel/readme.md
Due: features

fix css
  src/styles/global-pages.css
Due: none

chore(documentation): 19955 Update readme for layer_features_panel (#893)
  src/features/layer_features_panel/readme.md
Due: features

cov and build updates
  .github/workflows/build.yml
  .stylelintrc.json
  codecov.yml
  cosmos.vite.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  postcss.config.ts
  src/core/localization/linksNoTranslation.test.ts
  src/main.tsx
  vite.config.ts
Due: none

fix(build): build pipeline updates and codecov bundle analysis (#894)
  .github/workflows/build.yml
  .stylelintrc.json
  codecov.yml
  cosmos.vite.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  postcss.config.ts
  src/core/localization/linksNoTranslation.test.ts
  src/main.tsx
  vite.config.ts
Due: none
