Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

feat(20432): pr refactors
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.tsx
Due: Features

feat(20432): select ref area by user location (#966)
  src/core/focused_geometry/types.ts
  src/core/localization/translations/en/common.json
  src/core/shared_state/referenceArea.ts
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.module.css
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.tsx
  src/utils/common/userLocation.ts
Due: Core Logic, Features, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@9637565bfacaa04194f284eb04a1405e764643ee 🚀
  assets/_virtual_cosmos-imports-B2_RHeM4.js
  assets/index-BTbecyvB.js
  renderer.html
Due: none

feat: add semicolon query fix to HTTP handler
  server/main.go
Due: none

Setting the light for Extrusion layers: Added comment
  src/components/ConnectedMap/map-libre-adapter/index.tsx
Due: UI Components

chore(20661): Remove Extrusion layer functionality (not part of current story)
  src/components/ConnectedMap/map-libre-adapter/index.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
Due: UI Components, Core Logic, Features

chore(20661): remove mock files for Multivariate layer style
  src/core/logical_layers/renderers/MultivariateRenderer/mockStyles.ts
  src/core/logical_layers/renderers/MultivariateRenderer/mocks/bivariate_legend_steps.ts
  src/core/logical_layers/renderers/MultivariateRenderer/mocks/mcda_elevation.ts
  src/core/logical_layers/renderers/MultivariateRenderer/mocks/mcda_population.ts
  src/core/logical_layers/renderers/MultivariateRenderer/mocks/mock_base_mcda_strength_mcda.json
  src/core/logical_layers/renderers/MultivariateRenderer/mocks/mock_single_mcda.json
Due: Core Logic

chore(20661): remove Text layer functionality from Multivariate layers
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/formatMaplibreString.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
Due: Core Logic

chore(20661): remove Strength (Opacity) functionality from Multivariate layers
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
Due: Core Logic, Features

fix(toolbar): fix toolbar rendering - hide empty button groups
  src/features/toolbar/components/ToolbarContent/ToolbarContent.tsx
Due: Features

feat(20430): split bio into 2 separate fields
  src/boot.ts
  src/core/app/user.ts
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Core Logic, Features

feat(ci): add deploy to dev workflow
  .github/workflows/build.yml
  .github/workflows/deploy_dev.yml
Due: none

feat(ci): update deploy workflow to create a pull request for helm manifest updates
  .github/workflows/deploy_dev.yml
Due: none

feat(20430): pr refactor
  src/core/localization/translations/en/common.json
Due: none

feat(20430): split bio into 2 separate fields (#973)
  src/boot.ts
  src/core/app/user.ts
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@3638bc14d583e8e4b416f7d577d91fafeae48c08 🚀
  assets/_virtual_cosmos-imports-Bjgzbryd.js
  assets/index-Bl7eqsRX.js
  renderer.html
Due: none

feat: add level (high, low, medium) to multivariate popup in bivariate mode
  src/core/localization/translations/en/common.json
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.module.css
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/multivariatePopupHelpers.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
Due: Core Logic

fix(20430): show analytics section by feature
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Features

fix(toolbar): fix toolbar rendering - hide empty button groups (#972)
  src/features/toolbar/components/ToolbarContent/ToolbarContent.tsx
Due: Features

fixes
  src/core/api_client/errors.ts
  src/core/auth/OidcSimpleClient.ts
  src/core/auth/README.md
  src/core/auth/constants.ts
Due: Core Logic

refactor(apiClient): remove default authRequirement from API calls, fix docs
  src/core/api/assets.ts
  src/core/api/boundaries.ts
  src/core/api/insights.ts
  src/core/api/layers.ts
  src/core/api/mcda.ts
  src/core/api/search.ts
  src/core/api_client/readme.md
  src/core/auth/README.md
  src/core/config/loaders/appConfigLoader.ts
  src/core/metrics/app-metrics.ts
  src/core/resources/bivariateStatisticsResource/index.ts
  src/core/resources/eventFeedsResource.ts
  src/core/shared_state/currentEventResource.ts
  src/features/advanced_analytics_panel/atoms/advancedAnalyticsWorldResource.ts
  src/features/event_episodes/atoms/episodesResource.ts
  src/features/events_list/atoms/eventListResource.ts
  src/features/layers_in_area/atoms/areaLayersDetailsResource/areaLayersDetailsResourceAtom.ts
Due: Core Logic, Features

add test
  src/core/api_client/tests/apiClient.test.ts
Due: none

fix(20428): add new organization section, linkedin, profile fileds
  src/core/app/user.ts
  src/core/config/types.ts
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
  src/features/user_profile/components/SettingsForm/constants.ts
Due: Core Logic, Features

fix(20428): pr refactor
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Features

chore: add TODO to getLayerRenderer
  src/core/logical_layers/utils/getLayerRenderer.ts
Due: Core Logic

fix(20430): show analytics section by feature (#974)
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@a1d855c458ea3beeb2e0e9604104e81ad97b8989 🚀
  assets/_virtual_cosmos-imports-DbKYLLSY.js
  assets/index-CfJKzD0W.js
  renderer.html
Due: none

fix(20428): add new organization section, linkedin, profile fileds (#976)
  src/core/app/user.ts
  src/core/config/types.ts
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
  src/features/user_profile/components/SettingsForm/constants.ts
Due: Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@49bfe9e2681b5afd31a28112e1c4389debec8a8f 🚀
  assets/_virtual_cosmos-imports-DvFfXfrq.js
  assets/index-5PkiGqKU.js
  renderer.html
Due: none

feat(20433): changes
  src/components/Search/SearchBar/SearchBar.module.css
  src/components/Search/SearchBar/SearchBar.tsx
  src/components/Search/SearchInput/SearchInput.tsx
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/index.tsx
  src/features/search/searchAtoms.ts
  src/features/search/searchLocationAtoms.ts
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/RefAreaSearchBar.module.css
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/RefAreaSearchBar.tsx
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.tsx
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/searchRefAreaAtoms.ts
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/utils/hooks/useSearchMenu.tsx
Due: UI Components, Features, Utilities

Updated github actions artifact upload/download
  .github/workflows/pr-preview.yml
Due: none

Updated github actions artifact upload/download (#978)
  .github/workflows/pr-preview.yml
Due: none

Version 2.41.0
  package.json
Due: none

Version 2.41.0 (#980)
  package.json
Due: none

Feature Flag Dependency Analysis
  docs/feature-flag-dependency-report.md
Due: none

chore: rename ClickableTilesRenderer -> ClickableFeaturesRenderer
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/activeAndHoverFeatureStates.ts
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/constants.ts
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/featureVisibilityCheck.ts
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/index.ts
  src/core/logical_layers/renderers/ClickableTilesRenderer/index.ts
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
Due: Core Logic

chore: remove duplicating code
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/activeAndHoverFeatureStates.ts
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/constants.ts
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/featureVisibilityCheck.ts
Due: Core Logic

chore: rename and refactor generatePopupContent -> createPopupContent
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/popup.ts
Due: Core Logic

chore: move activeAndHoverFeatureStates and featureVisibilityCheck
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/helpers/activeAndHoverFeatureStates.ts
  src/core/logical_layers/renderers/helpers/featureVisibilityCheck.ts
Due: Core Logic
