Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'
  - '**/__test__/**'
  - '**/__tests__/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

Deploying to gh-pages from @ konturio/disaster-ninja-fe@9790cfd51a855f978d5fcfa2641b5586ae718e93 🚀
  assets/_virtual_cosmos-imports-BDJvE1AE.css
  assets/_virtual_cosmos-imports-C0136iJE.css
  assets/_virtual_cosmos-imports-CLXFaFQz.js
  assets/index-EJaZPmFq.js
  renderer.html
Due: none

feat(ci): 21190 cache docker layers (#1161)
  .dockerignore
  .github/workflows/build.yml
  Dockerfile
  server/main.go
Due: none

fix(sentry): PROD-DISASTER-NINJA-FE-1C ignore yandex metrics spans (#1164)
  src/App.tsx
Due: none

docs(create_layer): 10088 note unique id for new layers
  src/features/create_layer/atoms/editableLayerController.ts
  src/features/create_layer/readme.md
Due: Features

fix(workflows): no-ticket allow codecov failures
  .github/workflows/build.yml
Due: none

fix(workflows): no-ticket allow codecov failures (#1176)
  .github/workflows/build.yml
Due: none

chore(mcda): 00000 add alias for mcda styles
  docs/investigations/renderer-tooltips-popups-report.md
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/MultivariateLegend/helpers/getMCDALayersDirectionsForLegend.ts
  src/core/api/search.ts
  src/core/logical_layers/renderers/MCDARenderer/popup.ts
  src/features/mcda/atoms/mcdaLayer.ts
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDATransformationDebugInfo/MCDATransformationDebugInfo.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/TransformationsChart/TransformationsChart.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/constants.ts
  src/features/mcda/components/MCDALayerEditor/MCDARangeControls/MCDARangeControls.tsx
  src/features/mcda/components/MCDALayerEditor/index.tsx
  src/features/mcda/index.ts
  src/features/mcda/mcdaConfig.tsx
  src/features/mcda/utils/openMcdaFile.ts
  src/features/mcda/utils/validateMCDAConfig.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
  src/features/multivariate_layer/helpers/createStepsForMCDADimension.ts
  src/features/search/searchAtoms.ts
  src/utils/bivariate/getMaxZoomLevel.ts
  src/utils/bivariate/types/stat.types.ts
  src/utils/mcda/createMCDALayersFromBivariateAxes.ts
  src/utils/mcda/getDirectAndReversedMCDALayers.ts
  src/utils/mcda/mcdaLegendsUtils.ts
  src/utils/multivariate/multivariateStyle.ts
  tsconfig.json
Due: UI Components, Core Logic, Features, Utilities

chore(ci): 1046 central tracking for disabled e2e tests
  .github/workflows/build.yml
  README.md
  TEST_FIXMES.md
  docs/disabled-e2e-tests.md
  package.json
  scripts/check-test-fixmes.mjs
Due: none

test(toolbar): 852 improve resize selectors
  e2e/page-objects/toolBar.ts
  src/utils/hooks/useShortPanelState.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Utilities

test(toolbar): 852 improve resize selectors (#1179)
  e2e/page-objects/toolBar.ts
  src/utils/hooks/useShortPanelState.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Utilities

fix(create_layer): 10088 prefix user layer id
  src/features/create_layer/atoms/editableLayerController.ts
  src/features/create_layer/constants.ts
  src/features/create_layer/readme.md
Due: Features

fix(create_layer): 10088 unique id for new layers (#1175)
  src/features/create_layer/atoms/editableLayerController.ts
  src/features/create_layer/constants.ts
  src/features/create_layer/readme.md
Due: Features

Update .gitattributes to support Codex
  .gitattributes
Due: none

Revert "fix(create_layer): 10088 unique id for new layers (#1175)"
  src/features/create_layer/atoms/editableLayerController.ts
  src/features/create_layer/constants.ts
  src/features/create_layer/readme.md
Due: Features

replace deepEqual() with toEqual()
  src/features/multivariate_layer/helpers/createBivariateColorsForMVA.test.ts
Due: none

chore: simplify code, remove unnecessary component
  src/features/layers_panel/components/Category/Category.tsx
  src/features/layers_panel/components/Group/Group.tsx
Due: Features

Revert "fix(create_layer): 10088 unique id for new layers (#1175)" (#1180)
  src/features/create_layer/atoms/editableLayerController.ts
  src/features/create_layer/constants.ts
  src/features/create_layer/readme.md
Due: Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@ab70a5a2ed7451c447479646c9eeae49bfed9d89 🚀
  assets/_virtual_cosmos-imports-BDJvE1AE.css
  assets/_virtual_cosmos-imports-BwcItJnH.js
  assets/_virtual_cosmos-imports-C0136iJE.css
  assets/index-CNxZQuM3.js
  renderer.html
Due: none

use v3 atom instead of hook
  src/features/layers_panel/atoms/mountedLayersByGroup.ts
  src/features/layers_panel/components/Group/Group.tsx
  src/features/layers_panel/hooks/useMountedLayersByGroup.ts
Due: Features

Update mountedLayersByCategoryAtom to reatom v3
  src/features/layers_panel/atoms/mountedLayersByCategory.ts
  src/features/layers_panel/components/Category/Category.tsx
  src/features/layers_panel/components/Group/Group.tsx
Due: Features

Revert "feat(ci): 21190 cache docker layers (#1161)"
  .dockerignore
  .github/workflows/build.yml
  Dockerfile
  server/main.go
Due: none

feat(layer_features_panel): 21648 set HOT projects panel min height to 360px
  src/features/layer_features_panel/constants.ts
Due: Features

fix(workflows): no-ticket set up buildx
  .github/workflows/build.yml
Due: none

fix(workflows): no-ticket set up buildx (#1183)
  .github/workflows/build.yml
Due: none

Deploying to gh-pages from @ konturio/disaster-ninja-fe@206eec841ad0a0f06b110d52d952983b89c0b9d8 🚀
  assets/_virtual_cosmos-imports-BDJvE1AE.css
  assets/_virtual_cosmos-imports-C0136iJE.css
  assets/_virtual_cosmos-imports-CLXFaFQz.js
  assets/index-EJaZPmFq.js
  renderer.html
Due: none

fix(events-list): 18556 do not autoselect event on feed change
  src/features/events_list/components/FeedSelector/FeedSelector.tsx
  src/features/events_list/readme.md
Due: Features

refactor: extract formatting MCDA range values to utils
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
  src/features/mcda/components/MCDALayerEditor/Sentiments.tsx
  src/utils/mcda/mcdaLegendsUtils.ts
Due: Features, Utilities

fix(url): preserve event id when initializing feed
  src/core/url_store/atoms/urlStore.ts
Due: Core Logic

feat: Print each layer in Bivariate Legend axis
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

Update ui-kit
  package.json
  pnpm-lock.yaml
Due: none

Only show steps if either dimension has 1 layer or all layers are normalized
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

fix(url): preserve event id when initializing feed (#1185)
  src/core/url_store/atoms/urlStore.ts
Due: Core Logic

fix(MultivariateAnalysisForm): 22367 fix updating bivariate steps in MVA config after it was updated once
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

fix: change minimal feature panel height
  src/features/layer_features_panel/constants.ts
Due: Features

feat(breadcrumbs): optimize boundary fetch
  package.json
  pnpm-lock.yaml
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.ts
  src/features/breadcrumbs/helpers/breadcrumbsHelpers.test.ts
  src/features/breadcrumbs/helpers/breadcrumbsHelpers.ts
  src/features/breadcrumbs/readme.md
Due: Features

feat(MVA): 22302 Don't show units for normalized Label dimensions (#1174)
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
Due: Core Logic

feat(MVA): 21209 Bivariate colors for custom MVA based on sentiments direction (#1173)
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/helpers/createBivariateColorsForMVA.test.ts
  src/features/multivariate_layer/helpers/createBivariateColorsForMVA.ts
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

docs(events-list): 18556 clarify auto-selection handling
  src/features/events_list/readme.md
Due: Features

Disable deselect button instead of hiding it
  src/features/layers_panel/components/Category/Category.tsx
  src/features/layers_panel/components/DeselectControl/DeselectControl.module.css
  src/features/layers_panel/components/DeselectControl/DeselectControl.tsx
  src/features/layers_panel/components/Group/Group.tsx
Due: Features

fix: change minimal feature panel height (#1186)
  src/features/layer_features_panel/constants.ts
Due: Features
