Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

chore: add ticket number to todo
  src/core/logical_layers/utils/getLayerRenderer.ts
Due: Core Logic

feat: show corner tooltips over Bivariate legend for MVA
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/MultivariateLegend/constants.ts
Due: UI Components

fix(20691): remove resetting active control on another control click
  src/core/toolbar/index.ts
Due: Core Logic

feat(20433): pr fixes
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/RefAreaSearchBar.module.css
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/RefAreaSearchBar.tsx
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.tsx
  src/utils/hooks/useSearchMenu.tsx
Due: Features, Utilities

fix(20691): remove resetting active control on another control click (#981)
  src/core/toolbar/index.ts
Due: Core Logic

chore: move MultivariateLayerStyle
  src/core/logical_layers/renderers/MultivariateRenderer/popup.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/types.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/multivariateStyle.ts
  src/core/logical_layers/types/style.ts
  src/features/multivariate_layer/helpers/multivariateLayerActions.ts
  src/features/multivariate_layer/index.ts
  src/utils/file/pickJSONFile.ts
Due: Core Logic, Features, Utilities

new uni system WIP
  docs/columnContext-improvements.md
  docs/list-panel-architecture.md
  package.json
  pnpm-lock.yaml
  src/components/Icon/index.tsx
  src/components/Uni/Elements/ActionButtons.module.css
  src/components/Uni/Elements/ActionButtons.tsx
  src/components/Uni/Elements/CardText.module.css
  src/components/Uni/Elements/CardText.tsx
  src/components/Uni/Elements/Label.module.css
  src/components/Uni/Elements/Label.tsx
  src/components/Uni/Elements/Progress.module.css
  src/components/Uni/Elements/Progress.tsx
  src/components/Uni/Elements/Severity.module.css
  src/components/Uni/Elements/Severity.tsx
  src/components/Uni/Elements/Table.module.css
  src/components/Uni/Elements/Table.tsx
  src/components/Uni/Elements/Title.module.css
  src/components/Uni/Elements/Title.tsx
  src/components/Uni/Elements/index.ts
  src/components/Uni/UniCard.fixture.tsx
  src/components/Uni/UniCard.module.css
  src/components/Uni/UniCard.tsx
  src/components/Uni/rfc-uni-containers.md
  src/features/events_list/components/EventsPanel/EventsUniPanel.tsx
  src/features/events_list/eventToUniCard.ts
  src/features/events_list/index.tsx
  src/features/layer_features_panel/atoms/helpers/acaps.ts
  src/features/layer_features_panel/components/CardElements/ActionButtons.tsx
  src/features/layer_features_panel/components/CardElements/index.ts
Due: UI Components, Features

fix(toolbar): extract toolbar content logic into a custom hook and it reuse in short tollbar state
  src/features/toolbar/components/ShortToolbarContent/ShortToolbarContent.tsx
  src/features/toolbar/components/ToolbarContent/ToolbarContent.tsx
  src/features/toolbar/hooks/use-toolbar-content.tsx
Due: Features

feat(ci): add deploy to dev workflow
  .github/workflows/build.yml
  .github/workflows/deploy_dev.yml
Due: none

feat(ci): update deploy workflow to create a pull request for helm manifest updates
  .github/workflows/deploy_dev.yml
Due: none

fix(ci): remove unnecessary GITHUB_TOKEN requirement and clean up build.yml
  .github/workflows/build.yml
Due: none

feat(docs): add docstring about workflow_call section
  .github/workflows/build.yml
Due: none

18305 simplifying dn deployment process (#975)
  .github/workflows/build.yml
  .github/workflows/deploy_dev.yml
Due: none

refactor: simplify GitHub Actions workflows by removing unnecessary inputs and secrets
  .github/workflows/build.yml
  .github/workflows/deploy_dev.yml
Due: none

feat(20433): add translation, files renaming, key navigation enhancements
  src/core/localization/translations/en/common.json
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.tsx
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/SearchBar.module.css
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/SearchBar.tsx
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/searchAtoms.ts
  src/utils/hooks/useSearchMenu.tsx
Due: Features, Utilities

fix(20433): remove extra bracket
  src/features/toolbar/components/ShortToolbarContent/ShortToolbarContent.tsx
Due: Features

refactor: simplify GitHub Actions workflows by removing unnecessary inputs and secrets (#983)
  .github/workflows/build.yml
  .github/workflows/deploy_dev.yml
Due: none

17352 hide button group on toolbar if it s empty 1 (#982)
  src/features/toolbar/components/ShortToolbarContent/ShortToolbarContent.tsx
  src/features/toolbar/components/ToolbarContent/ToolbarContent.tsx
  src/features/toolbar/hooks/use-toolbar-content.tsx
Due: Features

chore: add CODECOV_TOKEN as a required secret for workflows
  .github/workflows/build.yml
  .github/workflows/deploy_dev.yml
Due: none

feat(20433): add new feature search location in reference section of profile (#977)
  src/components/Search/SearchInput/SearchInput.module.css
  src/components/Search/SearchInput/SearchInput.tsx
  src/core/localization/translations/en/common.json
  src/features/reports/components/search/Searchbar.tsx
  src/features/search/componets/SearchBar/SearchBar.module.css
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/index.tsx
  src/features/search/searchAtoms.ts
  src/features/search/searchLocationAtoms.ts
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.tsx
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/SearchBar.module.css
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/SearchBar.tsx
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/searchAtoms.ts
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/utils/hooks/useSearchMenu.tsx
Due: UI Components, Features, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@2d7e4f635231437bb7a27c376a0e2198b5c0d540 🚀
  assets/_virtual_cosmos-imports-BIoQYGQc.js
  assets/index-BYzTMXmS.js
  renderer.html
Due: none

fix(20960): reserve 40px height for breadcrumbs
  src/features/breadcrumbs/BreadcrumbsPanel.module.css
  src/features/breadcrumbs/BreadcrumbsPanel.tsx
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.ts
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.module.css
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.tsx
  src/views/Map/Layouts/Layout.tsx
  src/views/Map/Layouts/Mobile/Mobile.module.css
Due: UI Components, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@60197a028697075adc425c40bf818ce034bc4693 🚀
  assets/_virtual_cosmos-imports-CgCbWN5l.js
  assets/index-BMFCphCm.js
  renderer.html
Due: none

feat(16881): send to intercom more user data
  src/core/app/authHooks.ts
  src/core/config/index.ts
  src/core/shared_state/currentSubscription.ts
  src/features/intercom/index.ts
  src/features/subscriptions/components/PricingContent/PricingContent.tsx
Due: Core Logic, Features

chore: add CODECOV_TOKEN as a required secret for workflows (#984)
  .github/workflows/build.yml
  .github/workflows/deploy_dev.yml
Due: none

feat(20690): pr fixes
  src/features/breadcrumbs/BreadcrumbsPanel.tsx
  src/features/search/componets/SearchInput/SearchInput.module.css
  src/features/search/componets/SearchInput/SearchInput.tsx
  src/views/Map/Layouts/Layout.tsx
Due: UI Components, Features

feat(20690): pr fixes
  src/components/Search/SearchInput/SearchInput.module.css
Due: UI Components

fix(20960): reserve 40px height for breadcrumbs (#985)
  src/components/Search/SearchInput/SearchInput.module.css
  src/components/Search/SearchInput/SearchInput.tsx
  src/features/breadcrumbs/BreadcrumbsPanel.module.css
  src/features/breadcrumbs/BreadcrumbsPanel.tsx
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.ts
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.module.css
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.tsx
  src/views/Map/Layouts/Layout.tsx
  src/views/Map/Layouts/Mobile/Mobile.module.css
Due: UI Components, Features

feat(16881): send to intercom more user data (#986)
  src/core/app/authHooks.ts
  src/core/config/index.ts
  src/core/shared_state/currentSubscription.ts
  src/features/intercom/index.ts
  src/features/subscriptions/components/PricingContent/PricingContent.tsx
Due: Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@69479a20315022df31aa9b18497648c199e6bf6d 🚀
  assets/_virtual_cosmos-imports-BuVAFutI.js
  assets/index-Dd8AqPJ_.js
  renderer.html
Due: none

Version 2.42.0
  package.json
Due: none

Version 2.42.0 (#988)
  package.json
Due: none

feat: update create-pull-request action to v7 and add auto-merge step
  .github/workflows/deploy_dev.yml
Due: none

feat: enhance deployment workflow to create and merge pull requests for image tag updates
  .github/workflows/build.yml
  .github/workflows/deploy_dev.yml
Due: none

Create common.json in Belarusian
  src/core/localization/translations/be/common.json
Due: none

Update TranslationService.ts - add Belarusian and Russian
  src/core/localization/TranslationService.ts
Due: Core Logic

Update common.json - add Belarusian and Russian
  src/core/localization/translations/en/common.json
Due: none

Create common.json in Russian
  src/core/localization/translations/ru/common.json
Due: none

Create common.po in Belarusian
  src/core/localization/gettextbe/common.po
Due: Core Logic

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
