Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

Update common.po
  src/core/localization/gettext/ru/common.po
Due: Core Logic

feat: update Slack notification action and improve payload formatting
  .github/workflows/deploy_dev.yml
Due: none

feat: update Slack notification action and improve payload formatting (#996)
  .github/workflows/deploy_dev.yml
Due: none

Update common.po
  src/core/localization/gettext/be/common.po
Due: Core Logic

Update src/core/localization/gettext/be/common.po
  src/core/localization/gettext/be/common.po
Due: Core Logic

feat(20956): add condition to call for subscription in intercom (#992)
  src/features/intercom/index.ts
Due: Features

Update common.po
  src/core/localization/gettext/uk/common.po
Due: Core Logic

feat(12805): open panels as bottomSheet overlay
  package.json
  pnpm-lock.yaml
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components

Added Set IMAGE_TAG output step, fixed steps
  .github/workflows/deploy_dev.yml
Due: none

Updated deprecated set-output
  .github/workflows/deploy_dev.yml
Due: none

Added Set IMAGE_TAG output step, fixed steps (#997)
  .github/workflows/deploy_dev.yml
Due: none

sync gettext
  src/core/localization/gettext/be/common.po
Due: Core Logic

feat: update create-pull-request action to v7 and add auto-merge step (#989)
  .github/workflows/build.yml
  .github/workflows/deploy_dev.yml
Due: none

Added CD_GITHUB_TOKEN (#995)
  .github/workflows/deploy_dev.yml
Due: none

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
