Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

fix(router): 21648 optimize login redirect lookup
  src/core/router/components/Router.tsx
  src/core/router/readme.md
Due: Core Logic

fix(router): 21648 optimize login redirect and clarify docs
  src/core/router/components/Router.tsx
  src/core/router/readme.md
Due: Core Logic

misc fixes
  src/components/Overlays/Popover.tsx
  src/core/map/MapPopover.md
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/types.ts
Due: UI Components, Core Logic

fix: 21751 apply line color instead of fill color to custom user layers
  src/features/create_layer/atoms/editableLayerController.ts
  src/features/create_layer/constants.ts
Due: Features

fix: 21753 Add filters to Symbol and Fill layers in custom user layers
  src/utils/map/mapCSSToMapBoxPropertiesConverter/generateLayers.ts
Due: Utilities

refactor: use LayerSpecificationWithoutId type
  src/utils/map/mapCSSToMapBoxPropertiesConverter/generateLayers.ts
Due: Utilities

chore: add comments
  src/utils/map/mapCSSToMapBoxPropertiesConverter/generateLayers.ts
Due: Utilities

adr update
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
Due: none

fix(Layers panel): 21754 Fix enabling/disabling different layers with the same name (#1078)
  src/components/Layer/index.tsx
  src/components/LayerControl/LayerControl.tsx
Due: UI Components

Deploying to gh-pages from @ konturio/disaster-ninja-fe@62514588e0b4024cfa3ca6417505cb728c7f0fe6 🚀
  index.html
Due: none

fixes and docs
  docs/architecture/ADR-002-MapPopover-Event-System-Integration.md
  docs/investigations/ConnectedMap-architecture.md
  docs/investigations/map-event-management-system.md
  docs/investigations/panels-report.md
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/popover/MapPopover.fixture.tsx
Due: Core Logic

adr 3
  docs/architecture/ADR-003-Addendum-useEffect-Dependency-Solutions.md
  docs/architecture/ADR-003-MapPopover-DRY-Refactoring.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapPopoverIntegration.ts
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/index.ts
  src/core/map/popover/DebugMapPopoverProvider.tsx
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/types.ts
Due: UI Components, Core Logic

rearch
  docs/architecture/ADR-002-Amendment-Service-Pattern-Enforcement.md
  docs/architecture/ADR-004-Type-Safe-Coordinate-System.md
  docs/architecture/ADR-005-Map-Interaction-System-Consolidation.md
  docs/investigations/architectural-debt-analysis.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariatePopoverProviders.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesPopoverProvider.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/GenericRenderer.ts
  src/core/logical_layers/renderers/GenericRendererPopoverProvider.tsx
  src/core/logical_layers/renderers/MCDARenderer/popup.ts
  src/core/map/hooks/useMapPopoverIntegration.ts
  src/core/map/hooks/useMapPopoverInteraction.ts
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/core/map/popover/MapPopoverProvider.tsx
Due: UI Components, Core Logic

cleanup
  src/core/map/hooks/useMapPopoverIntegration.ts
  src/core/map/popover/MapPopoverController.ts
Due: Core Logic

cleanups
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/GenericRenderer.ts
  src/core/logical_layers/renderers/MCDARenderer/popup.ts
  src/core/map/popover/DebugMapPopoverProvider.tsx
Due: Core Logic

fixes
  docs/architecture/ADR-002-Amendment-Service-Pattern-Enforcement.md
  docs/architecture/ADR-003-Addendum-useEffect-Dependency-Solutions.md
  docs/architecture/ADR-003-MapPopover-DRY-Refactoring.md
  docs/investigations/architectural-debt-analysis.md
  src/core/map/hooks/useMapClickHandler.ts
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverController.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/coordinateConverter.ts
  src/core/map/types.ts
Due: Core Logic

fix metrics
  src/core/logical_layers/renderers/BivariateRenderer/BivariatePopoverProviders.tsx
Due: Core Logic

ADR-004 Cleanup
  docs/architecture/ADR-002-MapPopover-Event-System-Integration.md
  docs/architecture/ADR-003-MapPopover-DRY-Refactoring.md
  docs/architecture/ADR-004-Type-Safe-Coordinate-System.md
  docs/architecture/MapPopover-Cleanup-Plan.md
  docs/investigations/architectural-debt-analysis.md
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/coordinateConverter.ts
  src/core/map/types.ts
Due: Core Logic

dry refactor
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  docs/architecture/ADR-003-MapPopover-DRY-Refactoring.md
  docs/architecture/MapPopover-Cleanup-Plan.md
  docs/architecture/MapPopover-SOLID-DRY-Violations-Report.md
  src/core/logical_layers/renderers/BivariateRenderer/BivariatePopoverProviders.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesPopoverProvider.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/GenericRenderer.ts
  src/core/logical_layers/renderers/GenericRendererPopoverProvider.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapClickHandler.ts
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/DebugMapPopoverProvider.tsx
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/core/map/popover/MapPopoverPositionCalculator.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/coordinateConverter.ts
  src/core/map/types.ts
  src/core/map/utils/maplibreCoordinateUtils.ts
Due: Core Logic

refactor, solid fixes
  docs/architecture/ADR-002-MapPopover-Event-System-Integration.md
  docs/architecture/MapPopover-SOLID-DRY-Violations-Report.md
  docs/investigations/MapPopover-SOLID-Violations-Report.md
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapClickHandler.ts
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/types.ts
Due: Core Logic

review fixes
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  docs/architecture/ADR-002-Amendment-Service-Pattern-Enforcement.md
  docs/architecture/ADR-005-Map-Interaction-System-Consolidation.md
  src/core/logical_layers/renderers/GenericRendererPopoverProvider.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/types.ts
  src/core/map/utils/coordinateValidation.ts
  src/core/url_store/encoder.ts
Due: Core Logic

doc style
  src/core/map/MapPopover.md
Due: Core Logic

review fixes
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  docs/investigations/ConnectedMap-architecture.md
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopoverPositionCalculator.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/utils/maplibreCoordinateUtils.ts
Due: Core Logic

remove outdated code
  src/components/ConnectedMap/map-libre-adapter/index.tsx
Due: UI Components

Refactor ConnectedMap component to utilize new modular architecture with Suspense-based loading
  docs/architecture/ADR-006-Migration-Guide.md
  docs/architecture/ADR-006-useMaplibre-Hook-Architecture.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useApplicationMap.ts
  src/core/map/hooks/useMapEffect.ts
  src/core/map/hooks/useMapEvents.ts
  src/core/map/hooks/useMapInstance.ts
  src/core/map/hooks/useMapLayers.ts
  src/core/map/hooks/useMapPositionTracking.ts
  src/core/map/index.ts
  src/core/map/plugins/MapPlugin.ts
  src/core/map/plugins/MapPopoverPlugin.ts
  src/core/map/providers/IMapProvider.ts
  src/core/map/providers/MapLibreProvider.ts
Due: UI Components, Core Logic

test: update unit test snapshot
  src/utils/map/mapCSSToMapBoxPropertiesConverter/__test__/__snapshots__/mapCSSToMapBoxPropertiesConverter.test.ts.snap
Due: Utilities

refactor: move custom layers API requests into the feature folder
  src/core/api/layers.ts
  src/features/create_layer/api/layers.ts
  src/features/create_layer/atoms/currentEditedLayerFeatures.ts
  src/features/create_layer/atoms/editableLayerController.ts
Due: Core Logic, Features

Refactor boundary selector to use mappopover system
  docs/investigations/boundary-selector-mapopopover-migration.md
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/features/boundary_selector/atoms/boundaryMarkerAtom.ts
  src/features/boundary_selector/atoms/boundaryRegistryAtom.ts
  src/features/boundary_selector/atoms/clickCoordinatesAtom.ts
  src/features/boundary_selector/components/BoundarySelectorContentProvider.tsx
  src/features/boundary_selector/components/getSelectorWithOptions.tsx
  src/features/boundary_selector/components/styles.module.css
  src/features/boundary_selector/control.ts
  src/features/boundary_selector/index.tsx
  src/features/boundary_selector/utils/createDropdownAsMarker.ts
Due: Core Logic, Features

fix
  src/features/boundary_selector/atoms/boundaryResourceAtom.ts
Due: Features

fix
  src/features/boundary_selector/atoms/boundaryActions.ts
  src/features/boundary_selector/atoms/boundaryRegistryAtom.ts
Due: Features

fix(draw): ensure lines visible on mobile
  src/core/draw_tools/configs/drawLine.ts
  src/core/draw_tools/configs/drawPolyLayer.ts
  src/core/draw_tools/configs/modifyLayer.ts
  src/core/draw_tools/readme.md
  src/features/map_ruler/readme.md
  src/features/map_ruler/renderers/MapRulerRenderer.ts
Due: Core Logic, Features

fix(login): DN-0000 keep validation errors visible longer
  src/features/user_profile/components/LoginForm/LoginForm.module.css
  src/features/user_profile/components/LoginForm/LoginForm.tsx
  src/features/user_profile/components/LoginForm/usePersistentError.test.tsx
  src/features/user_profile/components/LoginForm/usePersistentError.ts
  src/features/user_profile/readme.md
Due: Features

simplify selector code
  src/features/boundary_selector/atoms/boundaryActions.ts
  src/features/boundary_selector/atoms/boundaryResourceAtom.ts
  src/features/boundary_selector/components/BoundarySelectorContentProvider.tsx
Due: Features

fix(intercom): DN2-17967 reset Intercom session on logout
  src/core/app/authHooks.ts
  src/features/intercom/index.test.ts
  src/features/intercom/index.ts
  src/features/intercom/readme.md
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Core Logic, Features

feat(locate_me): 18696 show spinner while locating
  src/features/locate_me/LocateMeButton.tsx
  src/features/locate_me/index.tsx
  src/features/locate_me/readme.md
Due: Features

fix(error-handling): 13697 unify no data error messages
  src/core/shared_state/currentEventResource.ts
  src/features/boundary_selector/atoms/boundaryResourceAtom.ts
  src/features/event_episodes/atoms/episodesResource.ts
Due: Core Logic, Features

chore: remove unused SafeCallbacks interface
  src/features/create_layer/atoms/currentEditedLayerFeatures.ts
Due: Features

feat: remove "Save features" button from EditFeaturePanel
  src/features/create_layer/components/EditFeatureForm/EditFeatureForm.module.css
  src/features/create_layer/components/EditFeatureForm/EditFeatureForm.tsx
  src/features/create_layer/components/EditFeaturesPanel/EditFeaturesPanel.tsx
Due: Features

refactor: remove unused finishButtonText property from DrawToolBoxSettings
  src/core/draw_tools/atoms/toolboxAtom.ts
  src/core/localization/translations/en/common.json
  src/features/create_layer/atoms/drawToolsController.ts
Due: Core Logic, Features

refactor: remove unused onFinishDrawing
  src/features/create_layer/atoms/drawToolsController.ts
Due: Features
