Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

feat: support static opacity and MCDA opacity
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/getOpacityExpression.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.module.css
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Core Logic, Features

fix: fix circular dependency
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/getOpacityExpression.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/multivariateAxisToScore.ts
Due: Core Logic

feat: change default opacity percentage
  src/core/logical_layers/renderers/stylesConfigs/multivariate/getOpacityExpression.ts
Due: Core Logic

feat: show Cookies page in Sidebar navigation if subTab with 'cookies' id is present in "about_page" feature
  src/core/router/routes.tsx
Due: Core Logic

feat(20921): introduce presentation mode v2
  src/core/app/types.ts
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.module.css
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.tsx
  src/features/legend_panel/components/PanelContent/PanelContent.module.css
  src/features/legend_panel/components/PanelContent/PanelContent.tsx
  src/features/presentation_mode/CurrentEvent/CurrentEvent.module.css
  src/features/presentation_mode/CurrentEvent/CurrentEvent.tsx
  src/global.css
  src/styles/presentation-mode.css
  src/views/CommonView.tsx
  src/views/Map/Layouts/Desktop/Desktop.module.css
  src/views/Map/Layouts/Desktop/Desktop.tsx
  src/views/Map/Layouts/Layout.module.css
  src/views/Map/Layouts/Layout.tsx
  src/views/Map/Layouts/Presentation/Presentation.module.css
  src/views/Map/Layouts/Presentation/Presentation.tsx
  src/views/Map/Map.tsx
Due: UI Components, Core Logic, Features

feat(20921): introduce presentation mode v2
  src/views/Map/Layouts/Desktop/Desktop.module.css
Due: UI Components

feat: add external routes functionality
  src/core/app/types.ts
  src/core/config/types.ts
  src/core/localization/translations/en/common.json
  src/core/router/routes.tsx
  src/views/ExternalPage/ExternalPage.module.css
  src/views/ExternalPage/ExternalPage.tsx
Due: UI Components, Core Logic

fix check
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

fix: don't create expression for static opacity value
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/getOpacityExpression.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/multivariateAxisToScore.ts
Due: Core Logic

refactor opacity steps expression function
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/createOpacityStepsExpression.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/getOpacityExpression.ts
Due: Core Logic

refactor: rename MultivariateAxis -> MultivariateDimension
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/createOpacityStepsExpression.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/multivariateAxisToScore.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/multivariateDimensionToScore.ts
Due: Core Logic

chore: remove chain casting and redundant optional chaining
  src/core/logical_layers/renderers/stylesConfigs/multivariate/createOpacityStepsExpression.ts
Due: Core Logic

refactor: rename function
  src/core/router/routes.tsx
Due: Core Logic

refactor: reorganize external routes, rename feature to "custom_routes"
  src/core/app/types.ts
  src/core/config/types.ts
  src/core/router/routes.tsx
  src/views/EmbeddedPage/EmbeddedPage.module.css
  src/views/EmbeddedPage/EmbeddedPage.tsx
  src/views/ExternalPage/ExternalPage.tsx
Due: UI Components, Core Logic

review fix
  src/components/Uni/Components/Badge.tsx
Due: UI Components

Remove unused customComponents prop from LayoutRenderer and related components for cleaner code.
  src/components/Uni/Layout/LayoutProvider.tsx
  src/components/Uni/Layout/LayoutRenderer.tsx
  src/components/Uni/Layout/types.ts
  src/components/Uni/LayoutDebugger.fixture.tsx
Due: UI Components

Refactor StackedProgressBar and accessorCompiler for improved functionality and code clarity; update fixture for consistency.
  src/components/Uni/Components/Bar.tsx
  src/components/Uni/Components/UniComponents.fixture.tsx
  src/components/Uni/Layout/LayoutRenderer.tsx
  src/components/Uni/Layout/accessorCompiler.ts
Due: UI Components

refactor: make const shouldShowCookiesInSidebar a constant instead of a function
  src/core/router/routes.tsx
Due: Core Logic

feat(navigation): 21447 make a working prototype with embedded OAM pages (#1032)
  src/core/app/types.ts
  src/core/config/types.ts
  src/core/localization/translations/en/common.json
  src/core/router/routes.tsx
  src/views/EmbeddedPage/EmbeddedPage.module.css
  src/views/EmbeddedPage/EmbeddedPage.tsx
Due: UI Components, Core Logic

Deploying to gh-pages from @ konturio/disaster-ninja-fe@096f7fae1682263c19ab39f26036d8660f75e411 🚀
  assets/_virtual_cosmos-imports-BdTlIQsk.css
  assets/_virtual_cosmos-imports-DUS9g8k1.js
  assets/_virtual_cosmos-imports-DVv2GKG9.js
  assets/index-n4m1F6zo.js
  renderer.html
Due: none

Version 2.45.0
  package.json
Due: none

Version 2.45.0 (#1033)
  package.json
Due: none

Pass icon rotation as-is
  src/utils/map/mapCSSToMapBoxPropertiesConverter/config.ts
Due: Utilities

Pass icon rotation as-is (#1034)
  src/utils/map/mapCSSToMapBoxPropertiesConverter/config.ts
Due: Utilities

feat(layer features): 21490 Basic layer features panel customization for OAM
  src/features/layer_features_panel/atoms/helpers/openaerialmap.ts
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
  src/features/layer_features_panel/components/CardElements/CardImage.module.css
  src/features/layer_features_panel/components/CardElements/CardImage.tsx
  src/features/layer_features_panel/components/CardElements/index.ts
  src/features/layer_features_panel/constants.ts
Due: Features

review fixes and reorg
  src/components/Uni/Components/Field.tsx
  src/components/Uni/Components/IconButton.tsx
  src/components/Uni/FieldsRegistry.fixture.tsx
  src/components/Uni/Layout/UniLayout.md
  src/components/Uni/Layout/UniLayout.tsx
  src/components/Uni/Layout/UniLayoutContext.tsx
  src/components/Uni/Layout/UniLayoutRenderer.tsx
  src/components/Uni/Layout/useUniLayoutCompiledAccessors.ts
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/components/FeedSelector/FeedSelector.module.css
Due: UI Components, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@c5e5e5193e27ae005022c1161d4779528f67c235 🚀
  assets/_virtual_cosmos-imports-C8-1Gi08.js
  assets/_virtual_cosmos-imports-D0-FCz-V.css
  assets/index-JhDe6vLS.js
  cosmos.fixtures.json
  index.html
  renderer.html
Due: none

SimpleTooltip migration part
  docs/investigations/columnContext-improvements.md
  docs/investigations/panels-report.md
  docs/investigations/tooltips-popups-current-status-report.md
  package.json
  pnpm-lock.yaml
  src/components/LabelWithTooltip/LabelWithTooltip.tsx
  src/components/LayerActionIcon/LayerActionIcon.tsx
  src/components/SeverityIndicator/SeverityIndicator.tsx
  src/components/Uni/Components/Field.module.css
  src/core/localization/translations/en/common.json
  src/features/bivariate_manager/components/BivariateMatrixControl/components/BivariateMatrixCell/BivariateMatrixCell.module.css
  src/features/bivariate_manager/components/BivariateMatrixControl/components/DenominatorIcon/DenominatorIcon.tsx
  src/features/events_list/components/EventCard/Analytics/Analytics.tsx
  src/features/side_bar/components/SideBar/NavButton.tsx
  src/features/side_bar/components/SideBar/ToggleButton.tsx
  src/features/toasts/components/Toast/Toast.module.css
  src/features/toasts/components/ToastGroup/ToastGroup.module.css
  src/features/toolbar/components/ShortToolbarButton/ShortToolbarButton.tsx
  src/features/toolbar/components/ToolbarButton/ToolbarButton.tsx
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.tsx
Due: UI Components, Features

feat(layer groups): use /layers/search/groups endpoint to pull groups settings
  src/core/api/layers.ts
  src/core/logical_layers/atoms/layersTree/layersTree.ts
  src/core/logical_layers/utils/getMutualExcludedActions.ts
  src/core/shared_state/layersGroupsSettings.ts
  src/core/types/layers.ts
Due: Core Logic

fixes
  package.json
  pnpm-lock.yaml
  src/components/BivariateLegend/CornerTooltipWrapper.module.css
  src/components/BivariateLegend/CornerTooltipWrapper.tsx
  src/components/LayerActionIcon/LayerActionIcon.tsx
  src/components/SeverityIndicator/SeverityIndicator.tsx
  src/features/bivariate_manager/components/BivariateMatrixControl/components/BivariateMatrixCell/BivariateMatrixCell.module.css
  src/features/side_bar/components/SideBar/ToggleButton.tsx
  src/features/toasts/components/Toast/Toast.module.css
  src/features/toasts/components/ToastGroup/ToastGroup.module.css
Due: UI Components, Features

feat(20921): merge uni layout context with presentation mode
  src/features/presentation_mode/CurrentEvent/CurrentEvent.tsx
  src/features/presentation_mode/CurrentEvent/CurrentEventLayout.ts
Due: Features

feat(20921): small fixes
  src/features/presentation_mode/CurrentEvent/CurrentEvent.tsx
  src/styles/presentation-mode.css
Due: Features

feat(20921): add ability to set presentation mode with url param, introduce presentation mode atom
  src/core/shared_state/presentationMode.ts
  src/core/url_store/types.ts
  src/features/legend_panel/components/LegendsList/LegendsList.tsx
  src/views/CommonView.tsx
  src/views/Map/Layouts/Layout.tsx
Due: UI Components, Core Logic, Features

feat(multivariate): 21206 Opacity (Hide Area) dimension in multivariate layers (#1031)
  src/core/localization/translations/en/common.json
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/createOpacityStepsExpression.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/multivariateDimensionToScore.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.module.css
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@18a662338392b6e0c0f301ca53b5f94b3d1a5448 🚀
  assets/_virtual_cosmos-imports-SNEx8k4N.js
  assets/index-BFZUl6XN.js
  renderer.html
Due: none

fix AxisCaptions, extract reftooltip, enable biv fixtures
  cosmos.config.json
  src/components/BivariateLegend/CornerTooltipWrapper.module.css
  src/components/BivariateLegend/CornerTooltipWrapper.tsx
  src/components/Floating/Floating.module.css
  src/components/Floating/SimpleRefTooltip.tsx
  src/components/PopupTooltipTrigger/PopupTooltipWrapper.tsx
  src/components/PopupTooltipTrigger/index.ts
  src/features/bivariate_manager/components/BivariateMatrixControl/components/AxisCaptions/AxisCaptions.tsx
  src/features/bivariate_manager/fixtures/BivariateMatrixControl.fixture.tsx
  src/features/bivariate_manager/fixtures/BivariateMatrixControlFixture.module.css
Due: UI Components, Features

fix(tooltips): 18673 refactor tooltip-related components (#1041)
  cosmos.config.json
  docs/investigations/columnContext-improvements.md
  docs/investigations/panels-report.md
  docs/investigations/tooltips-popups-current-status-report.md
  package.json
  pnpm-lock.yaml
  src/components/BivariateLegend/CornerTooltipWrapper.tsx
  src/components/Floating/Floating.module.css
  src/components/Floating/SimpleRefTooltip.tsx
  src/components/LabelWithTooltip/LabelWithTooltip.tsx
  src/components/LayerActionIcon/LayerActionIcon.tsx
  src/components/PopupTooltipTrigger/PopupTooltipWrapper.tsx
  src/components/PopupTooltipTrigger/index.ts
  src/components/SeverityIndicator/SeverityIndicator.tsx
  src/components/Uni/Components/Field.module.css
  src/core/localization/translations/en/common.json
  src/features/bivariate_manager/components/BivariateMatrixControl/components/AxisCaptions/AxisCaptions.tsx
  src/features/bivariate_manager/components/BivariateMatrixControl/components/BivariateMatrixCell/BivariateMatrixCell.module.css
  src/features/bivariate_manager/components/BivariateMatrixControl/components/DenominatorIcon/DenominatorIcon.tsx
  src/features/bivariate_manager/fixtures/BivariateMatrixControl.fixture.tsx
  src/features/bivariate_manager/fixtures/BivariateMatrixControlFixture.module.css
  src/features/events_list/components/EventCard/Analytics/Analytics.tsx
  src/features/side_bar/components/SideBar/NavButton.tsx
  src/features/side_bar/components/SideBar/ToggleButton.tsx
  src/features/toasts/components/Toast/Toast.module.css
  src/features/toasts/components/ToastGroup/ToastGroup.module.css
  src/features/toolbar/components/ShortToolbarButton/ShortToolbarButton.tsx
  src/features/toolbar/components/ToolbarButton/ToolbarButton.tsx
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.tsx
Due: UI Components, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@944e2aeeceb3f9e3bc54394735ef6b0b55175df9 🚀
  assets/BivariateGreetings-BRpYZzH9.js
  assets/_virtual_cosmos-imports-BvnQQvTh.js
  assets/_virtual_cosmos-imports-Cx84GQEH.css
  assets/_virtual_cosmos-imports-SNEx8k4N.js
  assets/index-BFZUl6XN.js
  assets/index-BxuTJfAG.js
  cosmos.fixtures.json
  index.html
  renderer.html
Due: none

feat(multivariate): 21208 base Text dimension functionality
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/formatFeatureText.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
Due: Core Logic
