Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

replace arrow function with function definition
  src/utils/common/sorting.ts
Due: Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@04c477a4dabc99fb9e38da14e4c095de8eb0602b 🚀
  assets/_virtual_cosmos-imports-D1UJYIsv.js
  assets/_virtual_cosmos-imports-DYycp8pU.css
  assets/_virtual_cosmos-imports-DlJmhnJf.css
  assets/index-t8jnH0-N.js
  renderer.html
Due: none

Add text icon to Text dimension legend
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/MultivariateLegend/icons/3d_legend_high.svg
  src/components/MultivariateLegend/icons/3d_legend_low.svg
  src/components/MultivariateLegend/icons/3d_legend_med.svg
  src/components/MultivariateLegend/icons/text_legend_icon.svg
Due: UI Components

add translations to Chinese
  src/core/localization/TranslationService.ts
  src/core/localization/gettext/zn/common.po
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/SettingsForm/constants.ts
Due: Core Logic, Features

add translations to Chinese
  src/features/user_profile/components/SettingsForm/constants.ts
Due: Features

Extract getDirectAndReversedMCDALayers into function
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/OpacityStepsLegend/OpacityStepsLegend.tsx
  src/utils/mcda/getDirectAndReversedMCDALayers.ts
Due: UI Components, Utilities

correct errors in Belarusian and Russian
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/ru/common.po
Due: Core Logic

update translations - common.po files
  src/core/localization/gettext/ar/common.po
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/de/common.po
  src/core/localization/gettext/es/common.po
  src/core/localization/gettext/id/common.po
  src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/template/common.pot
  src/core/localization/gettext/uk/common.po
  src/core/localization/gettext/zn/common.po
Due: Core Logic

update common.po in Russian
  src/core/localization/gettext/ru/common.po
Due: Core Logic

Update src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/ru/common.po
Due: Core Logic

Update src/core/localization/gettext/uk/common.po
  src/core/localization/gettext/uk/common.po
Due: Core Logic

Update common.po
  src/core/localization/gettext/uk/common.po
Due: Core Logic

update common.po in Ukrainian - fix error
  src/core/localization/gettext/uk/common.po
Due: Core Logic

Update common.po
  src/core/localization/gettext/ru/common.po
Due: Core Logic

Add OpacityStepsLegend and ExtrusionStepsLegend
  src/components/MultivariateLegend/DimensionStep.module.css
  src/components/MultivariateLegend/DimensionStep.tsx
  src/components/MultivariateLegend/ExtrusionLegend.module.css
  src/components/MultivariateLegend/ExtrusionStepsLegend.tsx
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/MultivariateLegend/OpacityStepsLegend.tsx
  src/components/MultivariateLegend/helpers/getMCDALayersDirectionsForLegend.ts
  src/components/OpacityStepsLegend/OpacityStepsLegend.tsx
Due: UI Components

Use icons from ui-kit
  package.json
  pnpm-lock.yaml
  src/components/MultivariateLegend/ExtrusionStepsLegend.tsx
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/MultivariateLegend/icons/3d_legend_high.svg
  src/components/MultivariateLegend/icons/3d_legend_low.svg
  src/components/MultivariateLegend/icons/3d_legend_med.svg
  src/components/MultivariateLegend/icons/text_legend_icon.svg
Due: UI Components

Enable grayscale filter for extrusion and opacity legends if there's no color layers in config
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

Update common.po
  src/core/localization/gettext/be/common.po
Due: Core Logic

Update TranslationService.ts
  src/core/localization/TranslationService.ts
Due: Core Logic

Update common.po
  src/core/localization/gettext/ar/common.po
Due: Core Logic

Update constants.ts
  src/features/user_profile/components/SettingsForm/constants.ts
Due: Features

Update and rename common.po to common.po
  src/core/localization/gettext/zh/common.po
Due: Core Logic

Update common.json
  src/core/localization/translations/en/common.json
Due: none

Update common.po
  src/core/localization/gettext/de/common.po
Due: Core Logic

Update common.po
  src/core/localization/gettext/es/common.po
Due: Core Logic

Update common.po
  src/core/localization/gettext/id/common.po
Due: Core Logic

Update common.po
  src/core/localization/gettext/ko/common.po
Due: Core Logic

Update common.pot
  src/core/localization/gettext/template/common.pot
Due: Core Logic

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
