Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

fix: fix edit Features panel staying after features are saved
  src/features/create_layer/atoms/currentEditedLayerFeatures.ts
Due: Features

chore: add todo comment
  src/features/create_layer/atoms/drawToolsController.ts
Due: Features

refactor: remove unused save action
  src/features/create_layer/atoms/currentEditedLayerFeatures.ts
Due: Features

chore: replace hardcoded literal with a constant
  src/core/toolbar/index.ts
Due: Core Logic

feat(user layers): 21025 recover create layer user flow (#1049)
  src/core/draw_tools/atoms/toolboxAtom.ts
  src/core/localization/translations/en/common.json
  src/core/toolbar/index.ts
  src/features/create_layer/CustomLayerDrawToolsWidget.tsx
  src/features/create_layer/api/layers.ts
  src/features/create_layer/atoms/currentEditedLayerFeatures.ts
  src/features/create_layer/atoms/currentSelectedFeature.ts
  src/features/create_layer/atoms/drawToolsController.ts
  src/features/create_layer/atoms/editableLayerController.ts
  src/features/create_layer/atoms/editableLayersControls.ts
  src/features/create_layer/atoms/editableLayersLegendsAndSources.ts
  src/features/create_layer/components/EditFeatureForm/EditFeatureForm.module.css
  src/features/create_layer/components/EditFeatureForm/EditFeatureForm.tsx
  src/features/create_layer/components/EditFeaturesPanel/EditFeaturesPanel.tsx
  src/features/create_layer/components/EditLayerForm/EditLayerForm.tsx
  src/features/create_layer/components/EditLayerPanel/EditLayerPanel.module.css
  src/features/create_layer/constants.ts
  src/features/create_layer/control.ts
  src/features/create_layer/drawToolsControl.ts
  src/features/layers_in_area/atoms/areaLayersControls.ts
  src/utils/map/mapCSSToMapBoxPropertiesConverter/__test__/__snapshots__/mapCSSToMapBoxPropertiesConverter.test.ts.snap
  src/utils/map/mapCSSToMapBoxPropertiesConverter/generateLayers.ts
Due: Core Logic, Features, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@fc8df96ea0ee1ef9e60fb741162504381931b03f 🚀
  assets/BivariateGreetings-DgEUp4qD.js
  assets/_virtual_cosmos-imports-DB_e2dFq.js
  assets/index-BrjtaA3o.js
  index.html
  renderer.html
Due: none

Version 2.50.0
  package.json
Due: none

Version 2.50.0 (#1088)
  package.json
Due: none

fix(layers): 21898 Don't pull layers from layers/search/user endpoint into areaLayersControls
  src/features/layers_in_area/atoms/areaLayersControls.ts
Due: Features

feat(live_sensor): 0000 show stop label while recording
  src/features/live_sensor/index.ts
  src/features/live_sensor/readme.md
Due: Features

fix(layers): 21898 Don't pull layers from layers/search/user endpoint into areaLayersControls (#1090)
  src/features/layers_in_area/atoms/areaLayersControls.ts
Due: Features

refactor: extract default post-login redirects into a public constant
  src/core/router/components/Router.tsx
  src/core/router/constants.ts
  src/features/user_profile/readme.md
Due: Core Logic, Features

refactor: rename the array constant, extract storage key into a constant
  src/core/auth/OidcSimpleClient.ts
  src/core/router/components/Router.tsx
  src/core/router/constants.ts
Due: Core Logic

chore: remove unnecessary constant
  src/core/router/components/Router.tsx
Due: Core Logic

chore: remove changes related to #21381
  src/core/url_store/dataInURLEncoder.test.ts
  src/core/url_store/encoder.ts
Due: Core Logic

refactor: fix missing constant, extract condition result into a constant
  src/core/router/components/Router.tsx
Due: Core Logic

doc: update readme for router
  src/core/router/readme.md
Due: Core Logic

fix(url_store): 21381 convert coordinates with absolute value < 0.001 to 0.000
  src/core/url_store/dataInURLEncoder.test.ts
  src/core/url_store/encoder.ts
Due: Core Logic

chore: fix const name in doc
  src/features/user_profile/readme.md
Due: Features

fix: use Object.is instead of directly comparing number and -0
  src/core/url_store/encoder.ts
Due: Core Logic

Map Popover system implementation
  src/components/Overlays/Popover.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapClickHandler.ts
  src/core/map/hooks/useMapPopoverInteraction.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverController.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/MapPopoverServiceAdapter.ts
  src/core/map/popover/PopoverPositionCalculator.ts
  src/core/map/types.ts
Due: UI Components, Core Logic

rearch and add adr
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  docs/investigations/renderer-tooltips-popups-report.md
  src/components/Overlays/Popover.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapPopoverInteraction.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverController.ts
  src/core/map/popover/MapPopoverPositionCalculator.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/MapPopoverServiceAdapter.ts
  src/core/map/types.ts
Due: UI Components, Core Logic

integrate into global map
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/globalMapPopoverRegistry.ts
Due: UI Components, Core Logic

Phase 1
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  src/core/map/hooks/useMapPopoverInteraction.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/core/map/types.ts
Due: Core Logic

misc fixes
  src/components/Overlays/Popover.tsx
  src/core/map/MapPopover.md
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/types.ts
Due: UI Components, Core Logic

debug fixes
  cosmos.config.json
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/components/Uni/__mocks__/fixture.module.css
  src/core/map/popover/MapPopover.fixture.tsx
Due: none

MapPopoverContentRegistry
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  src/core/map/MapPopover.md
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverContentRegistry.ts
Due: Core Logic

fixes and docs
  docs/architecture/ADR-002-MapPopover-Event-System-Integration.md
  docs/investigations/ConnectedMap-architecture.md
  docs/investigations/map-event-management-system.md
  docs/investigations/panels-report.md
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/popover/MapPopover.fixture.tsx
Due: Core Logic

adr 3
  docs/architecture/ADR-003-Addendum-useEffect-Dependency-Solutions.md
  docs/architecture/ADR-003-MapPopover-DRY-Refactoring.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapPopoverIntegration.ts
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/index.ts
  src/core/map/popover/DebugMapPopoverProvider.tsx
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/types.ts
Due: UI Components, Core Logic

adr update
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
Due: none

cleanups
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/GenericRenderer.ts
  src/core/logical_layers/renderers/MCDARenderer/popup.ts
  src/core/map/popover/DebugMapPopoverProvider.tsx
Due: Core Logic

fix metrics
  src/core/logical_layers/renderers/BivariateRenderer/BivariatePopoverProviders.tsx
Due: Core Logic

cleanup
  src/core/map/hooks/useMapPopoverIntegration.ts
  src/core/map/popover/MapPopoverController.ts
Due: Core Logic

fixes
  docs/architecture/ADR-002-Amendment-Service-Pattern-Enforcement.md
  docs/architecture/ADR-003-Addendum-useEffect-Dependency-Solutions.md
  docs/architecture/ADR-003-MapPopover-DRY-Refactoring.md
  docs/investigations/architectural-debt-analysis.md
  src/core/map/hooks/useMapClickHandler.ts
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverController.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/coordinateConverter.ts
  src/core/map/types.ts
Due: Core Logic

rearch
  docs/architecture/ADR-002-Amendment-Service-Pattern-Enforcement.md
  docs/architecture/ADR-004-Type-Safe-Coordinate-System.md
  docs/architecture/ADR-005-Map-Interaction-System-Consolidation.md
  docs/investigations/architectural-debt-analysis.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariatePopoverProviders.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesPopoverProvider.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/GenericRenderer.ts
  src/core/logical_layers/renderers/GenericRendererPopoverProvider.tsx
  src/core/logical_layers/renderers/MCDARenderer/popup.ts
  src/core/map/hooks/useMapPopoverIntegration.ts
  src/core/map/hooks/useMapPopoverInteraction.ts
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/core/map/popover/MapPopoverProvider.tsx
Due: UI Components, Core Logic

ADR-004 Cleanup
  docs/architecture/ADR-002-MapPopover-Event-System-Integration.md
  docs/architecture/ADR-003-MapPopover-DRY-Refactoring.md
  docs/architecture/ADR-004-Type-Safe-Coordinate-System.md
  docs/architecture/MapPopover-Cleanup-Plan.md
  docs/investigations/architectural-debt-analysis.md
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/coordinateConverter.ts
  src/core/map/types.ts
Due: Core Logic

refactor, solid fixes
  docs/architecture/ADR-002-MapPopover-Event-System-Integration.md
  docs/architecture/MapPopover-SOLID-DRY-Violations-Report.md
  docs/investigations/MapPopover-SOLID-Violations-Report.md
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapClickHandler.ts
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/types.ts
Due: Core Logic

dry refactor
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  docs/architecture/ADR-003-MapPopover-DRY-Refactoring.md
  docs/architecture/MapPopover-Cleanup-Plan.md
  docs/architecture/MapPopover-SOLID-DRY-Violations-Report.md
  src/core/logical_layers/renderers/BivariateRenderer/BivariatePopoverProviders.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesPopoverProvider.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/GenericRenderer.ts
  src/core/logical_layers/renderers/GenericRendererPopoverProvider.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapClickHandler.ts
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/DebugMapPopoverProvider.tsx
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/core/map/popover/MapPopoverPositionCalculator.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/coordinateConverter.ts
  src/core/map/types.ts
  src/core/map/utils/maplibreCoordinateUtils.ts
Due: Core Logic

review fixes
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  docs/architecture/ADR-002-Amendment-Service-Pattern-Enforcement.md
  docs/architecture/ADR-005-Map-Interaction-System-Consolidation.md
  src/core/logical_layers/renderers/GenericRendererPopoverProvider.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/types.ts
  src/core/map/utils/coordinateValidation.ts
  src/core/url_store/encoder.ts
Due: Core Logic

Refactor ConnectedMap component to utilize new modular architecture with Suspense-based loading
  docs/architecture/ADR-006-Migration-Guide.md
  docs/architecture/ADR-006-useMaplibre-Hook-Architecture.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useApplicationMap.ts
  src/core/map/hooks/useMapEffect.ts
  src/core/map/hooks/useMapEvents.ts
  src/core/map/hooks/useMapInstance.ts
  src/core/map/hooks/useMapLayers.ts
  src/core/map/hooks/useMapPositionTracking.ts
  src/core/map/index.ts
  src/core/map/plugins/MapPlugin.ts
  src/core/map/plugins/MapPopoverPlugin.ts
  src/core/map/providers/IMapProvider.ts
  src/core/map/providers/MapLibreProvider.ts
Due: UI Components, Core Logic
