Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

feat: enhance Slack deployment messages with headers, dividers, and updated image tag references
  .github/workflows/deploy_stage.yml
Due: none

feat: remove image tag section from Slack deployment messages for clarity
  .github/workflows/deploy_stage.yml
Due: none

feat: add dividers to Slack deployment messages for improved readability
  .github/workflows/deploy_stage.yml
Due: none

feat: update Slack deployment headers and status messages with emojis for better clarity
  .github/workflows/deploy_stage.yml
Due: none

fix: change test step to exit with error code for proper failure handling
  .github/workflows/deploy_stage.yml
Due: none

feat: streamline build-and-publish step and enhance Slack message formatting for image tags
  .github/workflows/deploy_stage.yml
Due: none

feat: enhance Slack deployment messages with run ID and improved status formatting
  .github/workflows/deploy_stage.yml
Due: none

feat: simplify Slack deployment messages by consolidating blocks and enhancing formatting
  .github/workflows/deploy_stage.yml
Due: none

feat: update Slack deployment messages to use simplified text format for better readability
  .github/workflows/deploy_stage.yml
Due: none

feat: improve Slack deployment messages by removing redundant text for clarity
  .github/workflows/deploy_stage.yml
Due: none

feat: refine Slack deployment message by removing redundant text for improved clarity
  .github/workflows/deploy_stage.yml
Due: none

feat: update Slack deployment message to remove redundant text for improved clarity
  .github/workflows/deploy_stage.yml
Due: none

fix: correct formatting of image tag in Slack deployment messages for consistency
  .github/workflows/deploy_stage.yml
Due: none

fix: remove redundant image tag information from Slack deployment messages for clarity
  .github/workflows/deploy_stage.yml
Due: none

refactor(21072): modal sheets mobile refactor
  package.json
  pnpm-lock.yaml
  src/features/analytics_panel/components/PanelContent/PanelContent.module.css
  src/features/events_list/components/EventsPanel/EventsPanel.module.css
  src/features/layer_features_panel/components/LayerFeaturesPanel/LayerFeaturesPanel.module.css
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/llm_analytics/components/LLMPanelContent/LLMPanelContent.module.css
  src/utils/hooks/useShortPanelState.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.module.css
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Features, Utilities

refactor(21072): update height of create mcda modal
  src/features/mcda/components/MCDAForm/index.tsx
  src/features/mcda/components/MCDAForm/style.module.css
Due: Features

fix(20961): fix pr comments
  src/features/subscriptions/components/PaymentPlanCard/PaymentPlanCard.module.css
Due: Features

bugfix(20961): fix mobile pricing plans page (#1007)
  src/features/subscriptions/components/PaymentPlanCard/PaymentPlanCard.module.css
  src/features/subscriptions/components/PricingContent/PricingContent.module.css
Due: Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@c554664c848857de7aad23feb9d62535250ae176 🚀
  assets/_virtual_cosmos-imports-CLRhlxsh.css
  assets/_virtual_cosmos-imports-iQCYQd5Y.js
  assets/index-DDTJZhyE.js
  renderer.html
Due: none

fix(21222): add contrast for panel buttons on white bg
  src/features/events_list/components/BBoxFilterToggle/BBoxFilterToggle.tsx
  src/features/toolbar/components/ToolbarButton/ToolbarButton.tsx
  src/styles/glass-theme.css
Due: Features

fix(MCDA maxZoom): 21227 Move usage of getMaxMCDAZoomLevel() into Bivariate renderer
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/features/mcda/atoms/mcdaLayer.ts
Due: Core Logic, Features

fix(21222): add contrast for panel buttons on white bg (#1010)
  src/features/events_list/components/BBoxFilterToggle/BBoxFilterToggle.tsx
  src/features/toolbar/components/ToolbarButton/ToolbarButton.tsx
  src/styles/glass-theme.css
Due: Features

feat: add workflow author to slack deploy notifications (#1006)
  .github/workflows/deploy_stage.yml
Due: none

fix(MCDA maxZoom): 21227 Move usage of getMaxMCDAZoomLevel() into Bivariate renderer (#1011)
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/features/mcda/atoms/mcdaLayer.ts
Due: Core Logic, Features

refactor(21072): modal sheets mobile refactor (#1008)
  package.json
  pnpm-lock.yaml
  src/features/analytics_panel/components/PanelContent/PanelContent.module.css
  src/features/events_list/components/EventsPanel/EventsPanel.module.css
  src/features/layer_features_panel/components/LayerFeaturesPanel/LayerFeaturesPanel.module.css
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/llm_analytics/components/LLMPanelContent/LLMPanelContent.module.css
  src/features/mcda/components/MCDAForm/index.tsx
  src/features/mcda/components/MCDAForm/style.module.css
  src/utils/hooks/useShortPanelState.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.module.css
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Features, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@b1254d96055c2a42359a8992ff6694bcfc395b3d 🚀
  assets/_virtual_cosmos-imports-D8UvxyPj.js
  assets/_virtual_cosmos-imports-DqKi99qP.css
  assets/index-DB0ajt_p.js
  renderer.html
Due: none

fix(21222): add styles for additional panel buttons
  src/features/events_list/components/ShortState/ShortState.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/ShortState.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
Due: Features

fix(21222): add styles for additional panel buttons (#1012)
  src/features/events_list/components/ShortState/ShortState.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/ShortState.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
Due: Features

Version 2.44.0
  package.json
Due: none

Version 2.44.0 (#1013)
  package.json
Due: none

feat(21214): Show static Multivariate Analysis dialog
  src/core/bivariate/atoms/availableBivariateAxesAtom.ts
  src/core/localization/translations/en/common.json
  src/core/toolbar/index.ts
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
  src/features/mcda/index.ts
  src/features/mcda/mcdaConfig.tsx
  src/features/multivariate_layer/components/MultivariateAnalysisForm/index.tsx
  src/features/multivariate_layer/components/MultivariateAnalysisForm/style.module.css
  src/features/multivariate_layer/constants.ts
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
  src/features/multivariate_layer/helpers/generateMultivariateId.ts
  src/features/multivariate_layer/index.ts
  src/utils/mcda/padEmojiStringToLength.ts
Due: Core Logic, Features, Utilities

fix(multivariate popup): fix rounding of small values in Multivariate and MCDA popups
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.tsx
Due: Core Logic

fix(Multivariate popup): 21303 Show values as exponential if abs(v) < 0.00001
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.tsx
Due: Core Logic

fix: add null check
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.tsx
Due: Core Logic

chore: Number.parseFloat()
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.tsx
Due: Core Logic

feat: improve rounding function, move it to utils as roundNumberToPrecision()
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.tsx
  src/utils/common/roundNumberToPrecision.test.ts
  src/utils/common/roundNumberToPrecision.ts
Due: Core Logic, Utilities

feat(21305): reconstruct create layer functionality
  src/features/create_layer/atoms/drawToolsController.ts
  src/features/create_layer/atoms/editableLayerController.ts
  src/features/create_layer/atoms/editableLayersControls.ts
  src/features/create_layer/atoms/editableLayersLegendsAndSources.ts
  src/features/create_layer/control.ts
  src/features/layers_in_area/atoms/areaLayersControls.ts
Due: Features

feat(21305): reconstruct create layer functionality
  src/features/create_layer/atoms/drawToolsController.ts
Due: Features

feat: apply rounding to multilayer MCDA/MVA popups too
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.tsx
Due: Core Logic

chore: remove null checks
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.tsx
Due: Core Logic
