Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

chore: improve precisionThreshold calculation
  src/utils/common/roundNumberToPrecision.ts
Due: Utilities

fix(21325): improve cookie banner mobile styles
  src/features/cookie_consent_banner/components/CookieConsentBanner.module.css
Due: Features

chore: Apply 3 digits rounding
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.tsx
Due: Core Logic

feat: add removeTrailingZeros parameter to roundNumberToPrecision
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.tsx
  src/utils/common/roundNumberToPrecision.test.ts
  src/utils/common/roundNumberToPrecision.ts
Due: Core Logic, Utilities

chore: remove useless error log
  src/utils/common/roundNumberToPrecision.ts
Due: Utilities

chore: update jsdoc for roundNumberToPrecision()
  src/utils/common/roundNumberToPrecision.ts
Due: Utilities

test: add test cases for NaN and Infinity
  src/utils/common/roundNumberToPrecision.test.ts
Due: none

chore: fix argument signature
  src/utils/common/roundNumberToPrecision.ts
Due: Utilities

feat(MVA): basic Analysis creation (all layers go to Score)
  src/features/mcda/components/MCDALayerEditor/MCDARangeControls/MCDARangeControls.tsx
  src/features/mcda/mcdaConfig.tsx
  src/features/mcda/utils/openMcdaFile.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/index.tsx
  src/features/multivariate_layer/components/MultivariateAnalysisForm/style.module.css
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
  src/features/multivariate_layer/index.ts
  src/utils/mcda/createMCDALayersFromBivariateAxes.ts
  src/utils/mcda/generateMCDAId.ts
  src/utils/mcda/generateSigmaRange.ts
Due: Features, Utilities

feat: delete and edit MCDA layer functionality (Score)
  src/features/multivariate_layer/components/MultivariateAnalysisForm/index.tsx
Due: Features

fix: improve score on desktop
  src/features/multivariate_layer/components/MultivariateAnalysisForm/style.module.css
Due: Features

feat: add Download button for Multivariate analysis layers
  src/core/logical_layers/utils/logicalLayerFabric.ts
Due: Core Logic

fix(21325): improve cookie banner mobile styles (#1016)
  src/features/cookie_consent_banner/components/CookieConsentBanner.module.css
Due: Features

fix(multivariate popup): fix rounding of small values in Multivariate popup (#1014)
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.tsx
  src/utils/common/roundNumberToPrecision.test.ts
  src/utils/common/roundNumberToPrecision.ts
Due: Core Logic, Utilities

feat(Layers panel): 21205 add Download button for Multivariate analysis layers
  src/core/logical_layers/utils/logicalLayerFabric.ts
Due: Core Logic

feat(20921): create map title component
  src/features/side_bar/components/AppLogo/AppLogo.tsx
  src/views/Map/Layouts/Layout.tsx
  src/views/Map/Layouts/Presentation/Presentation.module.css
  src/views/Map/Layouts/Presentation/Presentation.tsx
  src/widgets/Presentation/MapTitle/MapTitle.module.css
  src/widgets/Presentation/MapTitle/MapTitle.tsx
Due: UI Components, Features

feat(Layers panel): 21205 add Download button for Multivariate analysis layers (#1017)
  src/core/logical_layers/utils/logicalLayerFabric.ts
Due: Core Logic

fix: fix circular dependency
  src/features/multivariate_layer/components/MultivariateAnalysisForm/index.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
  src/features/multivariate_layer/helpers/openMultivariateModal.ts
  src/features/multivariate_layer/index.ts
Due: Features

feat: add and refactor editing and deleted layers; add changing the dimension
  src/features/multivariate_layer/components/MultivariateAnalysisForm/index.tsx
  src/features/multivariate_layer/components/MultivariateAnalysisForm/style.module.css
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.module.css
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
Due: Features

fix: fix dimension dropdown; rename "base" to "compare"
  src/core/localization/translations/en/common.json
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/features/multivariate_layer/components/MultivariateAnalysisForm/index.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
Due: Core Logic, Features

fix: wider layer items in dialog
  src/features/multivariate_layer/components/MultivariateAnalysisForm/style.module.css
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.module.css
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
Due: Features

feat: add Edit button to Layers panel. Implement proper editing in MultivariateAnalysisForm
  src/components/Layer/EditControl/EditControl.tsx
  src/core/logical_layers/utils/applyNewLayerStyle.ts
  src/core/logical_layers/utils/logicalLayerFabric.ts
  src/features/mcda/components/MCDALayerEditor/index.tsx
  src/features/mcda/index.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/index.tsx
  src/features/multivariate_layer/index.ts
Due: UI Components, Core Logic, Features

chore: don't include empty base dimension in custom config
  src/features/multivariate_layer/components/MultivariateAnalysisForm/index.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

fix: fix no key warning
  src/features/multivariate_layer/components/MultivariateAnalysisForm/index.tsx
Due: Features

chore: rename type
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

chore: refactor some parameters in MultivariateDimensionsLayers
  src/features/multivariate_layer/components/MultivariateAnalysisForm/index.tsx
Due: Features

refactor: rename MultivariateAnalysisForm files
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.module.css
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
  src/features/multivariate_layer/helpers/openMultivariateModal.ts
Due: Features

feat(20921): create copyrights component
  src/views/Map/Layouts/Layout.tsx
  src/widgets/Presentation/Coopyrights/Copyrights.module.css
  src/widgets/Presentation/Coopyrights/Copyrights.tsx
  src/widgets/Presentation/Coopyrights/CopyrightsAtom.ts
Due: UI Components

refactor: add constraints on dimensionKey in MultivariateAnalysisForm
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
Due: Features

feat: change default bivariate color scheme for Multivariate layers
  src/utils/multivariate/constants.ts
Due: Utilities

fix: fix dimension dropdown being cut on the border
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.module.css
Due: Features

fix: fix showing Base instead of Compare in layer editor
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
Due: Features

chore: update labels on bivariate legend
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

fix: fix scroll in multivariate dialog
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.module.css
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.module.css
Due: Features

feat(20921): create current event component
  src/views/Map/Layouts/Layout.tsx
  src/views/Map/Layouts/Presentation/Presentation.tsx
  src/widgets/Presentation/CurrentEvent/CurrentEvent.tsx
Due: UI Components

fix: use better bivariate colors
  src/utils/multivariate/constants.ts
Due: Utilities

feat: don't override colors in Edit mode by default
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

feat: add "Keep Colors" checkbox
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

fix: fix logic of "Keep colors" checkbox
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

chore: self-closing tag for checkbox
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features
