Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

fix: revert
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

Version 2.44.1
  package.json
Due: none

Version 2.44.1 (#1019)
  package.json
Due: none

test: fix comment for decorator function
  e2e/page-objects/helperBase.ts
  package.json
Due: none

test: restore package.json
  package.json
Due: none

test: fixed e2e tests for prod
  e2e/location.spec.ts
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-darwin.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-linux.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-darwin.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-linux.png
  e2e/locationWithPro.spec.ts
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-pro-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-pro-linux.png
  e2e/locationWithUser.spec.ts
  e2e/mcdaWithPro.spec.ts
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-chromium-pro-darwin.png
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-chromium-pro-linux.png
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-webkit-pro-darwin.png
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-webkit-pro-linux.png
  e2e/openOsm.spec.ts
  e2e/openOsmUpdateProfileWithPro.spec.ts
  e2e/openOsmWithUser.spec.ts
  e2e/page-objects/helperBase.ts
  e2e/page-objects/mapPage.ts
  e2e/page-objects/navigationMenu.ts
  e2e/page-objects/profilePage.ts
  e2e/page-objects/toolBar.ts
  e2e/populationPopup.spec.ts
  e2e/populationPopupWithPro.spec.ts
  e2e/registration.spec.ts
  e2e/reload.spec.ts
  e2e/reloadWithPro.spec.ts
  e2e/reloadWithUser.spec.ts
Due: none

test: added readable steps, fixed issues, unblocked tests, added decorators
  e2e/location.spec.ts
  e2e/locationWithPro.spec.ts
  e2e/locationWithUser.spec.ts
  e2e/login.spec.ts
  e2e/mcdaWithPro.spec.ts
  e2e/openOsm.spec.ts
  e2e/openOsmUpdateProfileWithPro.spec.ts
  e2e/openOsmWithUser.spec.ts
  e2e/page-objects/helperBase.ts
  e2e/page-objects/keycloakPage.ts
  e2e/page-objects/legendPanel.ts
  e2e/page-objects/loginPage.ts
  e2e/page-objects/mapPage.ts
  e2e/page-objects/mcdaPopup.ts
  e2e/page-objects/navigationMenu.ts
  e2e/page-objects/pricingPage.ts
  e2e/page-objects/privacyPage.ts
  e2e/page-objects/profilePage.ts
  e2e/page-objects/toolBar.ts
  e2e/populationPopup.spec.ts
  e2e/populationPopupWithPro.spec.ts
  e2e/privacy.spec.ts
  e2e/privacyWithPro.spec.ts
  e2e/privacyWithUser.spec.ts
  e2e/registration.spec.ts
  e2e/reload.spec.ts
  e2e/reloadWithPro.spec.ts
  e2e/reloadWithUser.spec.ts
  e2e/toolBarTexts.spec.ts
  e2e/toolBarTextsWithPro.spec.ts
  e2e/toolBarTextsWithUser.spec.ts
Due: none

test: fix comments and minors
  e2e/page-objects/helperBase.ts
  e2e/page-objects/pricingPage.ts
  e2e/page-objects/profilePage.ts
Due: none

test: fixed registration, population tests
  e2e/location.spec.ts
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-prod-1-chromium-darwin.png
  e2e/locationWithPro.spec.ts
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Kontur-Atlas-and-get-zoomed-to-my-location-prod-1-chromium-pro-darwin.png
  e2e/locationWithUser.spec.ts
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-webkit-pro-linux.png
  e2e/page-objects/helperBase.ts
  e2e/page-objects/mapPage.ts
  e2e/populationPopup.spec.ts
  e2e/populationPopupWithPro.spec.ts
  e2e/registration.spec.ts
  playwright.config.ts
Due: none

test: update fixme links
  e2e/reload.spec.ts
  e2e/reloadWithPro.spec.ts
  e2e/reloadWithUser.spec.ts
Due: none

test: use map istead of for each at pricing page
  e2e/page-objects/pricingPage.ts
Due: none

test: deactivate reload tests for oam due to an issue & update screenshots
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-chromium-pro-linux.png
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-webkit-pro-linux.png
  e2e/reload.spec.ts
  e2e/reloadWithPro.spec.ts
  e2e/reloadWithUser.spec.ts
Due: none

test: turn off screenshots tests for location tests
  e2e/location.spec.ts
  e2e/locationWithPro.spec.ts
  e2e/populationPopup.spec.ts
  e2e/populationPopupWithPro.spec.ts
Due: none

feat: name MCDAs in custom after their content if they only have one layer
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

feat: apply axis steps for MCDA dimensions with single layer
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

new uni system WIP
  docs/columnContext-improvements.md
  docs/list-panel-architecture.md
  package.json
  pnpm-lock.yaml
  src/components/Icon/index.tsx
  src/components/Uni/Elements/ActionButtons.module.css
  src/components/Uni/Elements/ActionButtons.tsx
  src/components/Uni/Elements/CardText.module.css
  src/components/Uni/Elements/CardText.tsx
  src/components/Uni/Elements/Label.module.css
  src/components/Uni/Elements/Label.tsx
  src/components/Uni/Elements/Progress.module.css
  src/components/Uni/Elements/Progress.tsx
  src/components/Uni/Elements/Severity.module.css
  src/components/Uni/Elements/Severity.tsx
  src/components/Uni/Elements/Table.module.css
  src/components/Uni/Elements/Table.tsx
  src/components/Uni/Elements/Title.module.css
  src/components/Uni/Elements/Title.tsx
  src/components/Uni/Elements/index.ts
  src/components/Uni/UniCard.fixture.tsx
  src/components/Uni/UniCard.module.css
  src/components/Uni/UniCard.tsx
  src/components/Uni/rfc-uni-containers.md
  src/features/events_list/components/EventsPanel/EventsUniPanel.tsx
  src/features/events_list/eventToUniCard.ts
  src/features/events_list/index.tsx
  src/features/layer_features_panel/atoms/helpers/acaps.ts
  src/features/layer_features_panel/components/CardElements/ActionButtons.tsx
  src/features/layer_features_panel/components/CardElements/index.ts
Due: UI Components, Features

feat: add Multivariate Legend preview
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.module.css
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

uni cards integration
  src/features/events_list/components/EpisodeTimelineToggle/EpisodeTimelineToggle.module.css
  src/features/events_list/components/EpisodeTimelineToggle/EpisodeTimelineToggle.tsx
  src/features/events_list/components/EventCard/EventCard.fixture.tsx
  src/features/events_list/components/EventCard/EventCard.module.css
  src/features/events_list/components/EventCard/EventCard.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/components/EventsPanel/EventsUniPanel.tsx
  src/features/events_list/components/EventsPanel/eventLayouts.ts
  src/features/events_list/components/FeedSelector/FeedSelector.tsx
  src/features/events_list/eventToUniCard.ts
  src/features/events_list/index.tsx
Due: Features

rename EventsUniPanel back to EventsPanel
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/index.tsx
Due: Features

fix circular deps
  src/components/Uni/Components/DataRepeater.tsx
  src/components/Uni/Layout/LayoutContext.tsx
  src/components/Uni/Layout/LayoutProvider.tsx
  src/components/Uni/Layout/LayoutRenderer.tsx
  src/components/Uni/Layout/UniLayout Data Binding.md
  src/components/Uni/Layout/UniLayout.md
  src/components/Uni/Layout/types.ts
  src/components/Uni/__tests__/FieldsRegistry.fixture.tsx
  src/components/Uni/__tests__/LayoutDebugger.fixture.tsx
  src/components/Uni/__tests__/_complexLayout.js
  src/components/Uni/__tests__/_hotLayout.js
  src/components/Uni/componentsRegistry.ts
  src/features/events_list/components/EventListSettingsRow/EventListSettingsRow.module.css
  src/features/events_list/components/EventsPanel/eventLayouts.ts
Due: UI Components, Features

deps
  package.json
  pnpm-lock.yaml
Due: none

fix test
  src/utils/template/stringTemplate.ts
Due: Utilities

feat: add support for custom step overrides
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.module.css
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
  src/features/multivariate_layer/helpers/createStepsForMCDADimension.ts
Due: Core Logic, Features

review fixes
  codecov.yml
  package.json
  pnpm-lock.yaml
  src/components/Uni/Components/Badge.tsx
  src/components/Uni/Components/Field.tsx
  src/components/Uni/Components/Row.module.css
  src/components/Uni/Components/UniComponents.fixture.tsx
  src/components/Uni/ComponentsRegistry.fixture.tsx
  src/components/Uni/FieldsRegistry.fixture.tsx
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/components/Uni/__mocks__/_complexLayout.js
  src/components/Uni/__mocks__/_hotLayout.js
  src/components/Uni/__mocks__/fixture.module.css
  src/components/Uni/fieldsRegistry.ts
  src/components/Uni/formatsRegistry.ts
  src/core/api/__mocks__/_acapsSampleData.js
  src/core/api/__mocks__/_eventsSampleData.js
  src/core/api/__mocks__/_hotSampleData.js
  src/core/localization/translations/en/common.json
  src/features/events_list/components/EventListSettingsRow/EventListSettingsRow.module.css
  src/features/events_list/components/EventsPanel/eventLayouts.ts
  src/features/events_list/components/FeedSelector/FeedSelector.module.css
  vite.config.ts
Due: UI Components, Features

chore: change delete button icon
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
Due: Features

feat: move Delete button inside MCDALayerParameters
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.module.css
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.module.css
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
Due: Features

fix: hide 0 in place of custom steps checkbox
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

fix showing delete button
  src/features/multivariate_layer/components/MultivariateDimensionDetails/MultivariateDimensionDetails.tsx
Due: Features

feat: make analysis name optional
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
  src/utils/multivariate/constants.ts
Due: Features, Utilities

fix: scroll back to bottom of the dialog after enabling custom steps
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

fix: better align add layers button on desktop
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.module.css
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

chore: move custom steps into separate component
  src/features/multivariate_layer/components/CustomStepsInput/CustomStepsInput.module.css
  src/features/multivariate_layer/components/CustomStepsInput/CustomStepsInput.tsx
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.module.css
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

fix: better formatting for Legend preview
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.module.css
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

fix: don't show Custom Steps inputs for non-bivariate configs
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

chore: extract default MCDA sentiment colors into constant
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/constants.ts
  src/features/mcda/mcdaConfig.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Core Logic, Features

feat: add basic check for NaN values in custom steps
  src/features/multivariate_layer/components/CustomStepsInput/CustomStepsInput.module.css
  src/features/multivariate_layer/components/CustomStepsInput/CustomStepsInput.tsx
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.module.css
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

chore: small fixes
  src/features/multivariate_layer/components/CustomStepsInput/CustomStepsInput.tsx
Due: Features

fix: fix tooltip for delete button
  src/core/localization/translations/en/common.json
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
Due: Features

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
