Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

feat(20263): refactor
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.tsx
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
  src/features/user_profile/components/SettingsForm/SettingsFormV2.module.css
  src/features/user_profile/components/SettingsForm/SettingsNavigation/SettingsNavigation.tsx
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingSection.module.css
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingsSection.tsx
  src/views/Profile/Profile.module.css
Due: UI Components, Features

feat(20263): refactor section names
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
  src/features/user_profile/components/SettingsForm/SettingsNavigation/SettingsNavigation.tsx
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingsSection.tsx
Due: Features

feat(20263): remove dependency
  package.json
Due: none

feat(20263): refactor
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.module.css
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.tsx
  src/global.css
Due: Features

feat(20263): lock file update
  pnpm-lock.yaml
Due: none

Update console error in src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/atoms/sortedEventList.ts
Due: Features

fix(bivariate matrix): 18057 Create settings for Bivariate layer (created in Bivariate Matrix) before enabling it. (#924)
  src/features/bivariate_manager/atoms/bivariateMatrixSelection.ts
Due: Features

Version 2.37.0
  package.json
Due: none

Version 2.37.0 (#931)
  package.json
Due: none

test: added search step in mcda test
  e2e/mcdaWithPro.spec.ts
  e2e/page-objects/mapPage.ts
Due: none

fix(20412): fix crosshair appears on top of popup
  src/components/MapHexTooltip/MapHexTooltip.module.css
Due: UI Components

fix(20412): fix crosshair appears on top of popup (#933)
  src/components/MapHexTooltip/MapHexTooltip.module.css
Due: UI Components

feat: added test ids for mcda elements and started mcda test
  e2e/mcdaWithPro.spec.ts
  e2e/page-objects/mcdaPopup.ts
  e2e/page-objects/pageManager.ts
  src/features/mcda/components/MCDAForm/index.tsx
Due: Features

chore: reduce excessive undefined and optional parameters usage
  src/features/events_list/atoms/eventSortingConfig.ts
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/helpers/eventsMcdaSort.ts
  src/features/events_list/helpers/singlePropertySort.ts
Due: Features

chore: rename "criteriaConfig" -> "mcdaCriteria"
  src/features/events_list/helpers/eventsMcdaSort.ts
  src/utils/mcda_sort/sortByMCDAScore.ts
Due: Features, Utilities

chore: add mcda sort config validation function
  src/features/events_list/helpers/eventsMcdaSort.ts
  src/features/events_list/helpers/singlePropertySort.ts
  src/utils/mcda_sort/sortByMCDAScore.ts
Due: Features, Utilities

chore: more refactors + fix default sort order
  src/features/events_list/atoms/eventSortingConfig.ts
  src/features/events_list/helpers/eventsMcdaSort.ts
  src/features/events_list/helpers/singlePropertySort.ts
  src/utils/mcda_sort/sortByMCDAScore.ts
Due: Features, Utilities

feat(20443): Add local feature overrides with JSON support
  .gitignore
  src/core/config/loaders/appConfigLoader.ts
Due: Core Logic

doc(20334): Add readme
  src/features/readme.md
Due: Features

chore: remove unused constants
  src/features/events_list/constants.ts
Due: Features

chore: more EventsListFeatureConfig type into events_list feature
  src/core/config/types.ts
  src/features/events_list/atoms/eventSortingConfig.ts
  src/features/events_list/types.ts
Due: Core Logic, Features

chore: simplify min max init in mcda sort
  src/utils/mcda_sort/sortByMCDAScore.ts
Due: Utilities

chore rename field mcdaCriteria -> criteria
  src/features/events_list/readme.md
  src/utils/mcda_sort/sortByMCDAScore.ts
Due: Features, Utilities

feat(20263): refactor
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.module.css
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.tsx
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
  src/features/user_profile/components/SettingsForm/SettingsNavigation/SettingsNavigation.module.css
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingSection.module.css
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingsSection.tsx
Due: Features

chore: update readme with properly formatted jsons
  src/features/events_list/readme.md
Due: Features

chore: remove unused import
  src/core/config/types.ts
Due: Core Logic

fix(20213): use clone of the original config object inside event sorting config
  src/features/events_list/atoms/eventSortingConfig.ts
Due: Features

feat(Disasters panel): 20213 Implement MCDA sorting support for Disasters panel (#929)
  src/core/types/index.ts
  src/features/events_list/atoms/eventSortingConfig.ts
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/components/EventCard/EventCard.fixture.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/constants.ts
  src/features/events_list/helpers/eventsMcdaSort.ts
  src/features/events_list/helpers/singlePropertySort.ts
  src/features/events_list/helpers/sorting.ts
  src/features/events_list/readme.md
  src/features/events_list/types.ts
  src/utils/mcda_sort/sortByMCDAScore.ts
Due: Core Logic, Features, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@638b04811bc1e157b2f5750c35f74884109b0c32 🚀
  assets/_virtual_cosmos-imports-DBAj3ux2.js
  assets/index-CSC_azWl.js
  renderer.html
Due: none

feat(20263): fix wrong active link on small mobile screens due to heights with fractional values
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Features

feat(event filters): 20213 implement config-based even filters
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/helpers/eventFilters.ts
  src/features/events_list/types.ts
Due: Features

fix(event list): Fix error when selected event id (from url) is not in the filtered event list
  src/features/events_list/atoms/eventListResource.ts
  src/features/events_list/atoms/sortedEventList.ts
Due: Features

Version 2.38.0
  package.json
Due: none

Version 2.38.0 (#935)
  package.json
Due: none

feat(20263): added favIcon svg instead og unicode symbol
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingSection.module.css
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingsSection.tsx
Due: Features

fix(20444): fix crosshair on top of boundaries marker
  src/core/types/index.ts
  src/features/boundary_selector/utils/createDropdownAsMarker.ts
  src/features/boundary_selector/utils/styles.module.css
  src/utils/map/markers.ts
Due: Core Logic, Features, Utilities

feat(20263): align save button with settings column width
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Features

feat(20263): set columns margins for different layout
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/views/Profile/Profile.module.css
Due: UI Components, Features

fix(Toast): 17513 adapt Toast to screen width in mobile mode
  src/features/toasts/components/Toast/Toast.module.css
Due: Features

fix(Toast): 17513 extra clickable padding for close button in Toasts
  src/features/toasts/components/Toast/Toast.module.css
  src/features/toasts/components/Toast/Toast.tsx
Due: Features

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
