Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@988ed30502e35229b8f3479544f41890c5df3729 🚀
  assets/BivariateGreetings-BVllUWRR.js
  assets/_virtual_cosmos-imports-CO-WxKeU.js
  assets/index-DAY7edeA.js
  index.html
  renderer.html
Due: none

Version 2.36.2
  package.json
Due: none

Version 2.36.2 (#918)
  package.json
Due: none

misc
  cosmos.config.json
  src/features/cookie_consent_banner/components/CookieConsentBanner.tsx
  src/features/events_list/atoms/currentEventBbox.ts
  vite.config.ts
Due: Features

feat: basic multivariate popup
  src/core/logical_layers/renderers/MCDARenderer/components/PopupMCDA.tsx
  src/core/logical_layers/renderers/MCDARenderer/popup.ts
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/popup.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
Due: Core Logic

migrate
  src/core/shared_state/currentEventResource.ts
  src/features/current_event/atoms/currentEventRefresher.ts
  src/features/current_event/index.tsx
  tsconfig.json
Due: Core Logic, Features

doc
  src/utils/atoms/createStateMap.tsx
Due: Utilities

migration helpers
  src/utils/atoms/createAsyncAtom/createAsyncAtom.ts
  src/utils/atoms/v3tov2.ts
  src/utils/debugTypes.ts
  src/utils/reatom/createReatomStateMap.ts
Due: Utilities

framework imports
  src/core/logical_layers/atoms/layersTree/layersTree.ts
  src/core/modal/index.tsx
  src/core/resources/bivariateStatisticsResource/index.ts
  src/core/shared_state/referenceArea.ts
  src/core/store/store.ts
  src/features/bivariate_manager/atoms/bivariateMatrixSelection.ts
  src/features/bivariate_manager/atoms/bivariateNumerators.ts
  src/features/bivariate_manager/atoms/bivatiateCorrelationMatrix.ts
  src/features/boundary_selector/atoms/boundaryRegistryAtom.ts
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.ts
  src/features/current_event/atoms/currentEventAutoFocus.ts
  src/features/reference_area/index.ts
  src/features/search/componets/SearchInput/SearchInput.tsx
Due: Core Logic, Features

refactor
  package.json
  pnpm-lock.yaml
  src/components/Analytics/AnalyticsPanelHeader/AnalyticsPanelHeader.tsx
  src/core/focused_geometry/utils.ts
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/components/FullState/FullState.tsx
  src/features/events_list/components/ShortState/ShortState.tsx
  src/utils/hooks/useShortPanelState.tsx
  vite.config.ts
Due: UI Components, Core Logic, Features, Utilities

sortable list
  src/components/Analytics/AnalyticsPanelHeader/AnalyticsPanelHeader.tsx
  src/components/LoadingSpinner/LoadingSpinner.module.css
  src/features/events_list/components/EventListSettingsRow/EventListSettingsRow.module.css
  src/features/events_list/components/EventListSortButton/EventListSortButton.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/components/FullState/FullState.tsx
  src/features/events_list/components/ShortState/ShortState.tsx
Due: UI Components, Features

fix store error
  src/features/events_list/atoms/currentEventBbox.ts
Due: Features

fix init
  src/core/types/index.ts
  src/features/events_list/components/EventListSortButton/EventListSortButton.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/components/FullState/FullState.tsx
Due: Core Logic, Features

appconfig
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
Due: Features

chore: remove store.v3ctx usage from currentEventBbox
  src/features/events_list/atoms/currentEventBbox.ts
Due: Features

fix: remove currentMapPositionAtomV2 usage
  src/core/shared_state/currentMapPosition.ts
  src/core/url_store/atoms/urlStore.ts
Due: Core Logic

test: updated registration and privacy tests
  e2e/page-objects/keycloakPage.ts
  e2e/page-objects/privacyPage.ts
  e2e/registration.spec.ts
  e2e/testsData/phone-by-country.json
Due: none

use helpers more
  src/core/focused_geometry/utils.ts
  src/core/shared_state/currentEvent.ts
  src/features/analytics_panel/atoms/currentEventData.ts
  src/features/current_event/atoms/currentEventGeometry.ts
Due: Core Logic, Features

chore: useAction in LayerFeaturesPanel
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
Due: Features

refactor: simplify BreadcrumbsPanel by using useAtom
  src/features/breadcrumbs/BreadcrumbsPanel.tsx
  src/features/breadcrumbs/atoms/initSubscriptionToPositionChange.ts
Due: Features

test: used methods chaining for registration test
  e2e/registration.spec.ts
Due: none

[FE] Fix failing tests (#920)
  e2e/page-objects/keycloakPage.ts
  e2e/page-objects/privacyPage.ts
  e2e/registration.spec.ts
  e2e/testsData/phone-by-country.json
Due: none

test: updated registration and privacy tests
  e2e/registration.spec.ts
Due: none

test: fix issue
  e2e/registration.spec.ts
Due: none

[FE] Fix failing e2e tests (fix of issue) (#921)
  e2e/registration.spec.ts
Due: none

fix spy
  src/core/shared_state/currentEventResource.ts
Due: Core Logic

chore: add delay util function
  src/utils/common/delay.ts
  src/utils/common/index.ts
Due: Utilities

feat: breadcurmbs items resource (no proper debounce)
  src/features/breadcrumbs/BreadcrumbsPanel.tsx
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.ts
  src/features/breadcrumbs/atoms/initSubscriptionToPositionChange.ts
Due: Features

chore: remove delay function
  src/utils/common/delay.ts
  src/utils/common/index.ts
Due: Utilities

refactor: use reactAsync for fetching breadcrumbs data
  src/features/breadcrumbs/BreadcrumbsPanel.tsx
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.ts
  src/features/breadcrumbs/helpers/breadcrumbsHelpers.ts
Due: Features

chore: move logic from BreadcrumbsPanel into useBreadcrumbsItems hook
  src/features/breadcrumbs/BreadcrumbsPanel.tsx
  src/features/breadcrumbs/hooks/useBreadcrumbsItems.ts
Due: Features

fix: fix aborting requests
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.ts
Due: Features

Moving breadcrumbs logic into useBreadcrumbsItems hook. Using reatomAsync (#922)
  src/features/breadcrumbs/BreadcrumbsPanel.tsx
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.ts
  src/features/breadcrumbs/atoms/initSubscriptionToPositionChange.ts
  src/features/breadcrumbs/helpers/breadcrumbsHelpers.ts
  src/features/breadcrumbs/hooks/useBreadcrumbsItems.ts
Due: Features

chore: remove unnecessary MCDAIndicator type, update tests
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/calculateLayerPipeline.test.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/calculations.test.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.test.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/types.ts
Due: Core Logic

feat(tiles zoom level): 20221 Use getMaxMCDAZoomLevel function for MCDA
  src/core/logical_layers/renderers/stylesConfigs/mcda/helpers/getMaxZoomLevel.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
  src/features/mcda/atoms/mcdaLayer.ts
  src/utils/bivariate/types/stat.types.ts
Due: Core Logic, Features, Utilities

feat(tiles zoom levels): 20221 apply max zoom level from indicators to Bivariate layers
  src/core/logical_layers/renderers/stylesConfigs/mcda/helpers/getMaxZoomLevel.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
  src/features/mcda/atoms/mcdaLayer.ts
  src/utils/bivariate/bivariateColorThemeUtils.ts
Due: Core Logic, Features, Utilities

test: 20221 tests for getMaxZoomLevels
  src/core/logical_layers/renderers/stylesConfigs/mcda/helpers/getMaxZoomLevels.test.ts
Due: none

chore: move getMaxZoomLevel function into /src/utils/bivariate
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
  src/features/mcda/atoms/mcdaLayer.ts
  src/utils/bivariate/bivariateColorThemeUtils.ts
  src/utils/bivariate/getMaxZoomLevel.test.ts
  src/utils/bivariate/getMaxZoomLevel.ts
Due: Core Logic, Features, Utilities

fix: fix type error in bivariateColorManagerSamleMap
  src/features/bivariate_color_manager/atoms/bivariateColorManagerSamleMap.ts
Due: Features

fix(bivariate matrix): 18057 Create settings for Bivariate layer (created in Bivariate Matrix) before enabling it.
  src/features/bivariate_manager/atoms/bivariateMatrixSelection.ts
Due: Features

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
