Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

Fix missing import in popover demo
  src/core/map/popover/MapPopover.fixture.tsx
Due: none

rename format: project_id -> hash_id
  src/components/Uni/fieldsRegistry.ts
  src/components/Uni/formatsRegistry.ts
  src/features/layer_features_panel/formats/layerFeaturesFormats.ts
  src/features/layer_features_panel/layouts/hotProjects.ts
Due: UI Components, Features

add layerFeaturesFormatsRegistry to fixture
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layer_features_panel/formats/layerFeaturesFormats.ts
Due: Features

fix style
  src/components/Uni/Components/Image.tsx
Due: UI Components

add fields to OAM layout
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/components/Uni/formatsRegistry.ts
  src/core/api/__mocks__/_oamSampleData.js
  src/features/layer_features_panel/layouts/oam.ts
Due: UI Components, Features

add style prop to Image component
  src/components/Uni/Components/Image.tsx
Due: UI Components

add TODO to oam layout file
  src/features/layer_features_panel/layouts/oam.ts
Due: Features

remove old Card from Layer Features panel
  src/features/layer_features_panel/components/LayerFeaturesCard/LayerFeaturesCard.module.css
  src/features/layer_features_panel/components/LayerFeaturesCard/index.tsx
Due: Features

fix formatters signatures
  src/components/Uni/formatsRegistry.ts
Due: UI Components

update url icon margin
  src/components/Uni/Components/Url.module.css
Due: UI Components

update HOT layout
  src/features/layer_features_panel/layouts/hotProjects.ts
Due: Features

Add optional "Archived" badge to HOT layout
  src/components/Uni/Components/Badge.module.css
  src/components/Uni/Components/Badge.tsx
  src/core/api/__mocks__/_hotSampleData.js
  src/features/layer_features_panel/layouts/hotProjects.ts
Due: UI Components, Features

rename ACAPS layout file
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/features/layer_features_panel/layouts/acapsLayout.ts
  src/features/layer_features_panel/layouts/layouts.ts
Due: Features

Rename layout files for OAM and HOT
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/core/map/popover/MapPopover.fixture.tsx
  src/features/layer_features_panel/layouts/hotProjectsLayout.ts
  src/features/layer_features_panel/layouts/layouts.ts
  src/features/layer_features_panel/layouts/oamLayout.ts
Due: Features

remove useless context from layouts
  src/core/api/__mocks__/_oamSampleData.js
  src/features/layer_features_panel/layouts/acapsLayout.ts
  src/features/layer_features_panel/layouts/hotProjectsLayout.ts
  src/features/layer_features_panel/layouts/oamLayout.ts
Due: Features

Use FeaturesPanelItem type instead of FeatureCardCfg for Features list items
  src/features/layer_features_panel/atoms/helpers/getBBoxForFeature.ts
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
  src/features/layer_features_panel/components/LayerFeaturesCard/index.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/FullState.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/ShortState.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/types.ts
Due: Features

Add list sorting for HOT Layer Features
  src/features/layer_features_panel/atoms/helpers/getBBoxForFeature.ts
  src/features/layer_features_panel/atoms/helpers/sortByProperty.ts
  src/features/layer_features_panel/atoms/helpers/sortFeaturesPanelItems.ts
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
Due: Features

Delete old layout helpers
  src/features/layer_features_panel/atoms/helpers/acaps.ts
  src/features/layer_features_panel/atoms/helpers/hotProjects_outlines.ts
  src/features/layer_features_panel/atoms/helpers/openaerialmap.ts
Due: Features

Delete old layer features card components
  src/components/SeverityIndicator/SeverityIndicator.module.css
  src/components/SeverityIndicator/SeverityIndicator.tsx
  src/features/layer_features_panel/components/CardElements/ActionButtons.module.css
  src/features/layer_features_panel/components/CardElements/ActionButtons.tsx
  src/features/layer_features_panel/components/CardElements/CardImage.module.css
  src/features/layer_features_panel/components/CardElements/CardImage.tsx
  src/features/layer_features_panel/components/CardElements/CardText.module.css
  src/features/layer_features_panel/components/CardElements/CardText.tsx
  src/features/layer_features_panel/components/CardElements/Label.module.css
  src/features/layer_features_panel/components/CardElements/Label.tsx
  src/features/layer_features_panel/components/CardElements/Progress.module.css
  src/features/layer_features_panel/components/CardElements/Progress.tsx
  src/features/layer_features_panel/components/CardElements/Table.module.css
  src/features/layer_features_panel/components/CardElements/Table.tsx
  src/features/layer_features_panel/components/CardElements/Title.module.css
  src/features/layer_features_panel/components/CardElements/Title.tsx
  src/features/layer_features_panel/components/CardElements/index.ts
Due: UI Components, Features

address rabbit comments
  src/components/Uni/Components/Block.tsx
  src/components/Uni/Layout/UniLayout.md
  src/components/Uni/Layout/UniLayoutRenderer.tsx
  src/components/Uni/helpers/checkIfCondition.test.ts
  src/components/Uni/helpers/checkIfCondition.ts
Due: UI Components

Add proxy function for value formatters to catch potential exceptions
  src/components/Uni/Components/Field.tsx
  src/components/Uni/Layout/UniLayoutContext.tsx
  src/components/Uni/formatsRegistry.ts
  src/components/Uni/helpers/applyFormatToValue.ts
  src/components/Uni/helpers/defaultFormatter.ts
  src/components/Uni/hooks/useFormattedValue.ts
Due: UI Components

fix file name
  src/components/Uni/Components/Field.tsx
  src/components/Uni/Layout/UniLayoutContext.tsx
  src/components/Uni/helpers/applyFormater.ts
  src/components/Uni/hooks/useFormattedValue.ts
Due: UI Components

rename sortByProperty -> sortByNumericProperty
  src/features/layer_features_panel/atoms/helpers/sortByProperty.ts
  src/features/layer_features_panel/atoms/helpers/sortFeaturesPanelItems.ts
Due: Features

Remove unnecessary styles from LayerFeaturesCard
  src/features/layer_features_panel/components/LayerFeaturesCard/LayerFeaturesCard.module.css
  src/features/layer_features_panel/components/LayerFeaturesCard/index.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/ShortState.tsx
Due: Features

Remove unneeded wrapper
  src/features/layer_features_panel/components/LayerFeaturesCard/index.tsx
Due: Features

feat(layers): 0000 add contextual id handling
  docs/contextual-layer-ids.md
  src/core/logical_layers/types/source.ts
  src/core/logical_layers/utils/contextualIds.ts
  src/features/layers_in_area/atoms/areaLayersDetailsResource/areaLayersDetailsParamsAtom.ts
  src/features/layers_in_area/atoms/areaLayersDetailsResource/areaLayersDetailsResourceAtomCache.ts
  src/features/layers_in_area/atoms/areaLayersDetailsResource/types.ts
  src/features/layers_in_area/atoms/layersInAreaAndEventLayerResource.ts
Due: Core Logic, Features

chore: clean up .cursorignore by removing unnecessary entries
  .cursorignore
Due: none

deprecations
  src/core/app/types.ts
Due: Core Logic

cleanup utils
  src/core/api/mcda.ts
  src/core/resources/bivariateStatisticsResource/index.ts
  src/core/resources/bivariateStatisticsResource/types.ts
  src/utils/bivariate/bivariate_style/index.ts
  src/utils/bivariate/bivariate_style/styleGen.ts
  src/utils/bivariate/helpers/HashMap.ts
  src/utils/bivariate/helpers/MapIndex.ts
  src/utils/bivariate/helpers/Matrix.ts
  src/utils/bivariate/helpers/converters/axisDTOtoAxis.ts
  src/utils/bivariate/helpers/converters/ratesToTable.ts
  src/utils/bivariate/helpers/converters/tests/ratesToTable.test.ts
  src/utils/bivariate/helpers/extractors/extractAvailableDenominators.ts
  src/utils/bivariate/helpers/extractors/extractAvailableNumeratorsWithDenominators.ts
  src/utils/bivariate/helpers/extractors/tests/extractAvailableDenominators.test.ts
  src/utils/bivariate/helpers/parsers/createBivariateAxesHashMap.ts
  src/utils/bivariate/helpers/parsers/createCorrelationsHashMap.ts
  src/utils/bivariate/helpers/parsers/parseStat.ts
  src/utils/bivariate/index.ts
  src/utils/bivariate/types/stat.types.ts
  src/utils/sort/sortByExample.ts
  src/utils/sort/tests/sortByExample.test.ts
Due: Core Logic, Utilities

cleanup
  src/core/resources/bivariateStatisticsResource/types.ts
Due: Core Logic

leftover
  src/utils/graphql/parseGraphQLErrors.ts
Due: Utilities

more cleanup
  src/core/bivariate/createBivariateGraphQLQuery.test.ts
  src/core/bivariate/createBivariateGraphQLQuery.ts
  src/core/bivariate/index.ts
Due: Core Logic

Deploying to gh-pages from @ konturio/disaster-ninja-fe@a8587702805cdd09045d484dfbba51610cbddbf9 🚀
  assets/BivariateGreetings-D0oSlFvK.js
  assets/_virtual_cosmos-imports-CNcpB4qj.css
  assets/_virtual_cosmos-imports-CqRUaQEi.js
  assets/_virtual_cosmos-imports-DlJmhnJf.css
  assets/index-DBSuAQpq.js
  cosmos.fixtures.json
  index.html
  renderer.html
Due: none

feat: implement monochrome fill layer for MVA without score and base
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/createMonochromeFillSpec.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Core Logic, Features

feat: allow MVA without score dimension
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/core/logical_layers/renderers/MCDARenderer/popup.ts
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.module.css
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
  src/features/multivariate_layer/helpers/multivariateLayerActions.ts
  src/utils/bivariate/getMaxZoomLevel.ts
Due: UI Components, Core Logic, Features, Utilities

fix value check in hash_id format
  src/components/Uni/formatsRegistry.ts
Due: UI Components

remove console error for base dimension based MVAs
  src/core/logical_layers/renderers/stylesConfigs/index.ts
Due: Core Logic

feat: rework MultivariateLegend to include all present dimensions
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/core/localization/translations/en/common.json
Due: UI Components
