Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

test: enhance OidcSimpleClient tests with token validation and error handling scenarios
  src/core/auth/OidcSimpleClient.test.ts
  src/core/auth/OidcSimpleClient.ts
Due: Core Logic

refactor(mock.factory.ts, replaceUrlWithProxy.ts): improve error handling and update proxy configuration access
  src/core/api_client/tests/errorHandling.test.ts
  src/core/api_client/tests/eventHandling.test.ts
  src/core/api_client/tests/factories/mock.factory.ts
  src/core/api_client/tests/httpHandling.test.ts
  src/core/api_client/tests/mocks/replaceUrlWithProxy.mock.ts
  src/core/api_client/tests/urlHandling.test.ts
  src/utils/axios/replaceUrlWithProxy.ts
Due: Utilities

feat(20263): fix comment on new onboarding profile
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingSection.module.css
Due: Features

feat(19288): add mobile version for search bar
  src/features/search/componets/SearchBar/SearchBar.module.css
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/componets/SearchInput/SearchInput.module.css
  src/features/search/index.tsx
  src/features/search/styles.module.css
  src/views/Map/Layouts/Layout.tsx
Due: UI Components, Features

feat(19288): add mobile version for search bar
  src/features/search/index.tsx
Due: Features

fix(19288): fix collapsible state style management
  src/features/search/index.tsx
  src/features/search/styles.module.css
Due: Features

fix(20263): small fixes for new onboarding profile (#952)
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingSection.module.css
Due: Features

fix(19288): fix wrong screen height detection on mobile
  src/features/search/componets/SearchBar/SearchBar.module.css
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/index.tsx
  src/features/search/styles.module.css
Due: Features

fix(19288): refactor
  src/features/search/componets/SearchBar/SearchBar.tsx
Due: Features

refactor(OidcSimpleClient): improve token validation logic and handle undefined expiration dates
  src/core/auth/OidcSimpleClient.ts
Due: Core Logic

test(OidcSimpleClient): add comprehensive token refresh flow tests and setup logout endpoint
  src/core/auth/OidcSimpleClient.test.ts
Due: none

test(createStateMap): adjust loading state delay and improve test assertions
  src/utils/atoms/createStateMap.test.tsx
Due: none

feat(AuthFactory): add token management and mocking utilities for improved authentication testing
  src/core/api_client/tests/factories/auth.factory.ts
Due: none

fix(deps): 20156 migrate to eslint 9, review config, improve chunking (#950)
  .eslintignore
  .eslintrc.identical.keys.cjs
  .eslintrc.json
  .gitignore
  eslint.config.mjs
  eslintrc.identical.keys.mjs
  package.json
  pnpm-lock.yaml
  src/core/api_client/apiClient.ts
  src/core/api_client/apiClientError.ts
  src/core/api_client/types.ts
  src/core/api_client/utils.ts
  src/core/auth/OidcSimpleClient.ts
  src/core/metrics/app-metrics.ts
  src/utils/storage/index.ts
  vite.config.ts
Due: Core Logic, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@2b6b38f8d6e1f836ab4054113da6b75795fc5195 🚀
  assets/_virtual_cosmos-imports-BYRDA2Cp.js
  assets/index-DG8GERvd.js
  renderer.html
Due: none

testing doc
  src/core/api_client/tests/README.md
Due: none

refactor(replaceUrlWithProxy): enhance proxy URL replacement logic and error handling
  src/utils/axios/replaceUrlWithProxy.ts
Due: Utilities

feat(auth): implement optional authentication requirement for API calls and enhance auth state management
  src/core/api/layers.ts
  src/core/api_client/apiClient.ts
  src/core/api_client/types.ts
  src/core/auth/OidcSimpleClient.ts
  src/core/auth/RFC.md
  src/core/auth/constants.ts
  src/core/config/loaders/appConfigLoader.ts
Due: Core Logic

fix lints
  src/core/api_client/tests/apiClient.test.ts
  src/core/api_client/tests/authorization.test.ts
  src/core/api_client/tests/errorHandling.test.ts
  src/core/auth/OidcSimpleClient.test.ts
Due: none

fix(19288): pr comment fix
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/index.tsx
  src/features/search/styles.module.css
Due: Features

feat(19288): add mobile version for search (#953)
  src/features/search/componets/SearchBar/SearchBar.module.css
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/componets/SearchInput/SearchInput.module.css
  src/features/search/index.tsx
  src/features/search/styles.module.css
  src/views/Map/Layouts/Layout.tsx
Due: UI Components, Features

Version 2.40.0
  package.json
Due: none

migrate to use authRequirement
  src/core/api/assets.ts
  src/core/api/boundaries.ts
  src/core/api/features.ts
  src/core/api/users.ts
  src/core/api_client/tests/README.md
  src/core/api_client/tests/_clientTestsContext.ts
  src/core/api_client/tests/authorization.test.ts
  src/core/api_client/tests/errorHandling.test.ts
  src/core/api_client/tests/errorsHandling.test.ts
  src/core/api_client/tests/eventHandling.test.ts
  src/core/api_client/tests/factories/auth.factory.ts
  src/core/api_client/tests/httpHandling.test.ts
  src/core/api_client/tests/retryBehavior.test.ts
  src/core/api_client/tests/urlHandling.test.ts
  src/core/auth/OidcSimpleClient.test.ts
  src/core/auth/OidcSimpleClient.ts
  src/core/metrics/app-metrics.ts
  src/core/resources/bivariateStatisticsResource/index.ts
  src/core/resources/eventFeedsResource.ts
  src/core/shared_state/currentEventResource.ts
  src/features/advanced_analytics_panel/atoms/advancedAnalyticsWorldResource.ts
  src/features/bivariate_color_manager/atoms/bivariateColorManagerResource.ts
  src/features/create_layer/atoms/currentEditedLayerFeatures.ts
  src/features/create_layer/atoms/editableLayerController.ts
  src/features/create_layer/atoms/editableLayersDetailsResource.ts
  src/features/create_layer/atoms/editableLayersListResource.ts
  src/features/event_episodes/atoms/episodesResource.ts
  src/features/events_list/atoms/eventListResource.ts
  src/features/layers_in_area/atoms/areaLayersDetailsResource/areaLayersDetailsResourceAtom.ts
  src/features/live_sensor/SensorsSnapshotsSender.ts
  src/features/reports/atoms/reportResource.ts
  src/features/reports/atoms/reportsAtom.ts
Due: Core Logic, Features

more migration
  src/core/api/insights.ts
  src/core/api/mcda.ts
  src/core/api/search.ts
  src/core/api/subscription.ts
Due: Core Logic

Version 2.40.0 (#956)
  package.json
Due: none

refactor(apiClient): enhance error handling, improve token management, and update documentation
  src/core/api_client/tests/factories/auth.factory.ts
  src/core/api_client/tests/factories/mock.factory.ts
  src/core/api_client/tests/mocks/waitMock.ts
  src/core/api_client/tests/retryBehavior.test.ts
  src/core/auth/OidcSimpleClient.test.ts
  src/core/auth/OidcSimpleClient.ts
  src/core/auth/README.md
Due: Core Logic

refactor(apiClient): streamline error handling, enhance token refresh logic, and update documentation
  .cursorignore
  src/core/api_client/apiClient.ts
  src/core/api_client/errors.ts
  src/core/api_client/readme.md
  src/core/api_client/tests/README.md
  src/core/api_client/tests/authorization.test.ts
  src/core/api_client/tests/errorHandling.test.ts
  src/core/api_client/tests/errorsHandling.test.ts
  src/core/api_client/tests/eventHandling.test.ts
  src/core/api_client/tests/httpHandling.test.ts
  src/core/api_client/types.ts
Due: Core Logic

test(apiClient): add comprehensive tests for token refresh logic and error handling scenarios
  src/core/api_client/tests/authorization.test.ts
Due: none

globalThis
  src/core/auth/OidcSimpleClient.ts
Due: Core Logic

refactor(apiClient): update authentication requirements for API calls, introducing new levels (SHOULD, NEVER) and enhancing documentation
  src/core/api/assets.ts
  src/core/api/boundaries.ts
  src/core/api_client/apiClient.ts
  src/core/api_client/types.ts
  src/core/auth/constants.ts
  src/features/reports/atoms/reportResource.ts
  src/features/reports/atoms/reportsAtom.ts
Due: Core Logic, Features

test: updated screenshots and edited logics for profile tests
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-pro-darwin.png
  e2e/mcdaWithPro.spec.ts
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-chromium-pro-linux.png
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-webkit-pro-linux.png
  e2e/page-objects/profilePage.ts
Due: none

test: updated screenshots
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-pro-linux.png
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-webkit-pro-linux.png
Due: none

feat(13373): adjust toolbar mobile layout
  src/core/draw_tools/index.ts
  src/core/draw_tools/types.ts
  src/core/toolbar/types.ts
  src/features/toolbar/components/ShortToolbarButton/ShortToolbarButton.module.css
  src/features/toolbar/components/ShortToolbarButton/ShortToolbarButton.tsx
  src/features/toolbar/components/ShortToolbarContent/ShortToolbarContent.module.css
  src/features/toolbar/components/ShortToolbarContent/ShortToolbarContent.tsx
  src/features/toolbar/components/ToolbarButton/ToolbarButton.module.css
  src/features/toolbar/components/ToolbarContent/ToolbarContent.module.css
  src/features/toolbar/components/ToolbarContent/ToolbarContent.tsx
  src/features/toolbar/components/ToolbarControl/ToolbarControl.tsx
  src/features/toolbar/components/ToolbarPanel/ToolbarPanel.module.css
  src/features/toolbar/components/ToolbarPanel/ToolbarPanel.tsx
  src/views/Map/Map.tsx
  src/widgets/FocusedGeometryEditor/DrawToolsWidget.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.module.css
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Core Logic, Features

Update screenshots for Linux at e2e tests and fix failing tests (#957)
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-darwin.png
  e2e/location.spec.ts-snapshots/As-Guest-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-linux.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-pro-darwin.png
  e2e/locationWithPro.spec.ts-snapshots/As-PRO-User-I-can-click-Locate-me-button-at-Smart-City-and-get-zoomed-to-my-location-1-chromium-pro-linux.png
  e2e/mcdaWithPro.spec.ts
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-chromium-pro-linux.png
  e2e/mcdaWithPro.spec.ts-snapshots/As-PRO-user-I-can-go-to-map-at-Kontur-Atlas--46033-d-work-with-MCDA-Search-for-area-create-MCDA-1-webkit-pro-linux.png
  e2e/page-objects/profilePage.ts
Due: none

feat(13373): remove hiding upload button
  src/features/toolbar/components/ShortToolbarButton/ShortToolbarButton.module.css
  src/features/toolbar/components/ToolbarButton/ToolbarButton.module.css
Due: Features

feat(20564): fix typo
  src/core/draw_tools/index.ts
  src/core/draw_tools/types.ts
  src/features/toolbar/components/ToolbarContent/ToolbarContent.tsx
  src/widgets/FocusedGeometryEditor/DrawToolsWidget.tsx
Due: UI Components, Core Logic, Features

feat(13373): adjust toolbar mobile layout (#958)
  src/core/draw_tools/index.ts
  src/core/draw_tools/types.ts
  src/core/toolbar/types.ts
  src/features/toolbar/components/ShortToolbarButton/ShortToolbarButton.module.css
  src/features/toolbar/components/ShortToolbarButton/ShortToolbarButton.tsx
  src/features/toolbar/components/ShortToolbarContent/ShortToolbarContent.module.css
  src/features/toolbar/components/ShortToolbarContent/ShortToolbarContent.tsx
  src/features/toolbar/components/ToolbarButton/ToolbarButton.module.css
  src/features/toolbar/components/ToolbarContent/ToolbarContent.module.css
  src/features/toolbar/components/ToolbarContent/ToolbarContent.tsx
  src/features/toolbar/components/ToolbarControl/ToolbarControl.tsx
  src/features/toolbar/components/ToolbarPanel/ToolbarPanel.module.css
  src/features/toolbar/components/ToolbarPanel/ToolbarPanel.tsx
  src/views/Map/Map.tsx
  src/widgets/FocusedGeometryEditor/DrawToolsWidget.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.module.css
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Core Logic, Features

feat(20564): center profile loading icon
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Features

feat(20564): center profile loading icon (#959)
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Features

feat: Basic bivariate style for Multivariate layers
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
  src/utils/bivariate/bivariateColorThemeUtils.ts
  src/utils/bivariate/bivariate_style/index.ts
  src/utils/bivariate/bivariate_style/styleGen.ts
  src/utils/bivariate/getMaxZoomLevel.ts
  src/utils/multivariate/constants.ts
  src/utils/multivariate/multivariateStyle.ts
Due: Core Logic, Utilities

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
