Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'
  - '**/__test__/**'
  - '**/__tests__/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

feat(breadcrumbs): extract helper and add test (#1195)
  package.json
  pnpm-lock.yaml
  src/features/breadcrumbs/BreadcrumbsPanel.tsx
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.test.ts
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.ts
  src/features/breadcrumbs/atoms/getBreadcrumbsForPoint.test.ts
  src/features/breadcrumbs/atoms/getBreadcrumbsForPoint.ts
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.test.tsx
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.tsx
  src/features/breadcrumbs/hooks/useBreadcrumbsItems.ts
Due: Features

fix(legend): use Figma letter icon for mapper steps
  src/components/SimpleLegend/SimpleLegend.test.tsx
  src/components/SimpleLegend/SimpleLegend.tsx
  src/components/SimpleLegend/icons/LetterIcon.tsx
Due: UI Components

fix(legend): add letter icon step type
  src/components/SimpleLegend/SimpleLegend.test.tsx
  src/components/SimpleLegend/SimpleLegend.tsx
  src/core/logical_layers/types/legends.ts
Due: UI Components, Core Logic

fix(legend): color letter icon via text color
  src/components/SimpleLegend/SimpleLegend.test.tsx
  src/components/SimpleLegend/SimpleLegend.tsx
  src/components/SimpleLegend/icons/CircleIcon.test.tsx
  src/components/SimpleLegend/icons/CircleIcon.tsx
  src/core/logical_layers/types/legends.ts
Due: UI Components, Core Logic

feat(layers): show disaster name for event shape layer
  src/features/layers_in_area/atoms/areaLayersControls.test.ts
  src/features/layers_in_area/atoms/areaLayersControls.ts
  src/features/layers_in_area/atoms/renameEventShapeLayer.ts
Due: Features

fix(map-ruler): disable layer clicks during measurement
  docs/architecture/ADR-002-MapPopover-Event-System-Integration.md
  docs/investigations/R006-map-event-management.md
  docs/investigations/map-event-management-system.md
  src/features/map_ruler/renderers/MapRulerRenderer.test.ts
  src/features/map_ruler/renderers/MapRulerRenderer.ts
Due: Features

test(event-episodes): cover timeline focus on current episode
  src/features/event_episodes/components/EpisodesTimeline/EpisodesTimeline.test.tsx
  src/features/event_episodes/components/EpisodesTimeline/EpisodesTimeline.tsx
Due: Features

fix(create_layer): hide placeholder option in type selector
  src/features/create_layer/components/EditableLayerFieldContainer/EditableLayerFieldContainer.module.css
  src/features/create_layer/components/EditableLayerFieldContainer/EditableLayerFieldContainer.tsx
  src/features/create_layer/constants.test.ts
  src/features/create_layer/constants.ts
Due: Features

test(map-ruler): mock registerMapListener correctly
  src/features/map_ruler/renderers/MapRulerRenderer.test.ts
Due: none

feat(draw-tools): add undo redo hotkeys
  src/core/draw_tools/atoms/drawHistoryAtom.ts
  src/core/draw_tools/index.ts
Due: Core Logic

fix(create_layer): style select placeholder
  src/features/create_layer/components/EditableLayerFieldContainer/EditableLayerFieldContainer.module.css
  src/features/create_layer/components/EditableLayerFieldContainer/EditableLayerFieldContainer.tsx
Due: Features

fix(events-list): 16777 match shield text color and opacity
  src/components/Uni/Components/DisasterShield.module.css
  src/components/Uni/Components/DisasterShield.test.tsx
  src/components/Uni/Components/DisasterShield.tsx
Due: UI Components

test(create_layer): avoid unreachable placeholder comparison
  src/features/create_layer/constants.test.ts
Due: none

fix(create_layer): rename field type labels
  src/core/localization/gettext/ar/common.po
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/de/common.po
  src/core/localization/gettext/es/common.po
  src/core/localization/gettext/id/common.po
  src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/template/common.pot
  src/core/localization/gettext/uk/common.po
  src/core/localization/gettext/zh/common.po
  src/core/localization/translations/en/common.json
  src/features/create_layer/constants.ts
Due: Core Logic, Features

feat(layers): show disaster name for event shape layer (#1235)
  src/features/layers_in_area/atoms/areaLayersControls.test.ts
  src/features/layers_in_area/atoms/areaLayersControls.ts
  src/features/layers_in_area/atoms/renameEventShapeLayer.ts
Due: Features

fix tests
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/calculations.test.ts
Due: none

Update comments
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/index.ts
Due: Core Logic

fix: Don't use absoluteMin and and absoluteMax in sentimentPaint. Use 0..1 instead
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
Due: Core Logic

update comment
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
Due: Core Logic

fix(MCDA, MVA): 22397 fix layer style and popup values for non normalized mcda (#1240)
  src/core/logical_layers/renderers/MCDARenderer/popup.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/calculateLayerPipeline.test.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/calculations.test.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/index.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
Due: Core Logic

feat(MVA): 22394 make static opacity an independent property
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Core Logic, Features

Fix 0 not being shown in Static Opacity
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Features

feat(MVA): 22394 make static opacity an independent property (#1241)
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Core Logic, Features

doc(MVA): 21304 Create readme for Multivariate_layer config
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
  src/features/multivariate_layer/readme.md
Due: Core Logic, Features

chore: update MD
  src/features/multivariate_layer/readme.md
Due: Features

fix: Fix typo
  src/features/multivariate_layer/readme.md
Due: Features

fix(toolbar): horizontal wheel scrolling support (#1201)
  src/features/toolbar/components/ToolbarContent/ToolbarContent.tsx
  src/utils/hooks/useWheelHorizontalScroll.test.tsx
  src/utils/hooks/useWheelHorizontalScroll.ts
Due: Features, Utilities

doc(MVA): 21304 Create readme for Multivariate_layer config. Update MVA config version from 0 to 1 (#1242)
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
  src/features/multivariate_layer/readme.md
Due: Core Logic, Features

Delete src/features/map_ruler/renderers/MapRulerRenderer.test.ts
  src/features/map_ruler/renderers/MapRulerRenderer.test.ts
Due: none

fix(map-ruler): disable layer clicks during measurement (#1236)
  docs/architecture/ADR-002-MapPopover-Event-System-Integration.md
  docs/investigations/R006-map-event-management.md
  docs/investigations/map-event-management-system.md
  src/features/map_ruler/renderers/MapRulerRenderer.ts
Due: Features

Delete src/features/search/tests/initSearchHighlightLayer.test.ts
  src/features/search/tests/initSearchHighlightLayer.test.ts
Due: none

Delete src/features/search/tests/highlightedAtom.test.ts
  src/features/search/tests/highlightedAtom.test.ts
Due: none

Delete src/features/search/tests/searchAtoms.test.ts
  src/features/search/tests/searchAtoms.test.ts
Due: none

Delete src/features/search/tests/searchLocationAtoms.test.ts
  src/features/search/tests/searchLocationAtoms.test.ts
Due: none

sync: Synced local 'AGENTS.md' with remote 'AGENTS.md'
  AGENTS.md
Due: none

sync: Synced local 'LICENSE' with remote 'LICENSE'
  LICENSE
Due: none

sync: Synced file(s) with konturio/AGENTS.md (#1243)
  AGENTS.md
  LICENSE
Due: none

fix(toolbar): remove group names and divider (#1217)
  src/features/toolbar/components/ToolbarContent/ToolbarContent.module.css
  src/features/toolbar/components/ToolbarContent/ToolbarContent.tsx
Due: Features

feat(layers panel): add axis (Indicators) group
  src/core/localization/translations/en/common.json
  src/core/logical_layers/constants.ts
Due: Core Logic

Fix "openByDefault" for groups and categories
  src/features/layers_panel/components/Category/Category.tsx
  src/features/layers_panel/components/Group/Group.tsx
Due: Features
