Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

feat: remove MultivariateLayerEditor
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.module.css
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
  src/features/multivariate_layer/helpers/multivariateLayerActions.ts
Due: Features

fix comments
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/core/localization/translations/en/common.json
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: UI Components, Features

fix CircleIcon, SquareIcon and HexIcon ignoring numerical 0 value in styles.width
  src/components/SimpleLegend/icons/CircleIcon.tsx
  src/components/SimpleLegend/icons/HexIcon.tsx
  src/components/SimpleLegend/icons/SquareIcon.tsx
Due: UI Components

Allow passing stepIconSize to SimpleLegendStep
  src/components/SimpleLegend/SimpleLegend.tsx
  src/core/logical_layers/types/legends.ts
Due: UI Components, Core Logic

Align SimpleLegendStep content to the top, to better support long item names
  src/components/SimpleLegend/SimpleLegend.module.css
  src/components/SimpleLegend/SimpleLegend.tsx
Due: UI Components

Change default circle icon stroke width in SimpleLegend
  src/components/SimpleLegend/icons/CircleIcon.tsx
Due: UI Components

Slightly different margin top on normal sized icons
  src/components/SimpleLegend/SimpleLegend.module.css
Due: UI Components

Remove stepIconSize props. Revert CircleIcon stroke width
  src/components/SimpleLegend/SimpleLegend.tsx
  src/components/SimpleLegend/icons/CircleIcon.tsx
Due: UI Components

remove unused style
  src/components/SimpleLegend/SimpleLegend.module.css
Due: UI Components

Add multiline text support to SimpleLegendStep
  src/components/SimpleLegend/SimpleLegend.module.css
  src/components/SimpleLegend/SimpleLegend.tsx
Due: UI Components

Refactor in SimpleLegend
  src/components/SimpleLegend/SimpleLegend.tsx
  src/core/logical_layers/types/legends.ts
Due: UI Components, Core Logic

feat: OpacityStepsLegend
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/OpacityStepsLegend/OpacityStepsLegend.tsx
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/index.ts
Due: UI Components, Core Logic

feat(metrics): 22156 add Matomo integration
  src/core/metrics/externalMetrics/matomoMetrics.ts
  src/core/metrics/index.ts
  src/core/metrics/readme.md
Due: Core Logic

feat: Labels (text) legend
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

Rename Block component to Stack
  src/components/Uni/Components/Stack.module.css
  src/components/Uni/Components/Stack.tsx
  src/components/Uni/componentsRegistry.ts
  src/features/layer_features_panel/layouts/acapsLayout.ts
Due: UI Components, Features

rename PropertiesTable to PropertyGrid
  src/components/Uni/Components/PropertyGrid.module.css
  src/components/Uni/Components/PropertyGrid.tsx
  src/components/Uni/Components/UniComponents.fixture.tsx
  src/components/Uni/__mocks__/_conditionalLayout.js
  src/components/Uni/componentsRegistry.ts
  src/features/layer_features_panel/layouts/acapsLayout.ts
  src/features/layer_features_panel/layouts/hotProjectsLayout.ts
  src/features/layer_features_panel/layouts/oamLayout.ts
Due: UI Components, Features

remove mapping_types from fieldsRegistry
  src/components/Uni/fieldsRegistry.ts
  src/core/localization/translations/en/common.json
  src/features/layer_features_panel/layouts/hotProjectsLayout.ts
Due: UI Components, Features

Add preprocessors mechanism, use it for HOT layout
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/features/layer_features_panel/atoms/helpers/layerFeaturesPreprocessors.ts
  src/features/layer_features_panel/atoms/helpers/preprocessors/hotProjectsPreprocessor.ts
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
  src/features/layer_features_panel/layouts/hotProjectsLayout.ts
Due: Features

Add ACAPS layout preprocessor
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/features/layer_features_panel/atoms/helpers/layerFeaturesPreprocessors.ts
  src/features/layer_features_panel/atoms/helpers/preprocessors/acapsPreprocessor.ts
  src/features/layer_features_panel/layouts/acapsLayout.ts
Due: Features

Updated mocked conditional layout
  src/components/Uni/__mocks__/_conditionalLayout.js
Due: none

Remove ifCondition functionality
  src/components/Uni/Layout/UniLayout.md
  src/components/Uni/Layout/UniLayoutRenderer.tsx
  src/components/Uni/Layout/types.ts
  src/components/Uni/helpers/checkIfCondition.test.ts
  src/components/Uni/helpers/checkIfCondition.ts
Due: UI Components

Rewrite preprocessors to work on whole features instead of just properties. Remove preprocessors from LayoutDebugger fixture
  src/components/Uni/LayoutDebugger.fixture.tsx
  src/core/api/__mocks__/_acapsSampleData.js
  src/core/api/__mocks__/_hotSampleData.js
  src/features/layer_features_panel/atoms/helpers/getBBoxForFeature.ts
  src/features/layer_features_panel/atoms/helpers/layerFeaturesPreprocessors.ts
  src/features/layer_features_panel/atoms/helpers/preprocessors/acapsPreprocessor.ts
  src/features/layer_features_panel/atoms/helpers/preprocessors/hotProjectsPreprocessor.ts
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
Due: Features

isValidLngLatPairObject function
  src/core/map/utils/coordinateValidation.ts
Due: Core Logic

Add __customFocusBbox as a special feature property instead of an item field. Use preprocessed features instead of items
  src/features/layer_features_panel/atoms/helpers/getBBoxForFeature.ts
  src/features/layer_features_panel/atoms/helpers/layerFeaturesPreprocessors.ts
  src/features/layer_features_panel/atoms/helpers/preprocessors/hotProjectsPreprocessor.ts
  src/features/layer_features_panel/atoms/helpers/preprocessors/oamPreprocessor.ts
  src/features/layer_features_panel/atoms/helpers/sortByProperty.ts
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/types.ts
  src/features/layer_features_panel/constants.ts
  src/features/layer_features_panel/helpers/getBBoxForLayerFeature.ts
Due: Features

Rewrite sortByNumericProperty in generic form
  src/features/layer_features_panel/atoms/helpers/sortByProperty.ts
  src/features/layer_features_panel/atoms/helpers/sortFeaturesPanelItems.ts
Due: Features

Remove sortByNumericProperty. Use sortByNumber from utils
  src/features/layer_features_panel/atoms/helpers/sortByProperty.ts
  src/features/layer_features_panel/atoms/helpers/sortFeaturesPanelItems.ts
  src/utils/common/index.ts
  src/utils/common/sorting.test.ts
  src/utils/common/sorting.ts
Due: Features, Utilities

move compilePropertyAccessor to utils
  src/components/Uni/Layout/types.ts
  src/components/Uni/Layout/useUniLayoutCompiledAccessors.ts
  src/utils/common/compilePropertyAccessor.ts
Due: UI Components, Utilities

Remove unreachable code
  src/utils/common/sorting.ts
Due: Utilities

Revert "move compilePropertyAccessor to utils"
  src/components/Uni/Layout/types.ts
  src/components/Uni/Layout/useUniLayoutCompiledAccessors.ts
  src/utils/common/compilePropertyAccessor.ts
Due: UI Components, Utilities

Sort HOT projects using feature ids
  src/features/layer_features_panel/atoms/helpers/sortFeaturesPanelItems.ts
  src/utils/common/sorting.test.ts
  src/utils/common/sorting.ts
Due: Features, Utilities

feat(metrics): 22156 make Matomo URL configurable
  configs/config.default.json
  src/core/config/loaders/stageConfigLoader.ts
  src/core/config/types.ts
  src/core/metrics/externalMetrics/matomoMetrics.test.ts
  src/core/metrics/externalMetrics/matomoMetrics.ts
  src/core/metrics/readme.md
Due: Core Logic

feat(metrics): 22156 add Matomo tag manager
  src/core/metrics/externalMetrics/README.md
  src/core/metrics/externalMetrics/matomoMetrics.test.ts
  src/core/metrics/externalMetrics/matomoMetrics.ts
  src/core/metrics/index.ts
Due: Core Logic

feat(metrics): 22156 improve Matomo integration
  configs/config.default.json
  src/core/config/__mocks__/_configMock.ts
  src/core/config/loaders/stageConfigLoader.ts
  src/core/config/types.ts
  src/core/metrics/externalMetrics/README.md
  src/core/metrics/externalMetrics/matomoMetrics.test.ts
  src/core/metrics/externalMetrics/matomoMetrics.ts
Due: Core Logic

test(metrics): 22156 improve Matomo tests
  src/core/metrics/externalMetrics/matomoMetrics.test.ts
  src/core/metrics/externalMetrics/matomoMetrics.ts
Due: Core Logic

rename UniLayoutContext.getFormattedValue() -> getFormattedValueWithMeta()
  src/components/Uni/Components/Field.tsx
  src/components/Uni/Components/IconButton.tsx
  src/components/Uni/Layout/UniLayoutContext.tsx
  src/components/Uni/Layout/types.ts
Due: UI Components

move useFormattedValue() functionality into UniLayoutContext
  src/components/Uni/Components/Badge.tsx
  src/components/Uni/Components/Base.tsx
  src/components/Uni/Components/CardHeader.tsx
  src/components/Uni/Layout/UniLayoutContext.tsx
  src/components/Uni/Layout/types.ts
  src/components/Uni/hooks/useFormattedValue.ts
Due: UI Components

update getFormattedValueWithMeta() signature to have value as first param
  src/components/Uni/Components/Field.tsx
  src/components/Uni/Components/IconButton.tsx
  src/components/Uni/Layout/UniLayoutContext.tsx
  src/components/Uni/Layout/types.ts
Due: UI Components

UniLayout: refactor useFormattedValue()
  src/components/Uni/Components/Badge.tsx
  src/components/Uni/Components/Base.tsx
  src/components/Uni/Components/CardHeader.tsx
  src/components/Uni/Components/Field.tsx
  src/components/Uni/Components/IconButton.tsx
  src/components/Uni/Layout/UniLayoutContext.tsx
  src/components/Uni/Layout/types.ts
  src/components/Uni/hooks/useFormattedValue.ts
Due: UI Components

fix typo
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
Due: Features

add TODO
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
Due: Features

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
