Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

Update src/core/localization/gettext/be/common.po
  src/core/localization/gettext/be/common.po
Due: Core Logic

test(metrics): fix matomo metrics tests
  src/core/metrics/externalMetrics/README.md
  src/core/metrics/externalMetrics/matomoMetrics.test.ts
Due: Core Logic

Update common.po
  src/core/localization/gettext/zh/common.po
Due: Core Logic

fix common.po for be and ru
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/ru/common.po
Due: Core Logic

Update common.po
  src/core/localization/gettext/ru/common.po
Due: Core Logic

Better margins
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

rename DimensionStep -> MultivariateLegendStep
  src/components/MultivariateLegend/ExtrusionStepsLegend.tsx
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/MultivariateLegend/MultivariateLegendStep.module.css
  src/components/MultivariateLegend/MultivariateLegendStep.tsx
  src/components/MultivariateLegend/OpacityStepsLegend.tsx
Due: UI Components

Rename DimensionBlock -> DimensionStack
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

remove unused type
  src/components/MultivariateLegend/ExtrusionStepsLegend.tsx
  src/components/MultivariateLegend/OpacityStepsLegend.tsx
Due: UI Components

Update common.po
  src/core/localization/gettext/be/common.po
Due: Core Logic

Revert changes in SimpleLegend
  src/components/SimpleLegend/SimpleLegend.module.css
  src/components/SimpleLegend/SimpleLegend.tsx
  src/core/logical_layers/types/legends.ts
Due: UI Components, Core Logic

rename create and upload MCDA buttons in English
  src/core/localization/gettext/ar/common.po
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/de/common.po
  src/core/localization/gettext/es/common.po
  src/core/localization/gettext/id/common.po
  src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/template/common.pot
  src/core/localization/gettext/uk/common.po
  src/core/localization/gettext/zh/common.po
  src/core/localization/translations/en/common.json
Due: Core Logic

Update src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/ru/common.po
Due: Core Logic

Add mcda legend subtitle to translations
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/core/localization/translations/en/common.json
Due: UI Components

Version 2.52.0
  package.json
Due: none

Version 2.52.0 (#1152)
  package.json
Due: none

fix(metrics): 22156 correct matomo test mocks
  src/core/metrics/externalMetrics/matomoMetrics.test.ts
Due: none

feat(mva): 21234, 21319 Paint hexes grey if no color dimensions are present. Allow MVA without score dimension (#1146)
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/core/localization/translations/en/common.json
  src/core/logical_layers/renderers/MCDARenderer/popup.ts
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.module.css
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/createMonochromeFillSpec.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.module.css
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
  src/features/multivariate_layer/helpers/multivariateLayerActions.ts
  src/utils/bivariate/getMaxZoomLevel.ts
Due: UI Components, Core Logic, Features, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@7ab41b5b059229fdc495589188cb09711c7650da 🚀
  assets/_virtual_cosmos-imports-B7-Rk5-J.js
  assets/index-jY-rgYD0.js
  renderer.html
Due: none

feat(server): add caching headers and tests (#1079)
  .cursorignore
  server/README.md
  server/main.go
  server/main_test.go
Due: none

Add error handling for stage config fetch (#1059)
  src/core/config/loaders/stageConfigLoader.ts
Due: Core Logic

feat: allow MVA without score dimension
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

feat: rework MultivariateLegend to include all present dimensions
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

Align SimpleLegendStep content to the top, to better support long item names
  src/components/SimpleLegend/SimpleLegend.module.css
  src/components/SimpleLegend/SimpleLegend.tsx
Due: UI Components

fix CircleIcon, SquareIcon and HexIcon ignoring numerical 0 value in styles.width
  src/components/SimpleLegend/icons/CircleIcon.tsx
  src/components/SimpleLegend/icons/HexIcon.tsx
  src/components/SimpleLegend/icons/SquareIcon.tsx
Due: UI Components

Allow passing stepIconSize to SimpleLegendStep
  src/components/SimpleLegend/SimpleLegend.tsx
  src/core/logical_layers/types/legends.ts
Due: UI Components, Core Logic

Change default circle icon stroke width in SimpleLegend
  src/components/SimpleLegend/icons/CircleIcon.tsx
Due: UI Components

Remove stepIconSize props. Revert CircleIcon stroke width
  src/components/SimpleLegend/SimpleLegend.tsx
  src/components/SimpleLegend/icons/CircleIcon.tsx
Due: UI Components

remove unused style
  src/components/SimpleLegend/SimpleLegend.module.css
Due: UI Components

Add OpacityStepsLegend and ExtrusionStepsLegend
  src/components/MultivariateLegend/DimensionStep.module.css
  src/components/MultivariateLegend/DimensionStep.tsx
  src/components/MultivariateLegend/ExtrusionLegend.module.css
  src/components/MultivariateLegend/ExtrusionStepsLegend.tsx
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/MultivariateLegend/OpacityStepsLegend.tsx
  src/components/MultivariateLegend/helpers/getMCDALayersDirectionsForLegend.ts
  src/components/OpacityStepsLegend/OpacityStepsLegend.tsx
Due: UI Components
