Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

fix(Toast): 17513 adjust position and paddings of mobile Toasts
  src/features/toasts/components/Toast/Toast.module.css
  src/features/toasts/components/ToastGroup/ToastGroup.module.css
Due: Features

test: added mcda creation logics and checks
  e2e/mcdaWithPro.spec.ts
  e2e/page-objects/mapPage.ts
  e2e/page-objects/mcdaPopup.ts
Due: none

feat: create localEventFiltersAtom
  src/features/events_list/atoms/localEventListFiltersConfig.ts
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/types.ts
Due: Features

fix: handling of the missing current event back to eventListResource
  src/features/events_list/atoms/eventListResource.ts
Due: Features

chore: eventFilters -> localEventFilters
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/helpers/localEventFilters.ts
Due: Features

fix: remove debug return from filterByExcludedEventTypes
  src/features/events_list/helpers/localEventFilters.ts
Due: Features

fix(Disasters panel): 20467 Show feed selector and bbox filter in Empty state of Disasters panel
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/components/EventsPanelErrorMessage/EventsPanelErrorMessage.module.css
  src/features/events_list/components/EventsPanelErrorMessage/EventsPanelErrorMessage.tsx
  src/features/events_list/components/EventsPanelSettings/EventsPanelSettings.tsx
  src/features/events_list/components/FullState/FullState.tsx
Due: Features

feat: add message for empty filtered list
  src/core/localization/translations/en/common.json
  src/features/events_list/atoms/sortedEventList.ts
Due: Features

feat(20263): update texts
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Features

fix(20444): fix crosshair on top of boundaries marker (#936)
  src/core/types/index.ts
  src/features/boundary_selector/utils/createDropdownAsMarker.ts
  src/features/boundary_selector/utils/styles.module.css
  src/utils/map/markers.ts
Due: Core Logic, Features, Utilities

fix(Toasts): 17513 Adapt Toasts to screen width on mobile (#937)
  src/features/toasts/components/Toast/Toast.module.css
  src/features/toasts/components/Toast/Toast.tsx
  src/features/toasts/components/ToastGroup/ToastGroup.module.css
Due: Features

feat: use simpler overrides structure
  src/core/config/loaders/appConfigLoader.ts
Due: Core Logic

feat: add console.info message about applying overrides
  src/core/config/loaders/appConfigLoader.ts
Due: Core Logic

feat: remove old VITE_FEATURES_CONFIG overrides mechanism
  src/core/config/loaders/appConfigLoader.ts
  src/vite-env.d.ts
Due: Core Logic

chore: update readme
  src/features/readme.md
Due: Features

chore: move constant to the top
  src/core/config/loaders/appConfigLoader.ts
Due: Core Logic

chore: add colors to console.info message
  src/core/config/loaders/appConfigLoader.ts
Due: Core Logic

feat(20443): add mechanism for local feature overrides with json support (#934)
  .gitignore
  src/core/config/loaders/appConfigLoader.ts
  src/features/readme.md
  src/vite-env.d.ts
Due: Core Logic, Features

test: added legend analysis step
  e2e/mcdaWithPro.spec.ts
  e2e/page-objects/legendPanel.ts
  e2e/page-objects/pageManager.ts
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components

feat(20263): rp comments
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
  src/features/user_profile/components/SettingsForm/SettingsSection/SettingsSection.tsx
  src/features/user_profile/components/SettingsForm/constants.ts
Due: Features

chore: remove unused callback
  src/features/events_list/components/FullState/FullState.tsx
Due: Features

fix(Disasters panel): 20467 Show feed selector and bbox filter in Empty state of Disasters panel (#938)
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/components/EventsPanelErrorMessage/EventsPanelErrorMessage.module.css
  src/features/events_list/components/EventsPanelErrorMessage/EventsPanelErrorMessage.tsx
  src/features/events_list/components/EventsPanelSettings/EventsPanelSettings.tsx
  src/features/events_list/components/FullState/FullState.tsx
Due: Features

fix: fix filtering by minStartedAt
  src/features/events_list/helpers/localEventFilters.ts
Due: Features

fix: fix atom name
  src/features/events_list/atoms/localEventListFiltersConfig.ts
Due: Features

chore: refactor eventMcdaCriteriaExtractor into several smaller functions
  src/features/events_list/helpers/eventsMcdaSort.ts
Due: Features

fix: fix printing dimension name in printValue
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
Due: Features

initial tweaks
  package.json
  pnpm-lock.yaml
  src/core/auto_refresh/index.ts
  src/core/metrics/constants.ts
  src/core/store/store.ts
  src/utils/atoms/createAsyncAtom/createAsyncAtom.ts
Due: Core Logic, Utilities

refactor: remove unused components and files from analytics and events features
  src/components/Analytics/AnalyticsPanelHeader/AnalyticsPanelHeader.module.css
  src/components/Analytics/AnalyticsPanelHeader/AnalyticsPanelHeader.tsx
  src/components/index.ts
  src/core/api_client/index.ts
  src/core/logical_layers/basemap.ts
  src/core/pages/utils.test.ts
  src/core/pages/utils.ts
  src/core/router/history.ts
  src/core/url_store/atoms/urlStore.ts
  src/features/analytics_panel/atoms/currentEventData.ts
  src/features/events_list/components/CurrentEvent/CurrentEvent.tsx
  src/features/events_list/components/index.ts
  src/features/interactive_map/atoms/mapStyle.ts
  src/features/interactive_map/index.ts
  src/utils/atoms/combineAtoms.ts
  src/utils/atoms/createAtomSelector.ts
  src/utils/atoms/createPrimitives.ts
  src/utils/atoms/index.ts
  src/utils/common/withSetupCheck.test.ts
  src/utils/common/withSetupCheck.ts
Due: UI Components, Core Logic, Features, Utilities

feat(metrics): enhance API client metrics and event handling
  src/core/apiClientInstance.ts
  src/core/api_client/apiClient.ts
  src/core/metrics/app-metrics.ts
  src/core/metrics/constants.ts
  src/core/metrics/map-utils.ts
  src/core/store/store.ts
Due: Core Logic

feat(20263): add bottom offset
  src/features/user_profile/components/SettingsForm/ReferenceAreaInfo/ReferenceAreaInfo.module.css
  src/features/user_profile/components/SettingsForm/SettingsForm.module.css
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Features

feat(20454): Implement basic config based event filtering (#939)
  src/core/localization/translations/en/common.json
  src/features/events_list/atoms/localEventListFiltersConfig.ts
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/helpers/eventsMcdaSort.ts
  src/features/events_list/helpers/localEventFilters.ts
  src/features/events_list/types.ts
Due: Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@34cd40445482c5311d50da31e30f0db038152d6d 🚀
  assets/_virtual_cosmos-imports-C_fH1uvr.js
  assets/index-DFENLxyQ.js
  renderer.html
Due: none

feat(disasters panel): 20511 Added config-based filters by last N days (updatedAt and startedAt fields)
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/helpers/localEventFilters.ts
  src/features/events_list/types.ts
Due: Features

feat(disasters panel): 20511 Added config-based filters by last N days (updatedAt and startedAt fields) (#942)
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/helpers/localEventFilters.ts
  src/features/events_list/types.ts
Due: Features

fix(core): 20410 fix fe load times reporting to grafana (#940)
  package.json
  pnpm-lock.yaml
  src/components/Analytics/AnalyticsPanelHeader/AnalyticsPanelHeader.module.css
  src/components/Analytics/AnalyticsPanelHeader/AnalyticsPanelHeader.tsx
  src/components/index.ts
  src/core/apiClientInstance.ts
  src/core/api_client/apiClient.ts
  src/core/api_client/index.ts
  src/core/auto_refresh/index.ts
  src/core/logical_layers/basemap.ts
  src/core/metrics/app-metrics.ts
  src/core/metrics/constants.ts
  src/core/metrics/map-utils.ts
  src/core/pages/utils.test.ts
  src/core/pages/utils.ts
  src/core/router/history.ts
  src/core/store/store.ts
  src/core/url_store/atoms/urlStore.ts
  src/features/analytics_panel/atoms/currentEventData.ts
  src/features/events_list/components/CurrentEvent/CurrentEvent.tsx
  src/features/events_list/components/index.ts
  src/features/interactive_map/atoms/mapStyle.ts
  src/features/interactive_map/index.ts
  src/utils/atoms/combineAtoms.ts
  src/utils/atoms/createAsyncAtom/createAsyncAtom.ts
  src/utils/atoms/createAtomSelector.ts
  src/utils/atoms/createPrimitives.ts
  src/utils/atoms/index.ts
  src/utils/common/withSetupCheck.test.ts
  src/utils/common/withSetupCheck.ts
Due: UI Components, Core Logic, Features, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@737f42fc97ef67396054e68da9e48a7836e04b0a 🚀
  assets/_virtual_cosmos-imports-HQGeps_K.js
  assets/index-tXVr-Ftd.js
  renderer.html
Due: none

initial
  package.json
  pnpm-lock.yaml
  src/core/api_client/tests/_clientTestsContext.ts
  src/core/api_client/tests/_localStorageMock.ts
  src/core/api_client/tests/authorization.test.ts
Due: none

reorg
  src/core/api_client/tests/_clientTestsContext.ts
  src/core/api_client/tests/_servicesMocks.ts
  src/core/api_client/tests/factories/auth.factory.ts
  src/core/api_client/tests/factories/client.factory.ts
  src/core/api_client/tests/factories/mock.factory.ts
  src/core/api_client/tests/factories/token.factory.ts
  src/core/api_client/tests/utils/base64.ts
  src/core/api_client/tests/utils/localStorage.mock.ts
Due: none

use jose
  src/core/api_client/tests/_clientTestsContext.ts
  src/core/api_client/tests/errorsHandling.test.ts
  src/core/api_client/tests/factories/client.factory.ts
  src/core/api_client/tests/factories/mock.factory.ts
  src/core/api_client/tests/factories/token.factory.ts
  src/core/api_client/tests/types.ts
  src/utils/test/api-test-utils.ts
  src/utils/test/index.ts
  src/utils/test/mocks/storage.mock.ts
  src/utils/test/types.ts
Due: none

updated depconfig
  .dependency-cruiser.cjs
Due: none
