Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

feat: rework MultivariateLegend to include all present dimensions
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

Remove test
  src/core/pages/MarkdownMedia.test.tsx
Due: none

fix(pages): 22226 maintain aspect ratio for embedded videos (#1159)
  src/core/pages/MarkdownMedia.tsx
  src/core/pages/pages.css
  src/core/pages/readme.md
Due: Core Logic

Deploying to gh-pages from @ konturio/disaster-ninja-fe@cdc5015dcd8381a96408c71f44b435791e2207d0 🚀
  assets/_virtual_cosmos-imports-C0136iJE.css
  assets/_virtual_cosmos-imports-DCnktEyo.js
  assets/index-t8UmkHIr.js
  renderer.html
Due: none

Remove unused file
  src/components/MultivariateLegend/ExtrusionLegend.module.css
Due: UI Components

chore: update comments
  src/core/logical_layers/renderers/stylesConfigs/index.ts
Due: Core Logic

fix(docker): 21190 refine build and port config
  .dockerignore
  Dockerfile
  server/main.go
Due: none

fix(create_layer): 10088 enforce unique layer names
  src/core/localization/translations/en/common.json
  src/features/create_layer/atoms/editableLayerController.ts
  src/features/create_layer/readme.md
Due: Features

chore(features): 11105 remove redundant feature flags (#1122)
  configs/config.default.json
  src/core/app/types.ts
  src/core/config/__mocks__/_configMock.ts
  src/views/Map/Map.tsx
Due: UI Components, Core Logic

Deploying to gh-pages from @ konturio/disaster-ninja-fe@5a653ca97e048dd3ffca787f4da9f6d68287dc54 🚀
  assets/_virtual_cosmos-imports-BelrDKNI.js
  assets/index-2AwkNgAf.js
  renderer.html
Due: none

feat(MVA): 21729 Allow creating MVA layers with just Label (Text) dimension (#1153)
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/constants.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/createMonochromeFillSpec.ts
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
Due: Core Logic, Features

Version 2.53.0
  package.json
Due: none

Version 2.53.0 (#1167)
  package.json
Due: none

chore(15369): align config format with code
  .github/workflows/pr-preview.yml
  configs/config.default.json
  reports_instruction.md
  scripts/build-config-scheme.mjs
  src/core/config/loaders/stageConfigLoader.ts
  src/core/config/types.ts
Due: Core Logic

add docs
  docs/reatom/reatom2-core-guide.md
  docs/reatom/reatom3-core-guide.md
  docs/technical-documentation-guide.md
Due: none

fixes
  docs/reatom/reatom2-core-guide.md
  docs/reatom/reatom3-core-guide.md
Due: none

docs(reatom): 22259 add reatom v2 and v3 docs (#1169)
  docs/reatom/reatom2-core-guide.md
  docs/reatom/reatom3-core-guide.md
  docs/technical-documentation-guide.md
Due: none

feat(layers-panel): 17151 hide deselect button when no layers active
  src/features/layers_panel/atoms/mountedLayersByGroup.ts
  src/features/layers_panel/components/Category/Category.tsx
  src/features/layers_panel/components/DeselectControl/DeselectControl.module.css
  src/features/layers_panel/components/DeselectControl/DeselectControl.tsx
  src/features/layers_panel/components/Group/Group.tsx
  src/features/layers_panel/hooks/useMountedLayersByGroup.ts
  src/features/layers_panel/readme.md
Due: Features

fix(ui): remove panel dividers
  src/components/Panel/styles.module.css
  src/components/PanelSettingsRow/PanelSettingsRow.module.css
  src/features/layer_features_panel/components/LayerFeaturesCard/LayerFeaturesCard.module.css
Due: UI Components, Features

fix(layer_features_panel): remove card dividers
  src/features/layer_features_panel/components/LayerFeaturesCard/LayerFeaturesCard.module.css
  src/features/layer_features_panel/components/LayerFeaturesPanel/LayerFeaturesPanel.module.css
Due: Features

fix(ui): remove panel header divider
  src/components/Panel/styles.module.css
Due: UI Components

feat(auth): add google login button
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/LoginForm/LoginForm.module.css
  src/features/user_profile/components/LoginForm/LoginForm.tsx
  src/features/user_profile/icons/GoogleLogo.tsx
Due: Features

fix(login): reposition Google login and update icon
  src/features/user_profile/components/LoginForm/LoginForm.tsx
  src/features/user_profile/icons/GoogleLogo.tsx
Due: Features

fix(ui): remove panel and card dividers
  src/components/Panel/styles.module.css
  src/features/layer_features_panel/components/LayerFeaturesCard/LayerFeaturesCard.module.css
Due: UI Components, Features

feat(MVA): 21209 Sentiment-based bivariate colors for custom multivariate layers
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/helpers/createBivariateColorsForMVA.ts
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

Fix Google login spacing
  src/features/user_profile/components/LoginForm/LoginForm.module.css
Due: Features

add unit tests
  src/features/multivariate_layer/helpers/createBivariateColorsForMVA.test.ts
  src/features/multivariate_layer/helpers/createBivariateColorsForMVA.ts
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

update tests
  src/features/multivariate_layer/helpers/createBivariateColorsForMVA.test.ts
Due: none

remove export
  src/features/multivariate_layer/helpers/createBivariateColorsForMVA.test.ts
Due: none

feat(MVA): 22302 Don't show units for normalized Label dimensions
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createTextLayerSpecification.ts
Due: Core Logic

feat(live_sensor): show stop label while recording (#1091)
  src/features/live_sensor/index.ts
  src/features/live_sensor/readme.md
Due: Features

Delete src/features/intercom/index.test.ts
  src/features/intercom/index.test.ts
Due: none

fix(intercom): DN2-17967 reset Intercom session on logout (#1084)
  src/core/app/authHooks.ts
  src/core/metrics/externalMetrics/yandexMetrics.ts
  src/features/intercom/index.ts
  src/features/intercom/readme.md
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
Due: Core Logic, Features

feat(event_episodes): 16890 close timeline for single episode (#1108)
  src/features/event_episodes/atoms/autoCloseEpisodesPanel.ts
  src/features/event_episodes/index.tsx
  src/features/event_episodes/model.ts
  src/features/event_episodes/readme.md
Due: Features

fix(state): 18076 apply user default feed (#1112)
  src/core/config/__mocks__/_configMock.ts
  src/core/config/index.ts
  src/core/shared_state/currentEventFeed.test.ts
  src/core/shared_state/currentEventFeed.ts
  src/core/shared_state/eventFeeds.ts
  src/features/events_list/components/FeedSelector/FeedSelector.tsx
  src/features/events_list/readme.md
Due: Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@279f1f773e31a9eefe97b06ca9069a4160a4f131 🚀
  assets/_virtual_cosmos-imports-BDJvE1AE.css
  assets/_virtual_cosmos-imports-BwcItJnH.js
  assets/_virtual_cosmos-imports-C0136iJE.css
  assets/index-CNxZQuM3.js
  renderer.html
Due: none

Delete src/features/focused_geometry_layer/tests/enableOnGeometry.test.ts
  src/features/focused_geometry_layer/tests/enableOnGeometry.test.ts
Due: none

fix(layers): 15478 remember collapsed group state (#1121)
  src/features/layers_panel/atoms/openState.ts
  src/features/layers_panel/components/Category/Category.tsx
  src/features/layers_panel/components/Group/Group.tsx
  src/features/layers_panel/readme.md
Due: Features

feat(layers): 12568 switch on selected area on geometry change (#1119)
  src/features/focused_geometry_layer/index.ts
  src/features/focused_geometry_layer/readme.md
Due: Features

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__test__/**, **/__tests__/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__test__/**, **/__tests__/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__test__/**, **/__tests__/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__test__/**, **/__tests__/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
