Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

feat: format resolution for m/cm/km. Don't show empty fields
  src/features/layer_features_panel/atoms/helpers/openaerialmap.ts
Due: Features

feat: add "Acquisition date" field
  src/features/layer_features_panel/atoms/helpers/openaerialmap.ts
Due: Features

feat: format file size
  src/features/layer_features_panel/atoms/helpers/openaerialmap.ts
Due: Features

feat: add Download button to OAM layer features
  src/features/layer_features_panel/atoms/helpers/openaerialmap.ts
  src/features/layer_features_panel/components/CardElements/ActionButtons.tsx
Due: Features

feat: add "Open in catalog" button placeholder
  src/features/layer_features_panel/atoms/helpers/openaerialmap.ts
Due: Features

fix: change header
  src/features/layer_features_panel/constants.ts
Due: Features

fixes
  src/components/Overlays/Overlays.module.css
  src/components/Overlays/Popover.tsx
Due: UI Components

reports
  docs/investigations/map-popover-tracker-spec.md
  docs/investigations/renderer-tooltips-popups-report.md
Due: none

fix(ui): 21448 organize and refactor popup-related components (#1045)
  docs/investigations/bivariate-matrix-architecture.md
  docs/investigations/map-popover-tracker-spec.md
  docs/investigations/maplibre-migration.md
  docs/investigations/renderer-tooltips-popups-report.md
  docs/investigations/tooltips-popups-current-status-report.md
  package.json
  pnpm-lock.yaml
  src/components/BivariateLegend/BivariateLegend.fixture.tsx
  src/components/BivariateLegend/CornerTooltipWrapper.tsx
  src/components/Floating/Floating.module.css
  src/components/Floating/SimpleRefTooltip.tsx
  src/components/FoldingWrap/FoldingWrap.module.css
  src/components/Layer/useControlElements.tsx
  src/components/LayerInfo/LayerInfo.tsx
  src/components/Overlays/InfoPopover.tsx
  src/components/Overlays/Overlays.fixture.tsx
  src/components/Overlays/Overlays.module.css
  src/components/Overlays/Popover.tsx
  src/components/Overlays/Tooltip.tsx
  src/components/Overlays/index.ts
  src/components/PopupTooltipTrigger/PopupTooltipTrigger.module.css
  src/components/PopupTooltipTrigger/PopupTooltipTrigger.tsx
  src/components/PopupTooltipTrigger/index.ts
  src/features/bivariate_color_manager/components/LegendWithMapContainer/LegendWithMapContainer.tsx
  src/features/bivariate_color_manager/components/SentimentsCombinationsList/CombinationsSublist.tsx
  src/features/bivariate_manager/components/BivariateMatrixContainer/BivariateMatrixContainer.tsx
  src/features/bivariate_manager/components/BivariatePanel/BivariatePanel.tsx
  src/features/bivariate_manager/components/ConnectedBivariateMatrix/ConnectedBivariateMatrix.tsx
  src/features/bivariate_manager/fixtures/BivariateMatrixControl.fixture.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameterRow/MCDALayerParameterRow.module.css
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameterRow/MCDALayerParameterRow.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
  src/features/side_bar/components/SideBar/ToggleButton.tsx
  tsconfig.json
Due: UI Components, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@e6611da5089278e5710b4d1de233569686b2ceba 🚀
  assets/BivariateGreetings-sRpnJKfY.js
  assets/_virtual_cosmos-imports-ByBCb2k3.js
  assets/_virtual_cosmos-imports-DPXE47Al.css
  assets/index-CEhfPoVO.js
  cosmos.fixtures.json
  index.html
  renderer.html
Due: none

fix: catch potential errors in formatDate
  src/features/layer_features_panel/atoms/helpers/openaerialmap.ts
Due: Features

feat(21025): recover create layer user flow
  src/core/localization/translations/en/common.json
  src/core/toolbar/index.ts
  src/features/create_layer/CustomLayerDrawToolsWidget.tsx
  src/features/create_layer/atoms/currentEditedLayerFeatures.ts
  src/features/create_layer/atoms/currentSelectedFeature.ts
  src/features/create_layer/atoms/drawToolsController.ts
  src/features/create_layer/atoms/editableLayerController.ts
  src/features/create_layer/atoms/editableLayersControls.ts
  src/features/create_layer/atoms/editableLayersLegendsAndSources.ts
  src/features/create_layer/components/EditFeatureForm/EditFeatureForm.tsx
  src/features/create_layer/components/EditFeaturesPanel/EditFeaturesPanel.tsx
  src/features/create_layer/components/EditLayerForm/EditLayerForm.tsx
  src/features/create_layer/components/EditLayerPanel/EditLayerPanel.module.css
  src/features/create_layer/constants.ts
  src/features/create_layer/control.ts
  src/features/create_layer/drawToolsControl.ts
  src/features/layers_in_area/atoms/areaLayersControls.ts
Due: Core Logic, Features

feat(Layer Features): 21563 Use maxItems and sortOrder parameters for layers/{layer}/items/search
  src/core/api/layers.ts
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
  src/features/layer_features_panel/types/layerFeaturesPanel.ts
Due: Core Logic, Features

fix report change detection
  src/features/reports/components/ReportInfo/ReportInfo.tsx
Due: Features

fix: prevent pricing redirect when reloading pages
  src/core/router/components/Router.tsx
Due: Core Logic

fix: cancel pending map updates on layer unmount
  src/core/logical_layers/renderers/GenericRenderer.ts
Due: Core Logic

feat: make BBbox filter independent of the panel
  src/features/events_list/components/BBoxFilterToggle/BBoxFilterToggle.tsx
  src/features/events_list/components/EventsPanelSettings/EventsPanelSettings.tsx
Due: Features

refactor: move BBoxFilterToggle to components/
  src/components/BBoxFilterToggle/BBoxFilterToggle.module.css
  src/components/BBoxFilterToggle/BBoxFilterToggle.tsx
  src/features/events_list/components/EventsPanelSettings/EventsPanelSettings.tsx
Due: UI Components, Features

feat: add layerFeaturesFiltersAtom and config parameters
  src/core/api/layers.ts
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
  src/features/layer_features_panel/atoms/layerFeaturesFiltersAtom.ts
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layer_features_panel/types/layerFeaturesPanel.ts
Due: Core Logic, Features

refactor: move PanelSettingsRow to /components. Use it in LayerFeaturesPanel
  src/components/PanelSettingsRow/PanelSettingsRow.module.css
  src/components/PanelSettingsRow/PanelSettingsRow.tsx
  src/features/events_list/components/EventListSettingsRow/EventListSettingsRow.tsx
  src/features/events_list/components/EventsPanelSettings/EventsPanelSettings.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
Due: UI Components, Features

fix: temporarily remove placeholder "open in catalog" button
  src/features/layer_features_panel/atoms/helpers/openaerialmap.ts
Due: Features

refactor: move date formatter from openaerialmap to formatsRegistry
  src/components/Uni/formatsRegistry.ts
  src/features/layer_features_panel/atoms/helpers/openaerialmap.ts
Due: UI Components, Features

refactor: move formatFileSize to formatRegistry
  src/components/Uni/formatsRegistry.ts
  src/features/layer_features_panel/atoms/helpers/openaerialmap.ts
Due: UI Components, Features

refactor: move dates interval and distance per pixel formatters to formatsRegistry
  src/components/Uni/formatsRegistry.ts
  src/features/layer_features_panel/atoms/helpers/openaerialmap.ts
Due: UI Components, Features

feat: combine API parameters into single object
  src/core/api/layers.ts
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
Due: Core Logic, Features

fix: fix requiresGeometry feature parameter
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
  src/features/layer_features_panel/types/layerFeaturesPanel.ts
Due: Features

Version 2.47.0
  package.json
Due: none

Version 2.47.0 (#1053)
  package.json
Due: none

Deploying to gh-pages from @ konturio/disaster-ninja-fe@a2a334bb009e438adc65f5a124efb93b453012f6 🚀
  assets/BivariateGreetings-BErs1YAs.js
  assets/_virtual_cosmos-imports-O-1g3YCu.js
  assets/index-CLPU_bO6.js
  renderer.html
Due: none

feat: show Loading spinner during layer features loading
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
Due: Features

feat: add optional offset parameter to layer features request
  src/core/api/layers.ts
Due: Core Logic

chore: parseFloat -> Number.parseFloat
  src/components/Uni/formatsRegistry.ts
Due: UI Components

fix padding in multiple panel components
  docs/investigations/feature_flag_dependency_report.md
  docs/investigations/panels-report.md
  src/features/events_list/components/EventsPanel/EventsPanel.module.css
  src/features/layer_features_panel/components/LayerFeaturesPanel/LayerFeaturesPanel.module.css
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.module.css
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Features

fix: fix overflowing values in Layer Features panel
  src/features/layer_features_panel/components/CardElements/Table.module.css
Due: Features

fix screenshot readiness event
  src/core/metrics/app-metrics.ts
  src/features/layers_in_area/atoms/areaLayersControls.ts
  src/features/layers_in_area/atoms/layersGlobalResource.ts
Due: Core Logic, Features

feat(Layer Features): 21490 Customize Layer features panel for new openarialmap org (#1048)
  src/components/BBoxFilterToggle/BBoxFilterToggle.module.css
  src/components/BBoxFilterToggle/BBoxFilterToggle.tsx
  src/components/PanelSettingsRow/PanelSettingsRow.module.css
  src/components/PanelSettingsRow/PanelSettingsRow.tsx
  src/components/Uni/formatsRegistry.ts
  src/core/api/layers.ts
  src/features/events_list/components/EventListSettingsRow/EventListSettingsRow.tsx
  src/features/events_list/components/EventsPanelSettings/EventsPanelSettings.tsx
  src/features/layer_features_panel/atoms/helpers/openaerialmap.ts
  src/features/layer_features_panel/atoms/layerFeaturesCollectionAtom.ts
  src/features/layer_features_panel/atoms/layerFeaturesFiltersAtom.ts
  src/features/layer_features_panel/components/CardElements/ActionButtons.tsx
  src/features/layer_features_panel/components/CardElements/CardImage.module.css
  src/features/layer_features_panel/components/CardElements/CardImage.tsx
  src/features/layer_features_panel/components/CardElements/Table.module.css
  src/features/layer_features_panel/components/CardElements/index.ts
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layer_features_panel/constants.ts
  src/features/layer_features_panel/types/layerFeaturesPanel.ts
Due: UI Components, Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@38259d080ff7239f073730eaa2d0f169ac5873c4 🚀
  assets/BivariateGreetings-5QyehjC6.js
  assets/_virtual_cosmos-imports-BOlv4Jw8.js
  assets/index-gj1vkNqo.js
  renderer.html
Due: none

fix(ui): 21588 fix panel resizers
  docs/investigations/feature_flag_dependency_report.md
  docs/investigations/panels-report.md
  src/features/events_list/components/EventsPanel/EventsPanel.module.css
  src/features/layer_features_panel/components/LayerFeaturesPanel/LayerFeaturesPanel.module.css
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.module.css
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@795ec573af422aa89f4d8df0a14b1aedd1d7c159 🚀
  index.html
Due: none

feat(multivariate): 21207 recover Extrusion dimension functionality
  src/components/ConnectedMap/map-libre-adapter/index.tsx
  src/core/localization/translations/en/common.json
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/components/PopupMultivariate.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/createExtrusionLayerSpecification.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/features/multivariate_layer/components/MultivariateLayerEditor/MultivariateLayerEditor.tsx
Due: UI Components, Core Logic, Features

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
