Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'
  - '**/__test__/**'
  - '**/__tests__/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

feat(focused-geometry-editor): add modal for draw or edit
  src/core/localization/gettext/template/common.pot
  src/core/localization/translations/en/common.json
  src/widgets/FocusedGeometryEditor/ChooseEditModeModal.module.css
  src/widgets/FocusedGeometryEditor/ChooseEditModeModal.test.tsx
  src/widgets/FocusedGeometryEditor/ChooseEditModeModal.tsx
  src/widgets/FocusedGeometryEditor/index.ts
Due: UI Components, Core Logic

fix(MCDA): 22397 Don't apply reverse to non-normalized MCDA layer values. Always normalize values for layer style
  src/core/logical_layers/renderers/MCDARenderer/popup.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/calculateLayerPipeline.test.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/calculations.test.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/index.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
Due: Core Logic

fix(events-list): center no disaster message in short panel
  src/features/events_list/components/ShortState/ShortState.module.css
Due: Features

fix(event_list): fix no disaster short state alignment
  src/features/events_list/components/ShortState/ShortState.module.css
Due: Features

fix(search): avoid flex layout on search panel
  src/features/search/styles.module.css
Due: Features

fix(events_list): fix no disaster short state content alignment
  src/features/events_list/components/EventsPanel/EventsPanel.module.css
Due: Features

fix(events): expand event name label width
  src/features/events_list/components/EventsPanel/EventsPanel.module.css
Due: Features

fix(events-list): center empty state placeholders
  src/features/events_list/components/ShortState/ShortState.module.css
Due: Features

fix(events): fit event name label to content
  src/features/events_list/components/EventsPanel/EventsPanel.module.css
Due: Features

fix(events): right-align event name label
  src/features/events_list/components/EventsPanel/EventsPanel.module.css
Due: Features

fix(events): fit event name label to content (#1210)
  src/features/events_list/components/EventsPanel/EventsPanel.module.css
Due: Features

fix(events-list): center empty state content
  src/features/events_list/components/ShortState/ShortState.module.css
Due: Features

feat(toolbar): remove group names and divider
  src/features/toolbar/components/ToolbarContent/ToolbarContent.module.css
  src/features/toolbar/components/ToolbarContent/ToolbarContent.tsx
Due: Features

fix(intercom): move chat icon 8px lower
  src/features/intercom/intercom.css
Due: Features

feat(layer-features-panel): use list icon for hot projects panel
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
Due: Features

feat(reports): make reports translatable
  reports_instruction.md
  src/features/reports/atoms/reportsAtom.ts
  src/features/reports/components/ReportInfo/ReportInfo.tsx
  src/features/reports/components/ReportsList/ReportsList.tsx
  src/features/reports/readme.md
  src/features/reports/utils.test.ts
  src/features/reports/utils.ts
Due: Features

feat(layer-features-panel): use list icon for hot projects panel (#1215)
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
Due: Features

fix(intercom): move chat icon 8px lower (#1214)
  src/features/intercom/intercom.css
Due: Features

fix(events-list): center empty state content (#1212)
  src/features/events_list/components/ShortState/ShortState.module.css
Due: Features

fix(toolbar): unify button spacing
  src/features/toolbar/components/ToolbarContent/ToolbarContent.module.css
  src/features/toolbar/components/ToolbarContent/ToolbarContent.tsx
Due: Features

fix(intercom): use unit vars for chat spacing
  src/features/intercom/intercom.css
Due: Features

style(panel): narrow headers
  docs/investigations/panels-report.md
  src/components/Panel/styles.module.css
  src/features/analytics_panel/index.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layers_panel/index.tsx
  src/features/legend_panel/index.tsx
  src/features/search/index.tsx
  src/features/toolbar/index.tsx
  src/utils/hooks/useShortPanelState.tsx
Due: UI Components, Features, Utilities

fix(subscriptions): localize plan labels
  src/core/localization/translations/en/common.json
  src/features/subscriptions/components/PaymentPlanCard/PaymentPlanCard.tsx
  src/features/subscriptions/components/Price/Price.tsx
  src/features/subscriptions/components/PricingContent/PricingContent.tsx
Due: Features

feat(layer_features_panel): add loading state
  src/core/localization/gettext/ar/common.po
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/de/common.po
  src/core/localization/gettext/es/common.po
  src/core/localization/gettext/id/common.po
  src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/template/common.pot
  src/core/localization/gettext/uk/common.po
  src/core/localization/gettext/zh/common.po
  src/core/localization/translations/en/common.json
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layer_features_panel/readme.md
Due: Core Logic, Features

test(layer-features-panel): cover empty state messages
  src/core/localization/gettext/ar/common.po
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/de/common.po
  src/core/localization/gettext/es/common.po
  src/core/localization/gettext/id/common.po
  src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/template/common.pot
  src/core/localization/gettext/uk/common.po
  src/core/localization/gettext/zh/common.po
  src/core/localization/translations/en/common.json
  src/features/layer_features_panel/components/LayerFeaturesPanel/EmptyState.test.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/EmptyState.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/layer_features_panel/readme.md
Due: Core Logic, Features

feat(layer-features-panel): show hot project details on selection
  src/features/layer_features_panel/layouts/hotProjectsLayout.ts
  src/features/layer_features_panel/readme.md
Due: Features

fix(panel): use existing icons
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/features/toolbar/index.tsx
Due: Features

feat(layers): add zoom control for focused and reference areas
  src/components/Layer/ZoomToControl/ZoomToControl.tsx
  src/components/Layer/useControlElements.tsx
  src/core/localization/gettext/template/common.pot
  src/core/localization/translations/en/common.json
Due: UI Components, Core Logic

test(layers): cover HOT project selection extras
  src/features/layer_features_panel/layouts/hotProjectsLayout.test.ts
  src/features/layer_features_panel/layouts/hotProjectsLayout.ts
Due: Features

fix(search): 22291 clear highlight on selection
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/constants.ts
  src/features/search/searchAtoms.ts
  src/features/search/tests/searchAtoms.test.ts
Due: Features

feat(new-analysis): 22258 add new analysis mode
  docs/new-analysis.md
  src/core/app/types.ts
  src/core/localization/gettext/ar/common.po
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/de/common.po
  src/core/localization/gettext/es/common.po
  src/core/localization/gettext/id/common.po
  src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/template/common.pot
  src/core/localization/gettext/uk/common.po
  src/core/localization/gettext/zh/common.po
  src/core/localization/translations/en/common.json
  src/core/router/routes.tsx
  src/views/NewAnalysis/NewAnalysis.module.css
  src/views/NewAnalysis/NewAnalysis.tsx
Due: UI Components, Core Logic

fix(new-analysis): polish translations and page logic
  src/core/localization/gettext/ar/common.po
  src/core/localization/gettext/be/common.po
  src/core/localization/gettext/de/common.po
  src/core/localization/gettext/es/common.po
  src/core/localization/gettext/id/common.po
  src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/template/common.pot
  src/core/localization/gettext/uk/common.po
  src/core/localization/gettext/zh/common.po
  src/core/localization/translations/en/common.json
  src/core/router/routes.tsx
  src/views/NewAnalysis/NewAnalysis.tsx
Due: UI Components, Core Logic

fix(new-analysis): use i18n instance language
  src/views/NewAnalysis/NewAnalysis.tsx
Due: UI Components

fix(layer-features-panel): show tasking manager link only when selected
  src/features/layer_features_panel/layouts/hotProjectsLayout.ts
Due: Features

test(legend): add line rendering test
  src/components/SimpleLegend/icons/CircleIcon.test.tsx
  src/components/SimpleLegend/icons/CircleIcon.tsx
Due: UI Components

feat(events-list): 16777 add shield component files
  src/components/Uni/Components/DisasterShield.module.css
  src/components/Uni/Components/DisasterShield.test.tsx
  src/components/Uni/Components/DisasterShield.tsx
  src/components/Uni/componentsRegistry.ts
  src/core/types/index.ts
  src/features/events_list/components/EventsPanel/eventLayouts.ts
  src/features/events_list/readme.md
Due: UI Components, Core Logic, Features

fix(map): allow Kontur basemap switching
  src/core/logical_layers/renderers/GenericRenderer.test.ts
  src/core/logical_layers/renderers/GenericRenderer.ts
Due: Core Logic

test(legend): cover letter icon rendering
  src/components/SimpleLegend/SimpleLegend.test.tsx
  src/components/SimpleLegend/SimpleLegend.tsx
  src/components/SimpleLegend/icons/CircleIcon.test.tsx
  src/components/SimpleLegend/icons/CircleIcon.tsx
  src/components/SimpleLegend/icons/LetterIcon.tsx
Due: UI Components

fix(mcda): add layer visibility toggle
  src/core/logical_layers/renderers/MCDARenderer/popup.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.test.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/mcdaStyle.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/types.ts
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
  src/features/mcda/readme.md
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
  src/features/multivariate_layer/helpers/createStepsForMCDADimension.ts
  src/utils/mcda/createMCDALayersFromBivariateAxes.ts
  src/utils/mcda/getDirectAndReversedMCDALayers.ts
Due: Core Logic, Features, Utilities

feat(events_list): add disaster panel filters
  src/core/localization/gettext/template/common.pot
  src/core/localization/translations/en/common.json
  src/features/events_list/atoms/sortedEventList.ts
  src/features/events_list/components/EventsPanelSettings/EventFilters.tsx
  src/features/events_list/components/EventsPanelSettings/EventsPanelSettings.tsx
  src/features/events_list/helpers/localEventFilters.test.ts
  src/features/events_list/helpers/localEventFilters.ts
  src/features/events_list/readme.md
  src/features/events_list/types.ts
Due: Core Logic, Features
