Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

Add mcda legend subtitle to translations
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/core/localization/translations/en/common.json
Due: UI Components

Use icons from ui-kit
  package.json
  pnpm-lock.yaml
  src/components/MultivariateLegend/ExtrusionStepsLegend.tsx
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/MultivariateLegend/icons/3d_legend_high.svg
  src/components/MultivariateLegend/icons/3d_legend_low.svg
  src/components/MultivariateLegend/icons/3d_legend_med.svg
  src/components/MultivariateLegend/icons/text_legend_icon.svg
Due: UI Components

Refactor in SimpleLegend
  src/components/SimpleLegend/SimpleLegend.tsx
  src/core/logical_layers/types/legends.ts
Due: UI Components, Core Logic

feat: Labels (text) legend
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

rename DimensionStep -> MultivariateLegendStep
  src/components/MultivariateLegend/ExtrusionStepsLegend.tsx
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/MultivariateLegend/MultivariateLegendStep.module.css
  src/components/MultivariateLegend/MultivariateLegendStep.tsx
  src/components/MultivariateLegend/OpacityStepsLegend.tsx
Due: UI Components

feat: OpacityStepsLegend
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/OpacityStepsLegend/OpacityStepsLegend.tsx
  src/core/logical_layers/renderers/stylesConfigs/mcda/calculations/index.ts
Due: UI Components, Core Logic

Revert changes in SimpleLegend
  src/components/SimpleLegend/SimpleLegend.module.css
  src/components/SimpleLegend/SimpleLegend.tsx
  src/core/logical_layers/types/legends.ts
Due: UI Components, Core Logic

Slightly different margin top on normal sized icons
  src/components/SimpleLegend/SimpleLegend.module.css
Due: UI Components

Enable grayscale filter for extrusion and opacity legends if there's no color layers in config
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

Extract getDirectAndReversedMCDALayers into function
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/OpacityStepsLegend/OpacityStepsLegend.tsx
  src/utils/mcda/getDirectAndReversedMCDALayers.ts
Due: UI Components, Utilities

Add multiline text support to SimpleLegendStep
  src/components/SimpleLegend/SimpleLegend.module.css
  src/components/SimpleLegend/SimpleLegend.tsx
Due: UI Components

Add text icon to Text dimension legend
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/MultivariateLegend/icons/3d_legend_high.svg
  src/components/MultivariateLegend/icons/3d_legend_low.svg
  src/components/MultivariateLegend/icons/3d_legend_med.svg
  src/components/MultivariateLegend/icons/text_legend_icon.svg
Due: UI Components

Better margins
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
Due: UI Components

feat(translations): 22048 add chinese language to profile on kontur apps and fix translations to belarussian and russian (#1150)
  src/core/localization/TranslationService.ts
  src/core/localization/gettext/ar/common.po
  src/core/localization/gettext/de/common.po
  src/core/localization/gettext/es/common.po
  src/core/localization/gettext/id/common.po
  src/core/localization/gettext/ko/common.po
  src/core/localization/gettext/ru/common.po
  src/core/localization/gettext/template/common.pot
  src/core/localization/gettext/uk/common.po
  src/core/localization/gettext/zh/common.po
  src/core/localization/translations/en/common.json
  src/features/user_profile/components/SettingsForm/constants.ts
Due: Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@d7713c0d9f084b0fc33e7fd43e946bb15397b309 🚀
  assets/_virtual_cosmos-imports-Bx26zgcE.js
  assets/index-DRd0wlT8.js
  renderer.html
Due: none

fix(intercom): DN2-17967 deduplicate session cleanup
  src/features/intercom/index.test.ts
  src/features/intercom/index.ts
Due: Features

Change .gitattributes to allow diffs for all files to work around codex issues
  .gitattributes
Due: none

chore(deps): update package versions
  package.json
Due: none

Fix rabbit comments
  src/components/MultivariateLegend/ExtrusionLegend.module.css
  src/components/MultivariateLegend/ExtrusionStepsLegend.tsx
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/components/MultivariateLegend/MultivariateLegendStep.tsx
  src/components/MultivariateLegend/OpacityStepsLegend.tsx
Due: UI Components

fix(toolbar): 17452 hide tooltips in expanded state
  e2e/page-objects/toolBar.ts
  e2e/toolBarTexts.spec.ts
  e2e/toolBarTextsWithPro.spec.ts
  e2e/toolBarTextsWithUser.spec.ts
  src/features/toolbar/components/ToolbarButton/ToolbarButton.tsx
  src/features/toolbar/readme.md
Due: Features

Remove unused method from Metric interface
  src/core/metrics/externalMetrics/matomoMetrics.test.ts
  src/core/metrics/externalMetrics/matomoMetrics.ts
  src/core/metrics/types.ts
Due: Core Logic

Remove unnecessary exported property
  src/core/metrics/index.ts
Due: Core Logic

Update Matomo container URL
  configs/config.default.json
Due: none

Delete unit test
  src/core/metrics/externalMetrics/matomoMetrics.test.ts
Due: none

remove readme.md
  src/core/metrics/readme.md
Due: Core Logic

chore(package): add pnpm version requirement to package.json
  package.json
Due: none

fix(pages): 22226 maintain aspect ratio for embedded videos
  src/core/pages/MarkdownMedia.test.tsx
  src/core/pages/MarkdownMedia.tsx
  src/core/pages/pages.css
  src/core/pages/readme.md
Due: Core Logic

fix(toolbar): 22253 align tooltips with button names
  src/features/boundary_selector/control.ts
  src/features/create_layer/control.ts
  src/features/geometry_uploader/index.tsx
  src/features/live_sensor/index.ts
  src/features/map_ruler/index.tsx
  src/features/osm_edit_link/index.tsx
Due: Features

Update index.ts
  src/features/live_sensor/index.ts
Due: Features

correct button names in English
  src/core/localization/gettext/template/common.pot
  src/core/localization/translations/en/common.json
Due: Core Logic

change button names in english
  src/core/localization/translations/en/common.json
Due: none

Update src/core/localization/translations/en/common.json
  src/core/localization/translations/en/common.json
Due: none

feat(ci): 21190 cache docker layers
  .github/workflows/build.yml
Due: none

fix(ci): 21190 isolate build cache per branch
  .github/workflows/build.yml
Due: none

chore(package): add pnpm v9 version requirement to package.json (#1158)
  package.json
Due: none

Remove unused sidebar texts
  src/core/localization/translations/en/common.json
Due: none

fix(toolbar): 22253 show default tooltips except MCDA
  src/features/toolbar/components/ShortToolbarButton/ShortToolbarButton.tsx
  src/features/toolbar/components/ToolbarButton/ToolbarButton.tsx
  src/features/toolbar/components/ToolbarControl/ToolbarControl.tsx
Due: Features

fix(toolbar): 22253 show tooltip on locate me
  src/features/boundary_selector/control.ts
  src/features/create_layer/control.ts
  src/features/geometry_uploader/index.tsx
  src/features/live_sensor/index.ts
  src/features/locate_me/LocateMeButton.tsx
  src/features/map_ruler/index.tsx
  src/features/osm_edit_link/index.tsx
Due: Features
