Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: 8%
          threshold: 1%
        - type: patch
          target: 15%
          threshold: 2%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: 25%
          threshold: 1%
        - type: patch
          target: 35%
          threshold: 2%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: 15%
          threshold: 1%
        - type: patch
          target: 25%
          threshold: 2%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: 20%
          threshold: 1%
        - type: patch
          target: 30%
          threshold: 2%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

refactor: simplify old currentMapPositionAtom, update useMapPositionSync and ConnectedMap to use v3 actions
  src/components/ConnectedMap/map-libre-adapter/index.tsx
  src/components/ConnectedMap/useMapPositionSync.ts
  src/core/shared_state/currentMapPosition.ts
  src/core/url_store/atoms/urlStore.ts
Due: UI Components, Core Logic

chore: rename currentMapPositionAtom -> currentMapPositionAtomV2
  src/core/shared_state/currentMapPosition.ts
  src/core/shared_state/index.ts
  src/core/url_store/atoms/urlStore.ts
Due: Core Logic

chore: rename new atom -> currentMapPositionAtom
  src/components/ConnectedMap/map-libre-adapter/index.tsx
  src/core/shared_state/currentMapPosition.ts
  src/features/breadcrumbs/atoms/initSubscriptionToPositionChange.ts
  src/features/osm_edit_link/index.tsx
Due: UI Components, Core Logic, Features

fix(20056): fix updating feature layers after deleting the Selected Area (#907)
  src/core/bivariate/createBivariateGraphQLQuery.test.ts
  src/core/bivariate/createBivariateGraphQLQuery.ts
  src/core/resources/bivariateStatisticsResource/index.ts
  src/features/bivariate_manager/components/BivariateMatrixContainer/BivariateMatrixContainer.tsx
  src/features/layers_in_area/atoms/areaLayersDetailsResource/areaLayersDetailsParamsAtom.ts
  src/utils/geoJSON/helpers.test.ts
  src/utils/geoJSON/helpers.ts
  src/widgets/FocusedGeometryEditor/index.ts
Due: UI Components, Core Logic, Features, Utilities

Deploying to gh-pages from @ konturio/disaster-ninja-fe@c42c6edf553d5c54cdd72a966551dacf8ce80e82 🚀
  assets/BivariateGreetings-BiDzfi2-.js
  assets/_virtual_cosmos-imports-jG29wM1x.js
  assets/index-CfnLSfL-.js
  renderer.html
Due: none

chore: small renaming
  src/core/url_store/atoms/urlStore.ts
Due: Core Logic

review fixes, doc updates
  src/components/Layout/Article/Article.module.css
  src/core/pages/MarkdownLink.tsx
  src/core/pages/PagesDocument.fixture.tsx
  src/core/pages/PagesDocument.tsx
  src/core/pages/linkUtils.ts
  src/core/pages/pages.css
  src/core/pages/readme.md
  src/global.css
  src/styles/global-pages.css
  src/styles/reset.css
  vite.config.ts
Due: UI Components, Core Logic

refactor(19713):make intercom non optional cookie
  src/features/intercom/index.ts
Due: Features

Version 2.36.1
  package.json
Due: none

Version 2.36.1 (#912)
  package.json
Due: none

refactor(19713):make intercom non optional cookie (#911)
  src/features/intercom/index.ts
Due: Features

fix(feature flags): 20294 Apply local feature flag overrides to configRepo
  src/core/config/loaders/appConfigLoader.ts
Due: Core Logic

chore: useAction in useMapPositionSync
  src/components/ConnectedMap/useMapPositionSync.ts
Due: UI Components

chore: useAction in MapboxMap
  src/components/ConnectedMap/map-libre-adapter/index.tsx
Due: UI Components

fix(feature flags): 20294 Apply local feature flag overrides to configRepo (#913)
  src/core/config/loaders/appConfigLoader.ts
Due: Core Logic

feat(mv layer): add control button for uploading multivariate layer
  src/core/localization/translations/en/common.json
  src/core/logical_layers/renderers/GenericRenderer.ts
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/mockStyles.ts
  src/core/logical_layers/renderers/MultivariateRenderer/mocks/bivariate_legend_steps.ts
  src/core/logical_layers/renderers/MultivariateRenderer/mocks/mcda_elevation.ts
  src/core/logical_layers/renderers/MultivariateRenderer/mocks/mcda_population.ts
  src/core/logical_layers/renderers/MultivariateRenderer/mocks/mock_single_mcda.json
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/types.ts
  src/core/logical_layers/renderers/stylesConfigs/multivariate/multivariateStyle.ts
  src/core/logical_layers/types/style.ts
  src/core/toolbar/index.ts
  src/features/multivariate_layer/constants.ts
  src/features/multivariate_layer/helpers/multivariateLayerActions.ts
  src/features/multivariate_layer/helpers/pickMultivariateFile.ts
  src/features/multivariate_layer/index.ts
  src/utils/atoms/v3tov2.ts
  src/utils/file/pickJSONFile.ts
  src/utils/file/readTextFile.ts
  src/views/Map/Map.tsx
Due: UI Components, Core Logic, Features, Utilities

chore: update types in mountMCDALayer() and addMCDAPopup in BivariateRenderer
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
Due: Core Logic

refactor(20295): remove featureFlagsAtom
  src/components/Layer/EditControl/EditControl.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/shared_state/featureFlags.ts
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/components/FeedSelector/index.tsx
  src/features/events_list/components/FullState/FullState.tsx
  src/views/About/About.tsx
  src/views/CommonView.tsx
Due: UI Components, Core Logic, Features

feat: Add abstract ClickableTilesRenderer. Use MultivariateRenderer. Render multivariate layers with base and strength
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableTilesRenderer/ClickableTilesRenderer.tsx
  src/core/logical_layers/renderers/ClickableTilesRenderer/activeAndHoverFeatureStates.ts
  src/core/logical_layers/renderers/ClickableTilesRenderer/constants.ts
  src/core/logical_layers/renderers/ClickableTilesRenderer/featureVisibilityCheck.ts
  src/core/logical_layers/renderers/ClickableTilesRenderer/index.ts
  src/core/logical_layers/renderers/MCDARenderer/popup.ts
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/mocks/mock_base_mcda_strength_mcda.json
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
  src/core/logical_layers/renderers/stylesConfigs/mcda/types.ts
  src/features/mcda/components/MCDALayerEditor/index.tsx
  src/features/multivariate_layer/helpers/multivariateLayerActions.ts
Due: Core Logic, Features

feat: stub for adding label (currently not working because of CORS)
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
Due: Core Logic

refactor(20295): remove featureFlag constant
  src/components/ConnectedMap/ConnectedMap.tsx
  src/components/Layer/EditControl/EditControl.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/shared_state/featureFlags.ts
  src/core/shared_state/index.ts
  src/core/shared_state/referenceArea.ts
  src/features/advanced_analytics_panel/readme.md
  src/features/events_list/components/BBoxFilterToggle/BBoxFilterToggle.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/components/FeedSelector/index.tsx
  src/features/events_list/components/FullState/FullState.tsx
  src/features/layer_features_panel/readme.md
  src/features/layers_panel/readme.md
  src/features/search/searchMcdaAtoms.ts
  src/features/side_bar/readme.md
  src/features/subscriptions/providers/PaymentsProvider.tsx
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
  src/views/About/About.tsx
  src/views/CommonView.tsx
  src/views/Map/Map.tsx
  src/views/Pricing/Pricing.tsx
Due: UI Components, Core Logic, Features

feat: add extrusion and text layers
  src/components/ConnectedMap/map-libre-adapter/index.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/mocks/mock_base_mcda_strength_mcda.json
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
  src/core/logical_layers/renderers/stylesConfigs/index.ts
Due: UI Components, Core Logic

refactor(20295): remove old featureFlagsAtom (#914)
  src/components/ConnectedMap/ConnectedMap.tsx
  src/components/Layer/EditControl/EditControl.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/shared_state/featureFlags.ts
  src/core/shared_state/index.ts
  src/core/shared_state/referenceArea.ts
  src/features/advanced_analytics_panel/readme.md
  src/features/events_list/components/BBoxFilterToggle/BBoxFilterToggle.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/components/FeedSelector/index.tsx
  src/features/events_list/components/FullState/FullState.tsx
  src/features/layer_features_panel/readme.md
  src/features/layers_panel/readme.md
  src/features/search/searchMcdaAtoms.ts
  src/features/side_bar/readme.md
  src/features/subscriptions/providers/PaymentsProvider.tsx
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
  src/views/About/About.tsx
  src/views/CommonView.tsx
  src/views/Map/Map.tsx
  src/views/Pricing/Pricing.tsx
Due: UI Components, Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@e68a97f2b063c3bc78225c406a0f35f38f6a6625 🚀
  assets/BivariateGreetings-BF4EhTGd.js
  assets/_virtual_cosmos-imports-3-HzUdEZ.js
  assets/index-QbaOQbL6.js
  renderer.html
Due: none

feat: add format string for label axis
  src/core/logical_layers/renderers/MultivariateRenderer/MultivariateRenderer.tsx
  src/core/logical_layers/renderers/MultivariateRenderer/helpers/formatMaplibreString.ts
  src/core/logical_layers/renderers/MultivariateRenderer/types.ts
Due: Core Logic

bugfix(20332): fix banner text depending on feature enabled
  src/core/localization/translations/en/common.json
  src/features/search/componets/SearchBar/SearchBar.tsx
Due: Features

review fixed
  src/core/pages/MarkdownContent.tsx
  src/core/pages/PagesDocument.tsx
Due: Core Logic

feat(tiles): 20269 set fallback max zoom for bivariate tiles to 14 (#908)
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/BivariateRenderer/constants.ts
  src/features/mcda/atoms/mcdaLayer.ts
Due: Core Logic, Features

refactor(20295): remove old featureFlagsAtom (#914)
  src/components/ConnectedMap/ConnectedMap.tsx
  src/components/Layer/EditControl/EditControl.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/shared_state/featureFlags.ts
  src/core/shared_state/index.ts
  src/core/shared_state/referenceArea.ts
  src/features/advanced_analytics_panel/readme.md
  src/features/events_list/components/BBoxFilterToggle/BBoxFilterToggle.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/events_list/components/FeedSelector/index.tsx
  src/features/events_list/components/FullState/FullState.tsx
  src/features/layer_features_panel/readme.md
  src/features/layers_panel/readme.md
  src/features/search/searchMcdaAtoms.ts
  src/features/side_bar/readme.md
  src/features/subscriptions/providers/PaymentsProvider.tsx
  src/features/user_profile/components/SettingsForm/SettingsForm.tsx
  src/views/CommonView.tsx
  src/views/Map/Map.tsx
  src/views/Pricing/Pricing.tsx
Due: UI Components, Core Logic, Features

deps
  package.json
  pnpm-lock.yaml
Due: none

bugfix(20332): fix banner text depending on feature enabled (#915)
  src/core/localization/translations/en/common.json
  src/features/search/componets/SearchBar/SearchBar.tsx
Due: Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@434f90b5e14d37e805482676b8b426a7b6bac2f9 🚀
  assets/BivariateGreetings-DJpImc6Q.js
  assets/_virtual_cosmos-imports-CHOuRYme.js
  assets/index-DxEPe6cC.js
  renderer.html
Due: none

fix(core): 19724 customization, markdown, css processing updates (merged) (#916)
  package.json
  pnpm-lock.yaml
  src/components/Layout/Article/Article.module.css
  src/components/Layout/Article/Article.tsx
  src/core/pages/MarkdownContent.tsx
  src/core/pages/MarkdownLink.tsx
  src/core/pages/MarkdownMedia.tsx
  src/core/pages/PagesDocument.fixture.tsx
  src/core/pages/PagesDocument.tsx
  src/core/pages/StructuredMarkdownRender.fixture.tsx
  src/core/pages/__mocks__/_.css
  src/core/pages/__mocks__/_.md
  src/core/pages/__mocks__/_about.md
  src/core/pages/__mocks__/_landing.css
  src/core/pages/customization.md
  src/core/pages/hypermedia.tsx
  src/core/pages/index.tsx
  src/core/pages/linkUtils.ts
  src/core/pages/pages.css
  src/core/pages/readme.md
  src/core/pages/structuredMarkdown.test.tsx
  src/core/pages/structuredMarkdown.tsx
  src/core/router/routes.tsx
  src/features/llm_analytics/components/LLMAnalyticsContainer/LLMAnalyticsContainer.tsx
  src/features/subscriptions/Plans.fixture.tsx
  src/features/subscriptions/components/PricingContent/PricingContent.tsx
  src/global.css
  src/styles/global-map.css
  src/styles/reset.css
  src/views/About/About.tsx
  vite.config.ts
Due: UI Components, Core Logic, Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@be2515a02da00fdec627a37d9d6fe7dccc067983 🚀
  assets/BivariateGreetings-D6zTt1iq.js
  assets/_virtual_cosmos-imports-VpAwpg_l.css
  assets/_virtual_cosmos-imports-fgOMVILq.js
  assets/index-B3UwT6Kj.js
  cosmos.fixtures.json
  index.html
  renderer.html
Due: none

fix
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: none

fix(build): disable manual chunks
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: none
