Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

codecov.yml:

component_management:
  individual_components:
    - component_id: ui
      name: UI Components
      paths:
        - src/components/**
        - src/widgets/**
        - src/views/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

    - component_id: core
      name: Core Logic
      paths:
        - src/core/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

    - component_id: features
      name: Features
      paths:
        - src/features/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**
      statuses:
        - type: project
          target: auto
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

github_checks:
  annotations: false

comment:
  layout: 'condensed_header, diff, components, condensed_files, condensed_footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

bundle_analysis:
  status: 'informational'

ignore:
  # Config files
  - '**/*.json'
  - 'configs'
  - 'cosmos'
  - 'patches'
  - 'scripts'
  - 'vite.proxy.ts'
  - 'vite.config.ts'
  - 'postcss.config.ts'
  - 'i18next-scanner.config.cjs'
  - 'cosmos.vite.config.ts'
  - '.dependency-cruiser.cjs'

  # Test-related files
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**'
  - '**/test/**'
  - '**/testing/**'
  - '**/vitest/**'
  - '**/__test__/**'
  - '**/__tests__/**'

  # Mock files
  - '**/__mocks__/**'
  - '**/mocks/**'
  - '**/*.mock.ts'
  - '**/*.mock.tsx'

  # Fixture files
  - '**/__fixtures__/**'
  - '**/fixtures/**'
  - '**/*.fixture.ts'
  - '**/*.fixture.tsx'

  # Test utilities
  - '**/test-utils/**'
  - '**/testUtils/**'
  - '**/*.test-utils.ts'
  - '**/*.test-utils.tsx'

feat(panels): 18136 persist panel and layer state
  src/core/app/postAppInit.ts
  src/core/panels_state/index.ts
  src/core/panels_state/readme.md
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/utils/hooks/useShortPanelState.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Core Logic, Features, Utilities

feat(panel): 0000 allow resizing via bottom edge
  docs/investigations/panels-report.md
  src/components/Panel/Panel.tsx
  src/components/Panel/index.ts
  src/components/Panel/styles.module.css
  src/features/breadcrumbs/BreadcrumbsPanel.tsx
  src/features/create_layer/components/EditFeaturesPanel/EditFeaturesPanel.tsx
  src/features/create_layer/components/EditLayerPanel/EditLayerPanel.tsx
  src/features/event_episodes/components/EpisodesTimelinePanel/EpisodesTimelinePanel.tsx
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Features

feat(toolbar): 99999 make toolbar draggable and wrap buttons
  src/features/toolbar/components/ToolbarContent/ToolbarContent.module.css
  src/features/toolbar/readme.md
  src/utils/hooks/useDraggablePosition.tsx
  src/views/Map/Map.tsx
  src/widgets/DraggableContainer/DraggableContainer.module.css
  src/widgets/DraggableContainer/DraggableContainer.tsx
  src/widgets/DraggableContainer/index.tsx
Due: UI Components, Features, Utilities

feat(toolbar): 99999 drag by header and padding
  src/features/toolbar/readme.md
  src/widgets/DraggableContainer/DraggableContainer.module.css
  src/widgets/DraggableContainer/DraggableContainer.tsx
Due: UI Components, Features

feat(panels): 18136 persist panel sizes and states
  docs/investigations/panels-report.md
  src/core/panels_state/index.ts
  src/core/panels_state/readme.md
  src/features/events_list/components/EventsPanel/EventsPanel.tsx
  src/features/layer_features_panel/components/LayerFeaturesPanel/index.tsx
  src/utils/hooks/useResizer.tsx
  src/widgets/FullAndShortStatesPanelWidget/components/FullAndShortStatesPanelWidget.tsx
Due: UI Components, Core Logic, Features, Utilities

sync: Synced local 'AGENTS.md' with remote 'AGENTS.md'
  AGENTS.md
Due: none

sync: Synced local 'AGENTS.md' with remote 'AGENTS.md' (#1193)
  AGENTS.md
Due: none

fix(events-list): 18556 do not autoselect event on feed change (#1184)
  src/features/events_list/components/FeedSelector/FeedSelector.tsx
  src/features/events_list/readme.md
Due: Features

feat(search): 22291 highlight hovered result geometry
  src/features/search/atoms/highlightedGeometry.ts
  src/features/search/componets/SearchBar/SearchBar.tsx
  src/features/search/constants.ts
  src/features/search/index.tsx
  src/features/search/initSearchHighlightLayer.ts
  src/features/search/readme.md
  src/features/search/renderers/SearchHighlightRenderer.ts
  src/features/search/searchLocationAtoms.ts
Due: Features

test(search): 22291 add unit test for highlighted atom
  src/features/search/tests/highlightedAtom.test.ts
Due: none

chore(breadcrumbs): fix lint issues
  docs/todo.md
  package.json
  pnpm-lock.yaml
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.test.ts
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.ts
  src/features/breadcrumbs/atoms/getBreadcrumbsForPoint.test.ts
  src/features/breadcrumbs/atoms/getBreadcrumbsForPoint.ts
Due: Features

test(breadcrumbs): fix helper import
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.test.ts
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.ts
Due: Features

fix(search): 22291 clean highlight layer lifecycle
  src/features/search/constants.ts
  src/features/search/index.tsx
  src/features/search/initSearchHighlightLayer.ts
  src/features/search/readme.md
Due: Features

fix(breadcrumbs): adjust helper import and document queue
  docs/todo.md
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.test.ts
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.ts
Due: Features

fix(breadcrumbs): avoid cache mutations
  docs/todo.md
  src/features/breadcrumbs/atoms/getBreadcrumbsForPoint.ts
Due: Features

fix(search): 22291 clean highlight layer cleanup
  src/features/search/initSearchHighlightLayer.ts
Due: Features

test(search): 22291 broaden highlighted atom cases
  src/features/search/tests/highlightedAtom.test.ts
Due: none

test(breadcrumbs): cover edge cases
  src/features/breadcrumbs/atoms/breadcrumbsItemsAtom.test.ts
Due: none

chore(docs): remove obsolete todo notes
  AGENTS.md
  docs/todo.md
Due: none

feat(breadcrumbs): indicate loading with trailing separator
  AGENTS.md
  src/features/breadcrumbs/BreadcrumbsPanel.tsx
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.test.tsx
  src/features/breadcrumbs/components/Breadcrumbs/Breadcrumbs.tsx
  src/features/breadcrumbs/hooks/useBreadcrumbsItems.ts
Due: Features

test(search): 22291 add coverage for search features
  src/features/search/tests/initSearchHighlightLayer.test.ts
  src/features/search/tests/searchLocationAtoms.test.ts
Due: none

test(coverage): 9999 cover external calls
  .husky/pre-commit
  README.md
  docs/coverage-validator.md
  package.json
  scripts/coverage/externalCoverageValidator.mjs
  src/components/BivariateLegend/BivariateLegend.test.tsx
  src/components/BivariateLegend/CornerTooltipWrapper.test.tsx
  src/components/Overlays/Popover.test.tsx
  src/core/shared_state/currentNotifications.test.ts
  src/createRoot.test.tsx
  src/features/live_sensor/toSnapshotFormat.test.ts
  src/react-lazily.test.tsx
  src/utils/hooks/useAutoCollapsePanel.test.tsx
  src/utils/hooks/useMediaQuery.test.tsx
  src/utils/hooks/useOutsideClick.test.tsx
  src/utils/mcda/generateMCDAId.test.ts
  src/webmanifest.test.ts
Due: none

Update src/features/layers_panel/components/DeselectControl/DeselectControl.tsx
  src/features/layers_panel/components/DeselectControl/DeselectControl.tsx
Due: Features

feat(layers-panel): 17151 disable deselect button if no layers (#1135)
  src/features/intercom/index.ts
  src/features/layers_panel/atoms/mountedLayersByCategory.ts
  src/features/layers_panel/atoms/mountedLayersByGroup.ts
  src/features/layers_panel/atoms/openState.ts
  src/features/layers_panel/components/Category/Category.tsx
  src/features/layers_panel/components/DeselectControl/DeselectControl.module.css
  src/features/layers_panel/components/DeselectControl/DeselectControl.tsx
  src/features/layers_panel/components/Group/Group.tsx
Due: Features

extract zooming to geometry into a function
  src/widgets/FocusedGeometryEditor/index.ts
Due: UI Components

replace || with ??
  src/widgets/FocusedGeometryEditor/index.ts
Due: UI Components

feat(focused-geometry-editor): 13364 zoom to area on edit (#1123)
  src/widgets/FocusedGeometryEditor/index.ts
  src/widgets/FocusedGeometryEditor/readme.md
Due: UI Components

Revert "feat(ci): 21190 cache docker layers (#1161)"
  .dockerignore
  .github/workflows/build.yml
  Dockerfile
  server/main.go
Due: none

Revert "fix(workflows): no-ticket set up buildx (#1183)"
  .github/workflows/build.yml
Due: none

Revert "feat(ci): 21190 cache docker layers" (#1197)
  .dockerignore
  .github/workflows/build.yml
  Dockerfile
  server/main.go
Due: none

feat(MVA): 22236 Update bivariate legend component for Multivariate legend (#1188)
  package.json
  pnpm-lock.yaml
  src/components/MultivariateLegend/MultivariateLegend.module.css
  src/components/MultivariateLegend/MultivariateLegend.tsx
  src/features/mcda/components/MCDALayerEditor/MCDALayerParameters/MCDALayerParameters.tsx
  src/features/mcda/components/MCDALayerEditor/Sentiments.tsx
  src/utils/mcda/mcdaLegendsUtils.ts
Due: UI Components, Features, Utilities

fix(MultivariateAnalysisForm): 22367 fix updating bivariate steps in MVA config after it was updated once (#1189)
  src/features/multivariate_layer/components/MultivariateAnalysisForm/MultivariateAnalysisForm.tsx
  src/features/multivariate_layer/helpers/createMultivariateConfig.ts
Due: Features

Deploying to gh-pages from @ konturio/disaster-ninja-fe@3806f8669ca34ce4c3cb565bb3e0736e5fb1b489 🚀
  assets/_virtual_cosmos-imports-DTYNlgHM.js
  assets/_virtual_cosmos-imports-DXvvuHQg.css
  assets/index-B5TwU4Cz.js
  renderer.html
Due: none

Version 2.54.0
  package.json
Due: none

Version 2.54.0 (#1198)
  package.json
Due: none

fix(layers): auto-enable event shape on selection
  src/features/current_event/atoms/currentEventGeometry.ts
  src/features/current_event/readme.md
Due: Features

fix(current-event): auto-enable event layer
  src/features/current_event/atoms/currentEventRefresher.ts
  src/features/current_event/readme.md
Due: Features

fix(events_list): keep url event from unlisted feeds
  src/features/events_list/atoms/eventListResource.ts
Due: Features

fix(toolbar): horizontal wheel scrolling support
  src/features/toolbar/components/ToolbarContent/ToolbarContent.tsx
  src/utils/hooks/useWheelHorizontalScroll.test.tsx
  src/utils/hooks/useWheelHorizontalScroll.ts
Due: Features, Utilities
