Repository konturio/disaster-ninja-fe: changes, and which Codecov flags are due for each by the changed paths.
All: UI Components, Core Logic, Features, Utilities

integrate into global map
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/globalMapPopoverRegistry.ts
Due: UI Components, Core Logic

adr 3
  docs/architecture/ADR-003-Addendum-useEffect-Dependency-Solutions.md
  docs/architecture/ADR-003-MapPopover-DRY-Refactoring.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapPopoverIntegration.ts
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/index.ts
  src/core/map/popover/DebugMapPopoverProvider.tsx
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/types.ts
Due: UI Components, Core Logic

fixes and docs
  docs/architecture/ADR-002-MapPopover-Event-System-Integration.md
  docs/investigations/ConnectedMap-architecture.md
  docs/investigations/map-event-management-system.md
  docs/investigations/panels-report.md
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/popover/MapPopover.fixture.tsx
Due: Core Logic

adr update
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
Due: none

misc fixes
  src/components/Overlays/Popover.tsx
  src/core/map/MapPopover.md
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/types.ts
Due: UI Components, Core Logic

cleanups
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/GenericRenderer.ts
  src/core/logical_layers/renderers/MCDARenderer/popup.ts
  src/core/map/popover/DebugMapPopoverProvider.tsx
Due: Core Logic

rearch
  docs/architecture/ADR-002-Amendment-Service-Pattern-Enforcement.md
  docs/architecture/ADR-004-Type-Safe-Coordinate-System.md
  docs/architecture/ADR-005-Map-Interaction-System-Consolidation.md
  docs/investigations/architectural-debt-analysis.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariatePopoverProviders.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesPopoverProvider.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/GenericRenderer.ts
  src/core/logical_layers/renderers/GenericRendererPopoverProvider.tsx
  src/core/logical_layers/renderers/MCDARenderer/popup.ts
  src/core/map/hooks/useMapPopoverIntegration.ts
  src/core/map/hooks/useMapPopoverInteraction.ts
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/core/map/popover/MapPopoverProvider.tsx
Due: UI Components, Core Logic

cleanup
  src/core/map/hooks/useMapPopoverIntegration.ts
  src/core/map/popover/MapPopoverController.ts
Due: Core Logic

fix metrics
  src/core/logical_layers/renderers/BivariateRenderer/BivariatePopoverProviders.tsx
Due: Core Logic

ADR-004 Cleanup
  docs/architecture/ADR-002-MapPopover-Event-System-Integration.md
  docs/architecture/ADR-003-MapPopover-DRY-Refactoring.md
  docs/architecture/ADR-004-Type-Safe-Coordinate-System.md
  docs/architecture/MapPopover-Cleanup-Plan.md
  docs/investigations/architectural-debt-analysis.md
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/coordinateConverter.ts
  src/core/map/types.ts
Due: Core Logic

dry refactor
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  docs/architecture/ADR-003-MapPopover-DRY-Refactoring.md
  docs/architecture/MapPopover-Cleanup-Plan.md
  docs/architecture/MapPopover-SOLID-DRY-Violations-Report.md
  src/core/logical_layers/renderers/BivariateRenderer/BivariatePopoverProviders.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesPopoverProvider.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesRenderer.tsx
  src/core/logical_layers/renderers/GenericRenderer.ts
  src/core/logical_layers/renderers/GenericRendererPopoverProvider.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapClickHandler.ts
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/DebugMapPopoverProvider.tsx
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/core/map/popover/MapPopoverPositionCalculator.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/coordinateConverter.ts
  src/core/map/types.ts
  src/core/map/utils/maplibreCoordinateUtils.ts
Due: Core Logic

fixes
  docs/architecture/ADR-002-Amendment-Service-Pattern-Enforcement.md
  docs/architecture/ADR-003-Addendum-useEffect-Dependency-Solutions.md
  docs/architecture/ADR-003-MapPopover-DRY-Refactoring.md
  docs/investigations/architectural-debt-analysis.md
  src/core/map/hooks/useMapClickHandler.ts
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverController.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/coordinateConverter.ts
  src/core/map/types.ts
Due: Core Logic

refactor, solid fixes
  docs/architecture/ADR-002-MapPopover-Event-System-Integration.md
  docs/architecture/MapPopover-SOLID-DRY-Violations-Report.md
  docs/investigations/MapPopover-SOLID-Violations-Report.md
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapClickHandler.ts
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/types.ts
Due: Core Logic

doc style
  src/core/map/MapPopover.md
Due: Core Logic

review fixes
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  docs/architecture/ADR-002-Amendment-Service-Pattern-Enforcement.md
  docs/architecture/ADR-005-Map-Interaction-System-Consolidation.md
  src/core/logical_layers/renderers/GenericRendererPopoverProvider.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/types.ts
  src/core/map/utils/coordinateValidation.ts
  src/core/url_store/encoder.ts
Due: Core Logic

review fixes
  docs/architecture/ADR-001-MapPopover-Migration-Architecture.md
  docs/investigations/ConnectedMap-architecture.md
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/index.ts
  src/core/map/popover/MapPopoverPositionCalculator.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/utils/maplibreCoordinateUtils.ts
Due: Core Logic

remove outdated code
  src/components/ConnectedMap/map-libre-adapter/index.tsx
Due: UI Components

Refactor ConnectedMap component to utilize new modular architecture with Suspense-based loading
  docs/architecture/ADR-006-Migration-Guide.md
  docs/architecture/ADR-006-useMaplibre-Hook-Architecture.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useApplicationMap.ts
  src/core/map/hooks/useMapEffect.ts
  src/core/map/hooks/useMapEvents.ts
  src/core/map/hooks/useMapInstance.ts
  src/core/map/hooks/useMapLayers.ts
  src/core/map/hooks/useMapPositionTracking.ts
  src/core/map/index.ts
  src/core/map/plugins/MapPlugin.ts
  src/core/map/plugins/MapPopoverPlugin.ts
  src/core/map/providers/IMapProvider.ts
  src/core/map/providers/MapLibreProvider.ts
Due: UI Components, Core Logic

Refactor boundary selector to use mappopover system
  docs/investigations/boundary-selector-mapopopover-migration.md
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/features/boundary_selector/atoms/boundaryMarkerAtom.ts
  src/features/boundary_selector/atoms/boundaryRegistryAtom.ts
  src/features/boundary_selector/atoms/clickCoordinatesAtom.ts
  src/features/boundary_selector/components/BoundarySelectorContentProvider.tsx
  src/features/boundary_selector/components/getSelectorWithOptions.tsx
  src/features/boundary_selector/components/styles.module.css
  src/features/boundary_selector/control.ts
  src/features/boundary_selector/index.tsx
  src/features/boundary_selector/utils/createDropdownAsMarker.ts
Due: Core Logic, Features

fix
  src/features/boundary_selector/atoms/boundaryActions.ts
  src/features/boundary_selector/atoms/boundaryRegistryAtom.ts
Due: Features

adr5
  docs/architecture/ADR-005-Implementation-Status.md
  docs/architecture/ADR-005-Validation-Summary.md
  docs/investigations/R006-map-event-management.md
Due: none

fix
  src/features/boundary_selector/atoms/boundaryResourceAtom.ts
Due: Features

simplify selector code
  src/features/boundary_selector/atoms/boundaryActions.ts
  src/features/boundary_selector/atoms/boundaryResourceAtom.ts
  src/features/boundary_selector/components/BoundarySelectorContentProvider.tsx
Due: Features

fixes, new adr
  docs/architecture/ADR-005-Map-Interaction-System-Consolidation.md
  docs/architecture/ADR-007-Enhanced-MapPopover-Content-Provider-Architecture.md
  src/core/logical_layers/renderers/BivariateRenderer/BivariatePopoverProviders.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesPopoverProvider.tsx
  src/core/logical_layers/renderers/GenericRenderer.ts
  src/core/logical_layers/renderers/activeContributorsLayers.ts
  src/core/logical_layers/renderers/helpers/activeAndHoverFeatureStates.ts
Due: Core Logic

review fixes
  docs/architecture/ADR-006-Migration-Guide.md
  docs/investigations/R007-map-type-standardization.md
  docs/investigations/R008-antimeridian-popover-positioning.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/components/Overlays/MarkdownContent.tsx
  src/components/Overlays/Popover.tsx
  src/components/Uni/__mocks__/fixture.module.css
  src/core/draw_tools/renderers/DrawModeRenderer.ts
  src/core/logical_layers/renderers/BivariateRenderer/BivariatePopoverProviders.tsx
  src/core/logical_layers/renderers/BivariateRenderer/BivariateRenderer.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesPopoverProvider.tsx
  src/core/map/hooks/useApplicationMap.ts
  src/core/map/hooks/useMapInstance.ts
  src/core/map/hooks/useMapLayers.ts
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/hooks/useMapPositionTracking.ts
  src/core/map/index.ts
  src/core/map/plugins/MapPlugin.ts
  src/core/map/plugins/MapPopoverPlugin.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/popover/globalMapPopoverRegistry.ts
  src/core/map/providers/MapLibreProvider.ts
  src/core/map/types.ts
  src/core/map/utils/coordinateValidation.ts
  src/core/map/utils/maplibreCoordinateUtils.ts
  src/features/boundary_selector/atoms/boundaryActions.ts
  src/features/boundary_selector/components/BoundarySelectorContentProvider.tsx
Due: UI Components, Core Logic, Features

adr updates
  docs/architecture/ADR-007-Enhanced-MapPopover-Content-Provider-Architecture.md
Due: none

misc fixes
  src/core/draw_tools/renderers/DrawModeRenderer.ts
  src/core/shared_state/mapListeners.ts
Due: Core Logic

review fixes
  src/components/Overlays/MarkdownContent.tsx
  src/core/map/hooks/useApplicationMap.ts
Due: UI Components, Core Logic

review fixes
  src/components/ConnectedMap/ConnectedMap.tsx
  src/components/Overlays/MarkdownContent.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useApplicationMap.ts
  src/core/map/hooks/useMapLayers.ts
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/hooks/useMapPositionTracking.ts
Due: UI Components, Core Logic

fixes
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/index.ts
Due: UI Components, Core Logic

event fixes and cleanup
  docs/investigations/R006-map-event-management.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/shared_state/mapListeners.ts
  src/core/types/index.ts
  src/features/boundary_selector/constants.ts
  src/utils/map/markers.ts
Due: UI Components, Core Logic, Features, Utilities

simplify map usage
  docs/architecture/ADR-007-Pragmatic-Map-Loading-Architecture.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/hooks/useApplicationMap.ts
  src/core/map/hooks/useMapEffect.ts
  src/core/map/hooks/useMapEvents.ts
  src/core/map/hooks/useMapInstance.ts
  src/core/map/hooks/useMapPopoverPriorityIntegration.ts
  src/core/map/hooks/useMapPositionTracking.ts
  src/core/map/index.ts
  src/core/map/plugins/MapPopoverPlugin.ts
  src/core/map/providers/IMapProvider.ts
  src/core/map/providers/MapLibreProvider.ts
  src/core/map/types.ts
Due: UI Components, Core Logic

investigation
  docs/investigations/R009-MapPopover-Position-Tracking-Architecture-Analysis.md
  src/components/ConnectedMap/ConnectedMap.tsx
Due: UI Components

refactor map integration and event handling; streamline atom usage and remove unused code
  docs/architecture/ADR-008-MapPopover-Priority-Event-Integration.md
  docs/investigations/R010-mappopover-implementation.md
  docs/investigations/R011-coordinate-tracking-rearchitecture.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/shared_state/currentMapPosition.ts
  src/core/shared_state/mapListeners.ts
Due: UI Components, Core Logic

optimize coordinate handling, and improve performance with memoization
  docs/architecture/ADR-013-Coordinate-Tracking-Rearchitecture.md
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/hooks/useMapPositionTracker.ts
  src/core/map/index.ts
  src/core/map/utils/containerRectManager.ts
  src/core/map/utils/maplibreCoordinateUtils.ts
  src/core/map/utils/projectionFunction.ts
Due: UI Components, Core Logic

refactor popover providers to use shared context and priority system; enhance feature querying and improve event handling
  src/core/logical_layers/renderers/BivariateRenderer/BivariatePopoverProviders.tsx
  src/core/logical_layers/renderers/ClickableFeaturesRenderer/ClickableFeaturesPopoverProvider.tsx
  src/core/logical_layers/renderers/GenericRendererPopoverProvider.tsx
  src/core/map/popover/DebugMapPopoverProvider.tsx
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/core/map/popover/MapPopoverProvider.tsx
  src/core/map/types.ts
  src/features/boundary_selector/components/BoundarySelectorContentProvider.tsx
Due: Core Logic, Features

remove outdated ADR documents and refactor MapPopover architecture; implement mediator pattern for improved event handling and resource coordination
  docs/architecture/ADR-006-useMaplibre-Hook-Architecture.md
  docs/architecture/ADR-007-Enhanced-MapPopover-Content-Provider-Architecture.md
  docs/architecture/ADR-007-Pragmatic-Map-Loading-Architecture.md
  docs/architecture/ADR-008-MapPopover-Priority-Event-Integration.md
  docs/architecture/ADR-010-MapListeners-Reatom-v3-Migration.md
  docs/investigations/ConnectedMap-architecture.md
Due: none

doc fix
  src/core/map/MapPopover.md
Due: Core Logic

refactor MapPopover documentation and implementation; enhance provider coordination, priority management, and tool integration features
  src/core/map/MapPopover.md
  src/core/map/popover/MapPopoverContentRegistry.ts
  src/core/toolbar/index.ts
  src/features/boundary_selector/atoms/boundaryRegistryAtom.ts
Due: Core Logic, Features

refactor ConnectedMap and MapPopover integration; introduce injectable event handlers for improved decoupling, enhance documentation on event handling patterns, and streamline map instance management
  src/components/ConnectedMap/ConnectedMap.tsx
  src/core/map/MapPopover.md
  src/core/map/hooks/useMapPopoverMaplibreIntegration.ts
  src/core/map/popover/MapPopover.fixture.tsx
  src/core/map/types.ts
  src/core/map/utils/maplibreCoordinateUtils.ts
Due: UI Components, Core Logic

Path conditions:
  UI Components: any of: src/components/**, src/widgets/**, src/views/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Core Logic: any of: src/core/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Features: any of: src/features/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
  Utilities: any of: src/utils/**, but not: **/*.json, configs, cosmos, patches, scripts, vite.proxy.ts, vite.config.ts, postcss.config.ts, i18next-scanner.config.cjs, cosmos.vite.config.ts, .dependency-cruiser.cjs, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/test/**, **/testing/**, **/vitest/**, **/__mocks__/**, **/mocks/**, **/*.mock.ts, **/*.mock.tsx, **/__fixtures__/**, **/fixtures/**, **/*.fixture.ts, **/*.fixture.tsx, **/test-utils/**, **/testUtils/**, **/*.test-utils.ts, **/*.test-utils.tsx
